@model SG2.CORE.MODAL.ViewModals.Customers.ResendEmailViewModel
@using SG2.CORE.COMMON
@{
    ViewBag.Title = "VerifyEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @if (!string.IsNullOrEmpty(ViewBag.Success) && ViewBag.Success == "Yes")
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-block alert-success">
                    <p>
                        <strong>
                            <i class="ace-icon fa fa-check"></i>
                            Success!
                        </strong>
                        @ViewBag.SuccessMessage
                    </p>
                </div>
            </div>
        </div>
    }

</div>
<div class="mainIntro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="intro2 " data-aos="fade-left">
                    <br />
                    <br />
                    <br />
                    <h1>Thank you. Your email has successfully verified.</h1>
                    <p></p>

                    <br />
                    @using (Html.BeginForm("ResendEmail", "Home", FormMethod.Post, new { @id = "" }))
                    {
                        @Html.HiddenFor(model => model.CustomerId)

                        <input type="submit" class="btn btn-primary" id="btn_SaveEmailSubscription" value="Resend Email" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .intro2 {
        text-align: center;
        min-height: 300px;
        padding: 20px 0;
    }

        .intro2 h1 {
        }
</style>