
@{
    ViewBag.Title = "Agency";
    Layout = "~/Views/Shared/_Layout_LoggedInNew.cshtml";
}
<section class="welcome-area hero3" id="home">
    <!-- Background Shape-->
    <div class="hero3-bg-shape"><img class="w-100" src="/Content/Theme-Enviro/img/core-img/hero-3.png" alt=""></div>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6">
                <!-- Content-->
                <div class="welcome-content pr-3">
                    <h2>The Most Powerful Organic Growth Tool<br /> <span>for Agencies.</span></h2>
                    <p class="mb-4">Build your business with the latest in integrated technology utilizing machine learning and real Instagram integration.</p>

                    <div class="btn-group-two"><a class="btn radix-btn white-btn mr-3 mt-3" href="/Account/SignUp">Get Started</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area-->
<section class="about-area about4 section-padding-0-120 bg-gray">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <!-- About Us Content Area-->
            <div class="col-12 col-lg-6">
                <div class="aboutUs-content mt-120 pr-5">
                    <div class="section-heading mb-5">

                        <h3>
                            Machine Learning
                        </h3>
                        <p>Log into Instagram on your android mobile device, then install our app. Every minute of every day our app utilizes machine learning to identify the best people to target.</p>
                    </div>
                    <div class="section-heading mb-5">

                        <h3>
                            Native App Integration
                        </h3>
                        <p>
                            Our native app integration means we talk directly to Instagram to perform actions based on the results of the learning process. It’s a system that gets smarter every day.
                        </p>
                    </div>
                    <div class="section-heading mb-5">


                    </div>
                </div>
            </div>
            <!-- About Us Thumbnail Area-->
            <div class="col-12 col-lg-6">
                <div class="aboutUs-thumbnail mt-120"><img class="w-100" src="/Content/Theme-Enviro/img/bg-img/hero-8.png" alt=""></div>
            </div>
            <div class="col-12 col-lg-12">
                <h3>
                    You Manage Targeting & Preferences

                </h3>
                <p>
                    Machine learning does not mean a machine takes over. Instead, we provide the tools to limit follow/unfollow, story views, likes and set the structure of direct messages while maintaining control of targeting and ignore lists.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="radix-cool-facts-area section-padding-120-70">
    <!-- Circle Animation-->
    <div class="circle-animation">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="section-heading text-center">
                    <h2>The Most Powerful Organic <span>  Growth Tool   </span> without risking your account.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Single Cool Facts Area-->
            <div class="col-12 col-sm-4">
                <div class="single-cool-fact mb-50 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="100ms">
                    <h2><span class="rs-counter">5000 </span>+</h2>
                    <p>Influencers</p>
                </div>
            </div>
            <!-- Single Cool Facts Area-->
            <div class="col-12 col-sm-4">
                <div class="single-cool-fact mb-50 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2><span class="rs-counter">1500</span></h2>
                    <p>Agencies</p>
                </div>
            </div>
            <!-- Single Cool Facts Area-->
            <div class="col-12 col-sm-4">
                <div class="single-cool-fact mb-50 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h2><span class="rs-counter">500</span>k</h2>
                    <p>Followers gained today</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="border-dashed"></div>
</div>

<div class="feature-area feature4">
    <!-- Feature Side Thumb-->
    <div class="feature-side-thumbnail"><img src="/Content/Theme-Enviro/img/bg-img/19.png" alt=""></div>
    <div class="feature-box-one section-padding-120-40">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-6">
                    <div class="feature--thumb mb-80"><img src="/Content/Theme-Enviro/img/bg-img/hero-3.png" alt=""></div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="feature--text mb-80">
                        <h2>
                            The perfect solutions for
                            your business & personal
                            growth
                        </h2>
                        <p class="mb-4">
                            It’s crafted with the latest trend of design & coded
                            with all modern approaches.  It’s a robust & multi-
                            dimensional social growth platform built for you.
                        </p>
                        <ul>
                            <li class="mb-3"><i class="mr-3 lni-check-mark-circle"></i>Machine Learning</li>
                            <li class="mb-3">
                                <i class="mr-3 lni-check-mark-circle"></i>No Password Needed
                            </li>
                            <li class="mb-3"><i class="mr-3 lni-check-mark-circle"></i>Don’t be Spammed by Scam</li>
                            <li class="mb-3"><i class="mr-3 lni-check-mark-circle"></i>Built for Instagram’s 2020 Algorithm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="border-dashed"></div>
    </div>
    <div class="section-padding-120">
        <div class="container feature-box-two px-5 pt-5">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>01.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>Don’t be Scammed with Spam</h5>
                            <p>
                                No spam, no fake injected followers, no bots, no fake like exchanges. Just pure organic growth powered by cutting edge machine learning.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>02.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                No Proxies Needed - Save $$

                            </h5>
                            <p>
                                It’s simple, the customer installs a white-labeled app that allows our technology access to their Instagram accounts via the Facebook Graph API. This provides accurate login location and no need for proxies.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>03.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                No Client Password Required.

                            </h5>
                            <p>
                                Our Instagram native app integration means we do not require the client to provide their password at any time. They simply log in to Instagram before opening our app.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>04.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                Benefits of a Single Dedicated Device

                            </h5>
                            <p>
                                We recommend the customer to purchase a low-cost android mobile phone, connect their device to wifi or cellular and install the machine learning app. Although the app runs in the background, the device owner will notice a reduction in battery life.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>05.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                No Compromised Accounts

                            </h5>
                            <p>
                                Compromised accounts are all but forgotten thanks to the native integration and being logged into the same location as the customer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>06.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                Unlimited Client Accounts

                            </h5>
                            <p>
                                Your business is infinitely scalable. Since your clients install the app you are not required to bank or rack any devices (although you can if you want). Simply add a new customer, update the targeting and direct them to download the app via link or play store.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>07.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                Stack & Rack Managed Clients

                            </h5>
                            <p>
                                Deploy your branded app to your clients or charge them a hands-off premium service where you can stack & rack devices in-house and run each device using a free VPN location to best reflect your managed client.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>08.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                Choose Remote Management or Client Installation

                            </h5>
                            <p>
                                We have the option to remotely manage clients by installing the app on your own device and logging into Instagram as the client. This is not preferred due to multiple login locations, but it is possible.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>09.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                Build a White Label Business
                            </h5>
                            <p>
                                Customize your very own app, add to the play store (iOS coming soon) and direct customers to download the app. Personalize the app with your company name, logo, brand colors, and growth slogan.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>10.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                100% Safe - 256 Bit SSL Secure

                            </h5>
                            <p>
                                We do not use third party software like Jarvee, Follow Liker, Mass Planner, proxies, VPS’s or anything which may jeopardize client security.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-8">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>11.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                Drastically Reduce Blocks.
                            </h5>
                            <p>
                                The major difference to using 3rd party bots is that they are not natively integrated to the social media platform (particularly Instagram). Therefore any API update or localized change causes detection of these bots by the AI of Instagram resulting in temporary blocks, hard 3, 7, 14 day blocks, and permanent blocks. By natively integrating we have significantly reduced the risk of any blocks to virtually nil.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="video--area section-padding-120 bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/15.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="video-content d-sm-flex align-items-center justify-content-center section-padding-120">
                    <div class="card video-card border-0">
                        <div class="card-body p-0"><a class="video-play-btn" href=""><i class="lni-play"></i><span class="video-sonar"></span></a></div>
                    </div>
                    <h2 class="mb-0 ml-0 ml-sm-5 text-white">View our presentation</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our-partner-area partner3 p-2">
    <p class="text-center">Coming Soon ... Growth tools for</p>
    <div class="container mt-20 mb-20">
        <div class="row">
            <div class="col-12">
                <div class="our-partner-slides owl-carousel">
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/IG.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/LinkedIn.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/Pinterest.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/Twitter.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/YouTube.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/IG.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/LinkedIn.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/Pinterest.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/Twitter.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/YouTube.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-btn-area ml-5 mt-5 mt-lg-0 text-center"><a class="btn radix-btn white-btn" href="/Account/SignUp">Get Started</a></div>

</div>