
@{
    ViewBag.Title = "Home";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Frequently Asked Questions for start automating your LinkedIn outreach with Connect Wizz.">
    <meta name="keywords" content="faqs,social growth, Linked in growth, boost Linked in, Connect Wizz, social growth app, social growth api, Linked in api, Linked in automation">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>FAQs - Boost your leads and fan bases. Leading growth automation tools - 2021</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Theme-CA/img/core-img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Theme-CA/img/core-img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Theme-CA/img/core-img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Theme-CA/img/core-img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Theme-CA/img/core-img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Theme-CA/img/core-img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Theme-CA/img/core-img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Theme-CA/img/core-img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Theme-CA/img/core-img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Theme-CA/img/core-img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Theme-CA/img/core-img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Theme-CA/img/core-img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Theme-CA/img/core-img/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Theme-CA/img/core-img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Theme-CA/img/core-img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Core Stylesheet -->
    <link href="~/Content/Theme-CA/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="~/Content/Theme-CA/css/responsive.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3N5PN3D82"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H3N5PN3D82');
    </script>
    <style>
        .rounded {
            border-radius: 1.25rem !important
        }

        .list-group-item {
            padding: .05rem 1.25rem;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '783583319163061');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=783583319163061&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>




    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/">Connect Wizz</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="~/faqs">FAQs</a></li>
                                  
                                    <li class="nav-item"><a class="nav-link" href="~/account/login">Login</a></li>

                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="/account/signup">Get PIN Code</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="/account/signup">Get PIN Code</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home" style="height:250px;">

        <!-- Welcome thumb -->

    </section>

    <section class="special-area bg-white ">
        <!-- Special Description Area -->
        <div class="special_description_area bg-white ">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-xl-12 ml-xl-auto">
                        <div class="special_description_content text-center mb-4">
                            <h2 class="text-center">Frequently Asked Questions</h2>


                            <div class="col-10 mx-auto text-left mt-4">
                                <h2 class="pb-3 align-left display-4" style="font-size:1.8rem;">
                                    Who are we …
                                </h2>
                                <div class="accordion" id="faqExample">
                                    <div class="card">
                                        <div class="card-header p-2" id="headingOne">
                                            <h5 class="mb-0 overflow-auto">
                                                <button class="btn btn-link" style="white-space:initial" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Q: Who are Connect Wizz?
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                                            <div class="card-body">
                                                <b>Answer:</b> We are a collective team of Social Media Experts, born from a
                                                frustration of badly developed tools & black hat services that either
                                                didn't produce results or produced poor results.
                                                We use our very own private network of elite software developers
                                                the world over to protect your account and help you grow safely,
                                                organically and only use approved methods by the social networks.<br /><br />
                                                We invest heavily in externally audited review platforms like Trust
                                                Pilot and we operate our customer support desk 24/7 to assist at
                                                any given point. Beware of imitators and fraudulent players.<br /><br />
                                                Connect Wizz is a registered USA limited liability company with
                                                offices in the UK, Australia and the Americas.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" style="white-space:initial" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Q: What makes you guys (and gals) different?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                                            <div class="card-body">
                                                Good question! The reason over 600 brands and influencers have
                                                chosen to work with us is because we focus on getting you organic
                                                followers that are genuinely interested in your brand.
                                                We’re growing our customer base because we only use approved
                                                methods and algorithms as stated by the social networks.<br /><br />
                                                We never ask for you password or burn up your accounts. Our
                                                ORGANIC magic all happens on your laptops, with you logging in
                                                once, avoiding any soft or hard blocks, not using fake proxy its
                                                addresses to pose as you sitting in another city.<br /><br />
                                                We don’t promise unrealistic growth, we always warm up your
                                                accounts safely and sensibly engaging with real people.<br /><br />
                                                We have a proprietary set of filters that make sure we only engage
                                                with real users - none of those spam or fake accounts that end up
                                                disappearing after a few weeks.<br /><br />
                                                We only pass your growth and targeting preferences to approved
                                                API applications that use approved API methods instead of
                                                embedded web browsers to scrape or bot indiscriminately.<br /><br />
                                                Other growth services will guarantee a certain number of followers
                                                you’ll gain, tell you to buy followers, or use an auto-comment
                                                method. We don’t engage in that kind of spammy behavior. ConnectWizz focuses only on getting you real followers - that will
                                                not only provide social proof but ultimately grow your business as
                                                well.<br /><br />
                                                Finally, the proofs in the pudding. We give you live graphs,
                                                charts and touchpoint to show you our performance on a daily
                                                basis.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="headingThree">
                                            <h5 class="mb-0 overflow-hidden">
                                                <button class="btn btn-link collapsed" style="white-space:initial" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Q. Can I use my account while I use Connect Wizz growth
                                                    tools and services?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                                            <div class="card-body">
                                                Yes you can ;) You're able to use your accounts as you normally do
                                                while your account manager is hard at work in the background
                                                tweaking your target filters to get you more accurate engagement at
                                                a faster pace.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="headingFour">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" style="white-space:initial" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    Q. Do you post content for me too?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                                            <div class="card-body">
                                                This is something your account manager does not do. Social Media
                                                is all about personal style and creative control! As such, none of
                                                our account managers offer this as a service.<br /><br />
                                                We suggest that you seek out your industry influencers, bloggers
                                                and experts and engage with them and discuss how they can help
                                                you create content and posts if you’re struggling to create your own.
                                                Also refer to out Instagram account for the latest tips and tricks to
                                                create engaging posts.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header p-2" id="headingFive">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    Q. Who are Connect Wizz account managers and what do
                                                    they do ?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                                            <div class="card-body">
                                                We consider a Connect Wizz account manager your personal
                                                Social Media ‘guru' or ‘expert’. You are designated an account
                                                manager as soon as you sign up, and they work on growing your
                                                accounts for as long as you're with Connect Wizz.<br /><br />
                                                When you first sign up, you're asked to describe what your account
                                                is about. In example, you may be an avid foodie enthusiast, posting
                                                pictures of you cooking or visiting your favorite restaurants and
                                                takeouts.<br /><br />
                                                Specifying this helps your account manager find the right users to
                                                engage with - real people who would appreciate your content.
                                                Your account manager also engages with followers of users that
                                                you have specified.<br /><br />
                                                For example, you may want followers that are similar (or the same)
                                                as another food critic or influencer. Your account manager will
                                                engage with these people.

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="headingSix">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                    Q. Who are Connect Wizz account managers and what do
                                                    they do ?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                                            <div class="card-body">
                                                We consider a Connect Wizz account manager your personal
                                                Social Media ‘guru' or ‘expert’. You are designated an account
                                                manager as soon as you sign up, and they work on growing your
                                                accounts for as long as you're with Connect Wizz.<br /><br />
                                                When you first sign up, you're asked to describe what your account
                                                is about. In example, you may be an avid foodie enthusiast, posting
                                                pictures of you cooking or visiting your favorite restaurants and
                                                takeouts.<br /><br />
                                                Specifying this helps your account manager find the right users to
                                                engage with - real people who would appreciate your content.
                                                Your account manager also engages with followers of users that
                                                you have specified.<br /><br />
                                                For example, you may want followers that are similar (or the same)
                                                as another food critic or influencer. Your account manager will
                                                engage with these people.

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="headingSeven">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                    Q. How do i get an account manager?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqExample">
                                            <div class="card-body">
                                                As soon as you sign up for a growth service, we'll match you with a
                                                dedicated account manager.<br /><br />
                                                Your account manager then looks through your account(s) and how
                                                you've set up your account(s). From there, your Connect Wizz
                                                account manager will help you grow your audience, finding
                                                you active organic followers that engage with your content safely
                                                and at a pace that reflects your growth potential.<br /><br />
                                                We don’t just jump in and accelerate engagement immediately. We
                                                steadily warm up your account with more and more engagement
                                                actions each day until we reach the optimal actions for you using
                                                your target filters and reaching out to people that ad value to your
                                                account.

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="headingEight">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                    Q. Is This Service Guaranteed?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqExample">
                                            <div class="card-body">
                                                Yes, <b>our service is guaranteed</b> by a 10 day money back
                                                guarantee. If we fail to deliver we will gladly refund your
                                                membership within the scope of our Ten Day Satisfaction
                                                Guarantee.

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h9">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c9" aria-expanded="false" aria-controls="c9">
                                                    Q. How Quickly Can You Start?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c9" class="collapse" aria-labelledby="h9" data-parent="#faqExample">
                                            <div class="card-body">
                                                As quick as you sign up now, set your target filters online and
                                                download the app on your laptop - 15 mins tops. You will be then
                                                assigned a dedicated account manager that will help you tweak
                                                your target filters and engagement actions, provide customer
                                                service and account oversight for the life of your membership.
                                                We’re confident you’ll see real growth within days, that why we give
                                                you a free life time trial ;)


                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h10">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c10" aria-expanded="false" aria-controls="c10">
                                                    Q. Is there a contract or is the service month to month?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c10" class="collapse" aria-labelledby="h10" data-parent="#faqExample">
                                            <div class="card-body">
                                                Our growth packages are billed once a month. You may cancel or pause them at anytime throughout
                                                your membership. You will have access to a dashboard that will
                                                allow you to upgrade, downgrade and cancel your services at your
                                                convenience.



                                            </div>
                                        </div>
                                    </div>

                                    <h2 class="pt-3 pb-3 align-left display-4 mt-4" style="font-size:1.8rem;">
                                        Are our growth tools safe …
                                    </h2>

                                    <div class="card">
                                        <div class="card-header p-2" id="h11">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c11" aria-expanded="false" aria-controls="c11">
                                                    Q. Is my account information secure?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c11" class="collapse" aria-labelledby="h11" data-parent="#faqExample">
                                            <div class="card-body">
                                                Yes. Connect Wizz follows industry-leading security
                                                measures at our agency to protect your data. Firstly, your account
                                                manager never shares any of your personal information. Any
                                                information that is passed through the Connect Wizz
                                                dashboard uses SHA-256 encryption and any password is never
                                                stored in our database.<br /><br />
                                                All Connect Wizz account managers follow strict security
                                                guidelines that maximize the safety of your account. We never ask
                                                for your password!! All engagement actions are done on your
                                                personal device using only approved growth algorithms and
                                                methods.<br /><br />
                                                We gently warm up your account with engagement actions and
                                                never engage with ghost accounts that issue out fake likes and fake
                                                followers.<br /><br />
                                                Basic, anonymous data (like how you browse the Connect Wizz
                                                 homepage) may be used to help us improve Connect Wizz
                                                service and algorithms, but your personal information will
                                                never be used, never be passed on to a third party, or mishandled.<br /><br />
                                                We take your privacy very seriously. Please refer to our Privacy
                                                Policy for more details.




                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h12">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c12" aria-expanded="false" aria-controls="c12">
                                                    Q. Do you require my username and password?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c12" class="collapse" aria-labelledby="h12" data-parent="#faqExample">
                                            <div class="card-body">
                                                No! Not only is this extremely unsafe it's also highly frowned upon
                                                by the Instagram platform. Our services are built around authentic
                                                engagement and growth and we will never ask for your password.





                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h13">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c13" aria-expanded="false" aria-controls="c13">
                                                    Q. Is Connect Wizz safe to use with my social accounts?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c13" class="collapse" aria-labelledby="h13" data-parent="#faqExample">
                                            <div class="card-body">
                                                Yes, Connect Wizz is very safe to use! We only use approved
                                                growth tactics and grow your accounts organically, never using bots
                                                or shady tricks to show you rapid growth with fake followers, fake
                                                likes or engage with ghost accounts.<br /><br />
                                                Our account managers have been trained to protect your data with
                                                the highest level of security as well as protect you and every other
                                                customer that they manage. Not only will you see real results, but
                                                you can feel safe at the same time.<br /><br />
                                                Our account managers don’t just jump in and accelerate
                                                engagement immediately. They steadily warm up your account with
                                                more and more engagement actions each day until they reach the
                                                optimal actions for you using your target filters and reaching out to
                                                people that ad value to your account.





                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="card">
                                        <div class="card-header p-2" id="h15">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c15" aria-expanded="false" aria-controls="c15">
                                                    Q. How many followers and leads should I expect by using Connect Wizz
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c15" class="collapse" aria-labelledby="h15" data-parent="#faqExample">
                                            <div class="card-body">
                                                As each account is different, this number will vary. If you’re
                                                consistently posting high-quality content, you’re definitely going to
                                                see a higher number of Instagram followers. We can’t guarantee
                                                any specific number of followers because these are real people who
                                                have to decide by themselves whether or not to follow you.<br /><br />
                                                Please don’t believe any company that says they can guarantee a
                                                specific number of followers – it’s just not possible.<br /><br />
                                                Our account managers don’t just jump in and accelerate
                                                engagement immediately. They steadily warm up your account with
                                                more and more engagement actions each day until they reach the
                                                optimal actions for you using your target filters and reaching out to
                                                people that ad value to your account.<br /><br />
                                                But generally, you’ll start seeing and noticing real growth about 2
                                                weeks after you sign up with us. We aim to achieve 10x growth
                                                over a 12 month period for you safely and organically.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h16">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c16" aria-expanded="false" aria-controls="c16">
                                                    Q. Will Connect Wizz work for my industry?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c16" class="collapse" aria-labelledby="h16" data-parent="#faqExample">
                                            <div class="card-body">
                                                Yes, it will! It doesn’t matter what type of account you run, our
                                                process is exactly the same. As long as there are people on
                                                Instagram, Linked In or Facebook who are interested in your brand,
                                                Connect Wizz will work for you.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h17">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c17" aria-expanded="false" aria-controls="c17">
                                                    Q. Why do I need more Linked In
                                                    followers?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c17" class="collapse" aria-labelledby="h17" data-parent="#faqExample">
                                            <div class="card-body">
                                                There is a lot to be said for being seen as being credible or proof on
                                                social media. Nowadays, you could have the best product in the
                                                world, but if you only have a few hundred followers you will lose
                                                credibility.<br /><br />
                                                Connect Wizz helps you get more REAL followers on
                                                Instagram, Linked In and Facebook. More followers means better
                                                social proof and increased brand awareness, which leads to more
                                                gigs, paid partnerships, and sales for your business!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h18">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c18" aria-expanded="false" aria-controls="c18">
                                                    Q. Do you follow/unfollow or leave auto comments?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c18" class="collapse" aria-labelledby="h18" data-parent="#faqExample">
                                            <div class="card-body">
                                                No! We try to remain as authentic and transparent as possible so
                                                we just stick to liking and following real usernames that match your
                                                target filters and with accounts that have active recent engagement,
                                                that means NO follow/unfollow or spammy comments or DM’s
                                                random, fake or ghost accounts.<br /><br />
                                                The liking and follower method acts as a tap on the shoulder - just
                                                letting them know, “Hey we’re here, check us out!” Our number one
                                                priority is to protect your brand’s equity and keep your account
                                                secure.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h19">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c19" aria-expanded="false" aria-controls="c19">
                                                    Q. What Methods Are Used To Grow My Account?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c19" class="collapse" aria-labelledby="h19" data-parent="#faqExample">
                                            <div class="card-body">
                                                We use several different methods depending on your growth
                                                goals and target audience. In other words, it's a custom approach
                                                for each account.<br /><br />
                                                Primarily, We use a unique targeted growth algorithmic formula to
                                                send users and traffic to your posts, which leads to more reach,
                                                more impressions, and promoting your content to the 
                                                Linked In explore pages and top posts for the
                                                hashtags and location tags that are relevant to your audience.<br /><br />
                                                Our team works very hard to organically place you and your content
                                                in front of targeted users primarily through explore page discovery,
                                                power likes, and highly efficient targeted engagement - This leads
                                                to an increase in new followers and increased organic engagement.<br /><br />
                                                Our account managers always encourage you to provide us with a
                                                list of target Instagram accounts that have followers that you’d like
                                                to attract e.g. like your competitors Linked In usernames,
                                                complementary brands, influencers in your niche, etc.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h30">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c30" aria-expanded="false" aria-controls="c30">
                                                    Q. Can I change my plan later?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c30" class="collapse" aria-labelledby="h30" data-parent="#faqExample">
                                            <div class="card-body">
                                                Yes, you can upgrade or downgrade at any time. If you choose to upgrade, you'll pay a pro-rated amount for the rest of the month. If you choose to downgrade, you'll be credited on next month's bill.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h31">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c31" aria-expanded="false" aria-controls="c31">
                                                    Q. Can I cancel my plan later?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c31" class="collapse" aria-labelledby="h31" data-parent="#faqExample">
                                            <div class="card-body">
                                                If you no longer wish to use Connect Wizz, you may cancel your subscription any time. Your plan will be accessible till the end of the billing period.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h32">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c32" aria-expanded="false" aria-controls="c32">
                                                    Q. Can you charge me in my local currency?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c32" class="collapse" aria-labelledby="h32" data-parent="#faqExample">
                                            <div class="card-body">
                                                Unfortunately, at the moment we only accept payments in USD. We also accept all major credit/debit cards.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h33">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c33" aria-expanded="false" aria-controls="c33">
                                                    Q. Do you offer any discounts?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c33" class="collapse" aria-labelledby="h33" data-parent="#faqExample">
                                            <div class="card-body">
                                                Yes! When you choose to get yearly subscription, we will give you 2 months free, so you will pay for 10 months. Speak to your account manager about paying on a yearly plan.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="h34">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" style="white-space:initial" data-toggle="collapse" data-target="#c34" aria-expanded="false" aria-controls="c34">
                                                    Q. Do I need to know how to code for this tool?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="c34" class="collapse" aria-labelledby="h34" data-parent="#faqExample">
                                            <div class="card-body">
                                                Never! Connect Wizz is no-code platform, it doesn't matter whether you are a sales person or into marketing. Our support team are always here to help you by chat and email should you need assistance.
                                            </div>
                                        </div>
                                    </div>
                                   

                                </div>











                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>



    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>Connect Wizz</h2>
        </div>
        <!-- social icon-->
        <div class="footer-social-icon">
            @*<a href="https://www.facebook.com/Social-Planner-Pro-101614715056409/?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>*@

            <a href="https://www.instagram.com/pickytee_social_pro/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>

            <a href="https://www.youtube.com/channel/UCeOd1a_9B1quA5c_JEFMX-g"> <i class="fa fa-youtube" aria-hidden="true"></i></a>

            @*<a href="https://www.linkedin.com/company/social-planner-pro"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>*@
        </div>

        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                 
                    <li><a href="/faqs">FAQs</a></li>
                    <li><a href="/pages/TermsConditions">Terms &amp; Conditions</a></li>
                    <li><a href="/pages/PrivacyPolicy">Privacy Policy</a></li>
                    <li><a href="/pages/CookiesPolicy">Cookies Policy</a></li>
                    <li><a href="/index#contact">Contact</a></li>

                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>Copyright ©2021 Connect Wizz</p>
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->
    <!-- Jquery-2.2.4 JS -->

    <script src="~/Content/Theme-CA/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/Theme-CA/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="~/Content/Theme-CA/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="~/Content/Theme-CA/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="~/Content/Theme-CA/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="~/Content/Theme-CA/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="~/Content/Theme-CA/js/active.js"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/sweetalert.min.js"></script>
    <script src="~/Content/app-assets/js/scripts/extensions/sweet-alerts.js"></script>
    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="~/pages/CookiesPolicy" target="_blank">Learn more</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            I agree
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    <script>

        $(function () {



            $("#contactform").submit(function (e) {
                // stop the regular form submission

                e.preventDefault();
                addData();
            });
        });

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }


        function addData() {
            $.ajax({
                type: "POST",
                url: "/contactform",
                data: JSON.stringify(getFormData($("#contactform"))),
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                dataType: "json",
                success: function (data, status, jqXHR) {

                    swal("Success!", "Thank you for contacting us. Connect Wizz will get back to you on the specified email!", "success")
                },

                error: function (jqXHR, status) {
                    // error handler
                    console.log(jqXHR);
                    alert('fail' + status.code);
                }
            });
        }
    </script>
    <script src="//code.tidio.co/vs2afulzirphvfvcttbry1xhkgstiimk.js" async></script>
    <script>
        fbq('track', 'PageView');
    </script>
</body>

</html>
