
@{
    ViewBag.Title = "How We Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mainIntro1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
                <div class="intro1 animated slideInLeft">
                    <h1>
                        WE WORK
                    </h1>
                    <h2>HARDER & FASTER</h2>
                    <p>Our service helps you grow your Instagram account, with powerful Instagram growth, get real Instagram followers & engagement.</p>
                    <p>Real growth, real people.</p>
                    <a href="#" class="btn btn-default">Get Started For Free</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="intro2">
                    <img class="animated slideInUp" src="~/Content/ThemeAssets/Images/Super_Hero.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="WidgetTwoTypesGrowth">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>GROWTH TOOLS</p>
                <h1>TWO TYPE OF GROWTH HACKS</h1>
                <h4>CHANGE YOU PLAN ANYTIME</h4>
            </div>
            <div class="col-md-12">
                <img src="~/Content/ThemeAssets/Images/Growth-Engine.png" />
                <img src="~/Content/ThemeAssets/Images/Like_Exchange.png" />
            </div>
            <div class="col-md-12">
                <h4>GROWTH EXPERT</h4>
                <p>Social Growth helps you grow your Instagram followers with our fully managed service.</p>
                <button class="btn btn-success">GET STARTED FOR FREE</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Partial/_PartialWidgetGrowYourInsta.cshtml")

@Html.Partial("~/Views/Shared/Partial/_PartialWidgetRelexAndProfit.cshtml")

@Html.Partial("~/Views/Shared/Partial/_PartialWidgetOurCustomers.cshtml")

@Html.Partial("~/Views/Shared/Partial/_PartialWidget2ColumnBlog.cshtml")

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
                <h3>
                    GET MORE LIKES & FOLLOWERS
                </h3>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn_ShowSignUpWizardPopup">Get Started Wizard</a>
                <a href="/home/howwework" class="">How we work</a>
                <a href="#" class="">Blog</a>
                <a href="#" class="lnk_ShowSignupModal">Sign up</a>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-xs-12">
                <div class="footer-logo text-center">
                    <img src="~/Content/ThemeAssets/Images/social-growth-footer-logo.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    .WidgetTwoTypesGrowth {
        background-color: #3398dc;
        text-align: center;
        color:#fff;
        padding:50px 0;
    }
</style>