
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="main-content">
    <section id="hero">
        <div class="container ">
            <div class="row fullwidth-sm ">
                <div class="col-md-7">
                    <div class="section-1">
                        <p class="sub-header">EASILY GROW A LOYAL INSTAGRAM FOLLOWING</p>
                        <h1>Safely Grow Your Instagram Following On Autopilot So You Can Connect With Millions Of Buyers And Skyrocket Sales!</h1>
                        <p>Join Social Growth Engine Now And Organically Grow Your Audience By Thousands Of Followers Each Month!</p>
                        <div class="global-btn">
                            <a class="btn btn-light bg-primary mx-auto lnk_ShowSignupModal" href="">Grow My Following Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5"><img src="~/socialgrowthengine/files/figure-17d04.png" alt="" class="hidden-sm hidden-xs"></div>
            </div>
        </div>
    </section>
    <section id="section-2">
        <div class="container ">
            <div class="row fullwidth-sm section-1">
                <div class="col-md-6  col-sm-12">
                    <div class="hidden-md hidden-lg text-center"><img src="~/socialgrowthengine/files/figure-27d04.png" class="padding-bottom" alt=""></div>
                    <h2>Effortlessly Grow Your Instagram Audience By Thousands Of Followers Every Month!</h2>
                    <p>Struggling to grow your Instagram following? Then you’ve come to exactly the right place. At Instagram Growth Engine we help thousands of business owners and solopreneurs quickly grow a large audience on autopilot. A following like this gives your business the brand attention it needs to explode in a matter of months.</p>
                    <p>Unlike other services, our strategies are also completely above board. This means you won’t run into trouble with Instagram and have your account banned, blacklisted or shut down. Our team simply performs ‘behind the scenes’ growth actions everyday while you focus on producing great content.</p>
                </div>
                <div class="col-md-6 col-sm-12">

                </div>
            </div>
            <div class="row fullwidth-sm section-2">
                <div class="col-md-6">
                    <div class="hidden-md hidden-lg text-center"><img src="~/socialgrowthengine/files/figure-37d04.png" class="padding-bottom" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="col-right">
                        <h2>Become Insta-Famous And Connect With
 Millions Of People Who Love Your Brand</h2>
                        <p></p>A large Instagram following can really take your business to the next level. You can connect with millions of people around the world who love your brand and products. This could easily mean thousands of dollars per month in extra sales directly from your Instagram account.</p>

                        <p>It also makes all your other advertising and marketing more effective. Your audience has yet another channel to connect with you, establish your credibility and purchase your products. Like many other social media influencers, you can even leverage your following with affiliate promotions which can be sold for $200-$400 per post!</p>
                        <div class="global-btn">
                            <a class="btn btn-light bg-primary mx-auto lnk_ShowSignupModal" href="" target="">Grow My Following Now!</a>
                            <p>Join Instagram Growth Engine In <span id="Date"></span> For Just $39pm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fullwidth-sm section-3">
                <div class="col-md-6">
                    <div class="hidden-md hidden-lg text-center"><img src="~/socialgrowthengine/files/figure-47d04.png" class="padding-bottom" alt=""></div>
                    <div class="col-left">
                        <h2>Our Expert Team Organically Grows Your 
Following While You Focus On Posting Content</h2>
                        <p>Afraid your account will get banned for using our service? We understand your concerns, however you have nothing to worry about. We only use legitimate strategies and technology to grow your following – no black-hat tactics or spam bots which trigger red flags with Instagram.</p>
                        <p>These underhanded tactics only lead to an audience of fake or low-quality followers which is basically useless anyway. We organically grow your audience with REAL people who are interested in your brand. This way you have higher reach and improved engagement which leads to more sales and more profit.</p>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>

        </div>
    </section>


    <section id="section-3">
        <div class="container">
            <div class="row fullwidth-sm">
                <div class="col-md-12">
                    <div class="section-1 text-center"><h2>Here Are Some Of The Benefits You’ll Enjoy When You Join Instagram Growth Engine…</h2></div>
                    <div class="section-2">
                        <ul>
                            <li><p><span>Generate More Likes, Followers And Traffic</span> You can maximise your reach and engagement with followers which means you get more likes, more traffic and ultimately more sales for your business!</p></li>
                            <li><p><span>Safely Build A Large Instagram Following</span> You won’t have to use black-hat tactics and spam bots to achieve massive growth in your Instagram followers because all our strategies are organic</p></li>
                            <li><p><span>Save Time And Energy Growing Your Account </span> Building a large following can take YEARS of hard work to do on your own – with Social Growth Engine we do it all for you and it only takes months!</p></li>
                            <li><p><span>Don’t Clog Up Your Instagram Newsfeed </span> Following other pages can clog your newsfeed with content you’re not really interested in – our strategy grows your audience without this inconvenience</p></li>
                            <li><p><span>Try Our Service And Get Guaranteed Results</span> You have the added peace of mind that if you don’t see an increase in your followers over the first 60 days, you can get a complete refund of every cent!</p></li>
                        </ul>
                    </div>
                    <div class="section-3 text-center">
                        <div class="global-btn">
                            <a class="btn btn-light bg-primary mx-auto lnk_ShowSignupModal" href="" target="">Grow My Following Now!</a>
                            <p>Join Instagram Growth Engine In <span id="Date"></span> For Just $39pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section-4">
        <div class="container ">
            <div class="row fullwidth-sm section-1">
                <div class="col-md-6">
                    <div class="inner-section flex-middle">
                        <img src="~/socialgrowthengine/files/support7d04.png" class="hidden-md hidden-lg padding-bottom" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-right">
                        <h2>You Can Live Chat With Your Personal Account Manager 24/7 If You Ever Need Help</h2>
                        <p>When you join Social Growth Engine, you get your own personal account manager. Not only will they take care of your daily growth activities like sharing content, following relevant accounts and hash-tagging – they’re also there to support you 24/7.</p>
                        <p>Whenever you have a question that needs answering – or run into some kind of trouble – all you need to do is contact us through live chat. They’ll immediately respond to you with expert advice to solve your problem or explain how something works. You’ll never be left stranded to figure something out again!</p>

                    </div>
                </div>

            </div>
            <div class="row fullwidth-sm section-2">
                <div class="col-md-6">
                    <div class="col-left">
                        <div class="flex-middle"><img src="~/socialgrowthengine/files/trusted7d04.png" class="hidden-md hidden-lg padding-bottom" alt=""></div>
                        <h2>Join Over 2648 People Who Have Trusted 
Us To Build Their Instagram Audience So Far</h2>
                        <p>Many people who are interested in our service are concerned about account security – and rightly so. There are countless people on the internet who are out to scam you and take your money. You must be careful of who you trust with your personal information and Instagram account details.</p>
                        <p>However, you can rest assured that we’re completely legitimate because we’ve already helped thousands of people like you grow their Instagram following. We also have over 100+ verified Trustpilot reviews from our clients who endorse our service. Do yourself a favour and grow your social media following the easy way.</p>
                    </div>
                </div>
                <div class="col-md-6">
                </div>

            </div>
            <div class="row hidden-md hidden-lg section-3">
                <div class="col-md-12 text-center">
                    <div class="global-btn">
                        <a class="btn btn-light bg-primary mx-auto lnk_ShowSignupModal" href="" target="">Grow My Following Now!</a>
                        <p>Join Instagram Growth Engine In <span id="Date"></span> For Just $39pm</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section-5">
        <div class="container ">
            <div class="row fullwidth-sm">
                <div class="col-md-12">
                    <!-- End TrustBox widget -->
                    <ul class="text-center reviews hidden-xs hidden-sm hidden-md hidden-lg">
                        <li><img src="~/socialgrowthengine/files/t-1.png" alt=""></li>
                        <li><img src="~/socialgrowthengine/files/t-27d04.png" alt=""></li>
                        <li><img src="~/socialgrowthengine/files/t-37d04.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>




    <section id="section-6">
        <div class="container ">
            <div class="row fullwidth-sm">
                <div class="col-md-12 section-1">
                    <h2 class="text-center">See How These Clients Skyrocketed Their Followers With Instagram Growth Engine</h2>
                </div>
            </div>
            <div class="row fullwidth-sm section-2 hidden-sm hidden-xs">
                <div class="col-md-4">
                    <img src="~/socialgrowthengine/files/social-17d04.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <img src="~/socialgrowthengine/files/social-27d04.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <img src="~/socialgrowthengine/files/prettiponies7d04.png" alt="">
                </div>
            </div>
            <div class="row fullwidth-sm section-3 hidden-md hidden-lg">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-carousel">
                            <div class="carousel-cell">
                                <img src="~/socialgrowthengine/files/social-17d04.jpg" alt="">
                            </div>
                            <div class="carousel-cell">
                                <img src="~/socialgrowthengine/files/social-27d04.jpg" alt="">
                            </div>
                            <div class="carousel-cell">
                                <img src="~/socialgrowthengine/files/prettiponies7d04.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-7">
        <div class="container">
            <div class="row fullwidth-sm">
                <div class="col-md-12">
                    <div class="section-1 hidden-xs hidden-sm"><img src="~/socialgrowthengine/files/social-growth-engine7d04.png" alt=""></div>
                    <div class="section-2 hidden-md hidden-lg">
                        <ul class="text-center">
                            <li><img src="~/socialgrowthengine/files/social-growth-engine-17d04.png" alt=""></li>
                            <li><img src="~/socialgrowthengine/files/social-growth-engine-27d04.png" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-8">
        <div class="container ">
            <div class="row fullwidth-sm section-1">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>4 Simple Steps To Grow Your Instagram Following…</h2>
                    </div>
                </div>
            </div>
            <div class="row fullwidth-sm section-2 hidden-xs hidden-sm">
                <div class="col-md-12">
                    <div class="text-center">
                        <img src="~/socialgrowthengine/files/list7d04.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row fullwidth-sm section-3 hidden-md hidden-lg text-center">
                <div class="col-md-12">
                    <img src="~/socialgrowthengine/files/instagram-big7d04.png" alt="">
                </div>
            </div>
            <div class="row fullwidth-sm section-4 hidden-md hidden-lg text-center">
                <div class="col-md-12">
                    <div class="testimonial-carousel">
                        <div class="carousel-cell">
                            <img src="~/socialgrowthengine/files/s-17d04.png" alt="">
                        </div>
                        <div class="carousel-cell">
                            <img src="~/socialgrowthengine/files/s-27d04.png" alt="">
                        </div>
                        <div class="carousel-cell">
                            <img src="~/socialgrowthengine/files/s-37d04.png" alt="">
                        </div>
                        <div class="carousel-cell">
                            <img src="~/socialgrowthengine/files/s-47d04.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fullwidth-sm section-5">
                <div class="col-md-12 text-center">
                    <div class="global-btn">
                        <a class="btn btn-light bg-primary mx-auto lnk_ShowSignupModal" href="" target="">Make Me Insta-Famous!</a>
                        <p>Join Instagram Growth Engine In <span id="Date"></span> For Just $39pm</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    @*<section id="section-9">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-1">
                        <img src="~/socialgrowthengine/files/money-back7d04.png" alt="">
                    </div>
                    <div class="section-2">
                        <h2 class="text-center">Our 60 Day Money Back Guarantee</h2>
                        <p>We’re so confident in our ability to get you real followers, that you can take Social Growth Engine for a spin and try it risk free for 60 days!  If for some strange reason you don’t see it growing your followers and engagement with your brand on Instagram - simply write to us and we’ll refund every single cent you invested - no questions asked!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@



    <section id="section-10">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 section-1">
                    <h2 class="text-center"><span class="dt-block">More Social Growth Engine Success Stories</span></h2>
                    <div class="hidden-sm hiddne-xs"><img src="~/socialgrowthengine/files/messages7d04.png" alt=""></div>
                </div>
                <div class="col-md-12 section-2 hidden-md hidden-lg">
                    <div class="testimonial-carousel">
                        <div class="carousel-cell">
                            <img src="~/socialgrowthengine/files/message-17d04.png" alt="">
                        </div>
                        <div class="carousel-cell">
                            <img src="~/socialgrowthengine/files/message-27d04.png" alt="">
                        </div>
                        <div class="carousel-cell">
                            <img src="~/socialgrowthengine/files/message-37d04.png" alt="">
                        </div>
                        <div class="carousel-cell">
                            <img src="~/socialgrowthengine/files/message-47d04.png" alt="">
                        </div>
                        <div class="carousel-cell">
                            <img src="~/socialgrowthengine/files/message-57d04.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section-14">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12">
                    <div class="section-1">
                        <img src="~/socialgrowthengine/files/screens7d04.png" alt="">
                        <h1 class="text-center"><span>Special Introductory Offer:</span> Join Social Growth Engine And Rapidly Boost Your Followers by 30% For Only $39pm (Save $50) </h1> @*+ Get Your Bonus “Instagram For Business Sales Kit” Valued At $385*@
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="section-2">
                        <div class="inner-section">
                            <p>
                                Let us take care of your Instagram growth and save you up to 20 hours of your time each and every month. Join Social Growth Engine for $39pm (usually $89 - Save $50) before the end of the month.  <span id="Date"></span> @*and you will also receive our bonus “Instagram For Business Sales Kit” so you can grow your following and business sales using the power of Instagram.*@
                            </p>

                            <p><span>Here’s what you’ll get when you sign up today:</span></p>
                            <ul class="consultation-list">
                                <li>
                                    <p>
                                        <span>
                                            Forever access to our discounted monthly price to Social Growth Engine. Rapidly grow your followers without you having to do a thing! (Value $78/month)
                                        </span>
                                    </p>
                                </li>
                                @*<li>
                                    <p><span>Our bonus “Instagram For Business Sales Kit” (Valued at $385) which includes several valuable Instagram business growth guides to help you convert your followers into lifelong clients, such as:</span></p>
                                    <ul>*@
                                        
                                        <li><p><span>5 Proven Methods To Make More Sales With Instagram Even If you Have Under A 1000 Followers (Value $147)</span></p></li>
                                        <li><p><span>The Complete Content Capture Guide: 3 Simple Steps To Creating Eye Popping Content That Goes Viral On Instagram (Value $47)</span></p></li>
                                        <li><p><span>The 1 Simple Strategy For Converting Followers Into Lifelong Customers (Value $47)</span></p></li>
                                    @*</ul>
                                </li>*@
                            </ul>
                            <p>WARNING: After <span id="Date"></span> ends, you’ll be forced to pay full price ($89pm) and the bonus ‘Instagram for Business Sales Kit may no longer be available. Enter your details below now and grow your following the easy way.</p>
                        </div>

                        <div class="section-3 text-center">
                            <div class="global-btn">
                                <a class="btn btn-light bg-primary mx-auto lnk_ShowSignupModal" href="" target="">Grow My Following Now!</a>
                                <p>Join Instagram Growth Engine In <span id="Date"></span> For Just $39pm</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="container">
            <p>This site is not a part of the Facebook website or Facebook Inc. Additionally, this site is NOT endorsed by Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc.</p>
            <p class="text-center"><a href="Pages/TermsConditions" target="_blank">Terms and Conditions</a> | <a href="pages/PrivacyPolicy" target="_blank">Privacy Policy</a></p>
        </div>
    </section>
</div>


