
@{
    ViewBag.Title = "Home";
    Layout = "";
}
<!DOCTYPE html>
<html xml:lang="en" lang="en" class="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LinkedIn Growth Strategy 2021 - Free To Get started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/bitrix/js/main/core/css/core.min.css?14290239272854" type="text/css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VX6X7K9BJM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VX6X7K9BJM');
    </script>
    <style type="text/css">

        :root {
            --theme-color-primary: #6ab8ee;
            --theme-color-primary-darken-1: hsl(204.55, 80%, 65%);
            --theme-color-primary-darken-2: hsl(204.55, 80%, 62%);
            --theme-color-primary-darken-3: hsl(204.55, 80%, 57%);
            --theme-color-primary-lighten-1: hsl(204.55, 80%, 77%);
            --theme-color-primary-opacity-0_1: rgba(106, 184, 238, 0.1);
            --theme-color-primary-opacity-0_2: rgba(106, 184, 238, 0.2);
            --theme-color-primary-opacity-0_3: rgba(106, 184, 238, 0.3);
            --theme-color-primary-opacity-0_4: rgba(106, 184, 238, 0.4);
            --theme-color-primary-opacity-0_6: rgba(106, 184, 238, 0.6);
            --theme-color-primary-opacity-0_8: rgba(106, 184, 238, 0.8);
            --theme-color-primary-opacity-0_9: rgba(106, 184, 238, 0.9);
            --theme-color-main: #12222d;
            --theme-color-secondary: #fafbfc;
            --theme-color-title: #12222d;
        }
    </style>
    <script type="text/javascript" data-skip-moving="true">(function (w, d, n) { var cl = "bx-core"; var ht = d.documentElement; var htc = ht ? ht.className : undefined; if (htc === undefined || htc.indexOf(cl) !== -1) { return; } var ua = n.userAgent; if (/(iPad;)|(iPhone;)/i.test(ua)) { cl += " bx-ios"; } else if (/Android/i.test(ua)) { cl += " bx-android"; } cl += (/(ipad|iphone|android|mobile|touch)/i.test(ua) ? " bx-touch" : " bx-no-touch"); cl += w.devicePixelRatio && w.devicePixelRatio >= 2 ? " bx-retina" : " bx-no-retina"; var ieVersion = -1; if (/AppleWebKit/.test(ua)) { cl += " bx-chrome"; } else if ((ieVersion = getIeVersion()) > 0) { cl += " bx-ie bx-ie" + ieVersion; if (ieVersion > 7 && ieVersion < 10 && !isDoctype()) { cl += " bx-quirks"; } } else if (/Opera/.test(ua)) { cl += " bx-opera"; } else if (/Gecko/.test(ua)) { cl += " bx-firefox"; } if (/Macintosh/i.test(ua)) { cl += " bx-mac"; } ht.className = htc ? htc + " " + cl : cl; function isDoctype() { if (d.compatMode) { return d.compatMode == "CSS1Compat"; } return d.documentElement && d.documentElement.clientHeight; } function getIeVersion() { if (/Opera/i.test(ua) || /Webkit/i.test(ua) || /Firefox/i.test(ua) || /Chrome/i.test(ua)) { return -1; } var rv = -1; if (!!(w.MSStream) && !(w.ActiveXObject) && ("ActiveXObject" in w)) { rv = 11; } else if (!!d.documentMode && d.documentMode >= 10) { rv = 10; } else if (!!d.documentMode && d.documentMode >= 9) { rv = 9; } else if (d.attachEvent && !/Opera/.test(ua)) { rv = 8; } if (rv == -1 || rv == 8) { var re; if (n.appName == "Microsoft Internet Explorer") { re = new RegExp("MSIE ([0-9]+[\.0-9]*)"); if (re.exec(ua) != null) { rv = parseFloat(RegExp.$1); } } else if (n.appName == "Netscape") { rv = 11; re = new RegExp("Trident/.*rv:([0-9]+[\.0-9]*)"); if (re.exec(ua) != null) { rv = parseFloat(RegExp.$1); } } } return rv; } })(window, document, navigator);</script>


    <link href="/bitrix/js/intranet/intranet-common.min.css?156700641462422" type="text/css" rel="stylesheet" />
    <link href="/bitrix/js/main/sidepanel/css/sidepanel.min.css?16044092096434" type="text/css" rel="stylesheet" />
    <link href="/bitrix/js/landing/css/landing_public.min.css?1567508327250" type="text/css" rel="stylesheet" />
    <link href="/bitrix/components/bitrix/landing.pub/templates/.default/style.min.css?160165017637243" type="text/css" rel="stylesheet" />
    <link href="/bitrix/templates/landing24/assets/vendor/bootstrap/bootstrap.min.css?1567508327154948" type="text/css" data-template-style="true" rel="stylesheet" />
    <link href="/bitrix/templates/landing24/theme.min.css?1608555882628499" type="text/css" data-template-style="true" rel="stylesheet" />
    <link href="/bitrix/templates/landing24/assets/css/custom-grid.min.css?156933840138" type="text/css" data-template-style="true" rel="stylesheet" />
    <link href="/bitrix/templates/landing24/template_styles.min.css?1583933130781" type="text/css" data-template-style="true" rel="stylesheet" />







    <meta name="robots" content="all" />
    <link rel="preload"
          as="style"
          onload="this.removeAttribute('onload');this.rel='stylesheet'"
          data-font="g-font-open-sans"
          data-protected="true"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic">
    <noscript>
        <link rel="stylesheet"
              data-font="g-font-open-sans"
              data-protected="true"
              href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic">
    </noscript>
    <style>

        body {
            font-weight: 400;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            line-height: 1.6;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -moz-font-feature-settings: "liga", "kern";
            text-rendering: optimizelegibility;
        }
    </style>
    <style>

        h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
        }
    </style>
    <style>

        html {
            font-size: 14px;
        }

        body {
            font-size: 1.14286rem;
        }

        .g-font-size-default {
            font-size: 1.14286rem;
        }
    </style>


    <meta property="og:title" content="Grow Your Linked In Network - Get New Leads and Connections Everyday on Auto-Pilot" />
    <meta property="og:description" content="Automate your LinkedIn outreach faster by targeting people by Keywords, Job Titles, Industry Sectors and much more - Get Started For FREE" />
    <meta property="og:image" content="https://cdn.bitrix24.com/b5940105/landing/78d/78d4ba6384a85be81e12bfd7aeb257e6/Linked_in_1x.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="906" />
    <meta property="og:type" content="website" />
    <meta property="twitter:title" content="Grow Your Linked In Network - Get New Leads and Connections Everyday on Auto-Pilot" />
    <meta property="twitter:description" content="Automate your LinkedIn outreach faster by targeting people by Keywords, Job Titles, Industry Sectors and much more - Get Started For FREE" />
    <meta property="twitter:image" content="https://cdn.bitrix24.com/b5940105/landing/78d/78d4ba6384a85be81e12bfd7aeb257e6/Linked_in_1x.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:type" content="website" />
    <meta name="og:url" content="https://connectwizz.co/" />
    <link rel="canonical" href="https://connectwizz.co/" />
    <link rel="icon" type="image/png" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/047e4a127947eff3c7d861cc2f113186/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="16x16">
    <link rel="icon" type="image/png" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/45fd33a620da2e44653e6a92c96d9446/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="32x32">
    <link rel="icon" type="image/png" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/c8042d925d6656dd077f15192d13bb8f/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="96x96">
    <link rel="apple-touch-icon" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/eb45a9f96698d396483d7a1236fe0380/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="120x120">
    <link rel="apple-touch-icon" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/a03d95df41ccb7c2ab8a9e9ebcd4cf8a/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="180x180">
    <link rel="apple-touch-icon" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/8245e211b4cc1aeef31861f9c55143e5/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="152x152">
    <link rel="apple-touch-icon" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/26c9f99963f016735739c7de412de1e1/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="167x167">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond" data-font="g-font-eb-garamond" as="style"></noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=EB+Garamond" data-font="g-font-eb-garamond" as="style" onload="this.removeAttribute('onload');this.rel='stylesheet'">
    <style data-id="g-font-eb-garamond">
        .g-font-eb-garamond {
            font-family: "EB Garamond", serif;
        }
    </style>
    <link rel="preload"
          as="style"
          onload="this.removeAttribute('onload');this.rel='stylesheet'"
          data-font="g-font-open-sans"
          data-protected="true"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic">
    <noscript>
        <link rel="stylesheet"
              data-font="g-font-open-sans"
              data-protected="true"
              href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic">
    </noscript>
</head>
<body class="">
    <main class="w-100 landing-public-mode">
        <div id="b26888" class="block-wrapper block-27-one-col-fix-title-and-text-2">
            <section class="landing-block js-animation g-pt-40 g-pb-40 animation-none">

                <div class="landing-block-node-text-container container g-max-width-800">
                    <div class="text-center">
                        <h2 class="landing-block-node-title g-font-weight-400 g-color-main g-font-eb-garamond g-font-size-38">Automate your LinkedIn outreach</h2>
                        <div class="landing-block-node-text g-pb-1 g-font-size-18 g-color-black-opacity-0_7 g-font-open-sans g-text-transform-none"> </div>
                    </div>
                </div>

            </section>
        </div><div id="b26860" class="block-wrapper block-19-6-features-two-cols-with-bg-pattern">
            <section class="landing-block g-mt-0 g-pb-55 g-pt-60 g-bg-linkedin">
                <div class="container">
                    <div class="text-uppercase text-center g-mb-70">
                        <h2 class="landing-block-node-title landing-semantic-subtitle-medium-primary d-inline-block g-color-white g-brd-bottom g-brd-5 g-brd-white g-pb-8 g-font-eb-garamond g-text-transform-none g-font-size-35 g-font-weight-auto g-letter-spacing-0 g-mb-6">What&#039;s your LinkedIn goal ?</h2>
                        <div class="landing-block-node-text landing-semantic-subtitle-image-small g-color-white mb-0 g-font-open-sans g-text-transform-none g-letter-spacing-0_5 g-font-size-27"> </div>
                    </div>

                    <div class="row landing-block-inner">
                        <div class="landing-block-node-card js-animation col-lg-6 g-pl-100--md g-mb-30 landing-card animation-none animated">
                            <article class="landing-block-node-card-container landing-semantic-bg-color-main media d-block d-md-flex h-100 g-bg-white">
                                <!-- Article Image -->
                                <div class="d-md-flex align-self-center text-center g-mr-30--md g-ml-minus-82--md">
                                    <img class="landing-block-node-card-img g-max-width-100x" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzUiIGhlaWdodD0iMTMyIj48cmVjdCBpZD0iYmFja2dyb3VuZHJlY3QiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHg9IjAiIHk9IjAiIGZpbGw9IiNkZGQiIGZpbGwtb3BhY2l0eT0iLjciIHN0cm9rZT0ibm9uZSIvPjwvc3ZnPg==" alt="" data-fileid="14180" data-fileid2x="14182" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;/learnmore&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:true}" data-lazy-img="Y" data-src="https://cdn.bitrix24.com/b5940105/landing/8a7/8a735bb6298983a883c69e97e83efebb/Start_Up_1x.png" loading="lazy" data-srcset="https://cdn.bitrix24.com/b5940105/landing/124/12422944dd5e9dca2333ad89f367e274/Start_Up_2x.png 2x" />
                                </div>
                                <!-- End Article Image -->

                                <div class="media-body align-self-center g-py-50 g-pl-40 g-pl-0--md g-pr-40">
                                    <h3 class="landing-block-node-card-title landing-semantic-subtitle-medium h6 g-mb-20 g-font-eb-garamond g-font-weight-900 g-letter-spacing-inherit g-text-transform-none g-line-height-1 g-font-size-25"><span style="font-weight: normal;">Acquire connections faster</span></h3>
                                    <div class="landing-block-node-card-text landing-semantic-text-small g-color-gray-dark-v5 mb-0"><p>Connect with people x10 faster by targeting by locations, job titles and keywords on auto-pilot</p><p> <a href="/learnmore" target="_self" style="color: #ffffff" class="btn btn-danger">Learn more</a></p></div>
                                </div>
                                <!-- End Article Content -->
                            </article>
                        </div><div class="landing-block-node-card js-animation col-lg-6 g-pl-100--md g-mb-30 landing-card animation-none animated">
                            <article class="landing-block-node-card-container landing-semantic-bg-color-main media d-block d-md-flex h-100 g-bg-white">
                                <!-- Article Image -->
                                <div class="d-md-flex align-self-center text-center g-mr-30--md g-ml-minus-82--md">
                                    <img class="landing-block-node-card-img g-max-width-100x" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzUiIGhlaWdodD0iMTMyIj48cmVjdCBpZD0iYmFja2dyb3VuZHJlY3QiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHg9IjAiIHk9IjAiIGZpbGw9IiNkZGQiIGZpbGwtb3BhY2l0eT0iLjciIHN0cm9rZT0ibm9uZSIvPjwvc3ZnPg==" alt="" data-fileid="14060" data-fileid2x="14062" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;/learnmore&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:true}" data-lazy-img="Y" data-src="https://cdn.bitrix24.com/b5940105/landing/0e4/0e497a17f6aafc5fbd3539f348913d63/Business_Owner_1x.png" loading="lazy" data-srcset="https://cdn.bitrix24.com/b5940105/landing/33c/33cffe1e189e9d3681d486e43554b2e2/Business_Owner_2x.png 2x" />
                                </div>
                                <!-- End Article Image -->

                                <div class="media-body align-self-center g-py-50 g-pl-40 g-pl-0--md g-pr-40">
                                    <h3 class="landing-block-node-card-title landing-semantic-subtitle-medium h6 g-mb-20 g-font-eb-garamond g-font-weight-900 g-letter-spacing-inherit g-text-transform-none g-line-height-1 g-font-size-25"><span style="font-weight: normal;">Target new leads everyday</span></h3>
                                    <div class="landing-block-node-card-text landing-semantic-text-small g-color-gray-dark-v5 mb-0">
                                        <p>Automate your daily LinkedIn outreach by targeting your competitors followers with personalized messaging.</p><p>
                                            <a href="/learnmore" target="_self" style="color: #ffffff" class="btn btn-danger">Learn more</a>
                                        </p>
                                    </div>
                                </div>
                                <!-- End Article Content -->
                            </article>
                        </div>

                        <div class="col-12 text-center mt-4 mb-4">
                            <h2 class="landing-block-node-title landing-semantic-subtitle-medium-primary d-inline-block g-color-white g-brd-5 g-brd-white g-pb-8 g-font-eb-garamond g-text-transform-none g-font-size-35 g-font-weight-auto g-letter-spacing-0 g-mb-6">
                                Increase conversions by 30% to 50%
                            </h2>
                        </div>

                        <div class="landing-block-node-card js-animation col-lg-6 g-pl-100--md g-mb-30 landing-card animation-none animated">
                            <article class="landing-block-node-card-container landing-semantic-bg-color-main media d-block d-md-flex h-100 g-bg-white">
                                <!-- Article Image -->
                                <div class="d-md-flex align-self-center text-center g-mr-30--md g-ml-minus-82--md">
                                    <img class="landing-block-node-card-img g-max-width-100x" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzUiIGhlaWdodD0iMTMyIj48cmVjdCBpZD0iYmFja2dyb3VuZHJlY3QiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHg9IjAiIHk9IjAiIGZpbGw9IiNkZGQiIGZpbGwtb3BhY2l0eT0iLjciIHN0cm9rZT0ibm9uZSIvPjwvc3ZnPg==" alt="" data-fileid="14184" data-fileid2x="14186" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;/learnmore&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:true}" data-lazy-img="Y" data-src="https://cdn.bitrix24.com/b5940105/landing/47f/47fb1640be8de8d930b38a000e3b8e18/Creative_1x.png" loading="lazy" data-srcset="https://cdn.bitrix24.com/b5940105/landing/e69/e6909e44f6238b64c5807df443cbe4b5/Creative_2x.png 2x" />
                                </div>
                                <!-- End Article Image -->

                                <div class="media-body align-self-center g-py-50 g-pl-40 g-pl-0--md g-pr-40">
                                    <h3 class="landing-block-node-card-title landing-semantic-subtitle-medium h6 g-mb-20 g-font-eb-garamond g-font-weight-900 g-letter-spacing-inherit g-text-transform-none g-line-height-1 g-font-size-25"><span style="font-weight: normal;">Auto-respond to new connections</span></h3>
                                    <div class="landing-block-node-card-text landing-semantic-text-small g-color-gray-dark-v5 mb-0"><p>Introduce yourself to all your new connections with personalized messaging designed to promote you. </p><p> <a href="/learnmore" target="_self" style="color: #ffffff" class="btn btn-danger">Learn more</a></p></div>
                                </div>
                                <!-- End Article Content -->
                            </article>
                        </div><div class="landing-block-node-card js-animation col-lg-6 g-pl-100--md g-mb-30 landing-card animation-none animated">
                            <article class="landing-block-node-card-container landing-semantic-bg-color-main media d-block d-md-flex h-100 g-bg-white">
                                <!-- Article Image -->
                                <div class="d-md-flex align-self-center text-center g-mr-30--md g-ml-minus-82--md">
                                    <img class="landing-block-node-card-img g-max-width-100x" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzUiIGhlaWdodD0iMTMyIj48cmVjdCBpZD0iYmFja2dyb3VuZHJlY3QiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHg9IjAiIHk9IjAiIGZpbGw9IiNkZGQiIGZpbGwtb3BhY2l0eT0iLjciIHN0cm9rZT0ibm9uZSIvPjwvc3ZnPg==" alt="" data-fileid="14072" data-fileid2x="14074" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;/learnmore&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:true}" data-lazy-img="Y" data-src="https://cdn.bitrix24.com/b5940105/landing/af7/af7742256eeb58341a2e183b56e6da4c/Lead_man_1x.png" loading="lazy" data-srcset="https://cdn.bitrix24.com/b5940105/landing/495/495efce2fc63d819ed7dd0906ef71ee6/Lead_man_2x.png 2x" />
                                </div>
                                <!-- End Article Image -->

                                <div class="media-body align-self-center g-py-50 g-pl-40 g-pl-0--md g-pr-40">
                                    <h3 class="landing-block-node-card-title landing-semantic-subtitle-medium h6 g-mb-20 g-font-eb-garamond g-font-weight-900 g-letter-spacing-inherit g-text-transform-none g-line-height-1 g-font-size-25"><span style="font-weight: normal;">Drive traffic to landing pages</span></h3>
                                    <div class="landing-block-node-card-text landing-semantic-text-small g-color-gray-dark-v5 mb-0"><p>Educate, Market &amp; Sell to your ideal audience using video and web page links using auto-responder messages.</p><p> <a href="/learnmore" target="_self" style="color: #ffffff" class="btn btn-danger">Learn more</a></p></div>
                                </div>
                                <!-- End Article Content -->
                            </article>
                        </div>
                        <div class="col-12 text-center mt-4 mb-4">
                            <h2 class="landing-block-node-title landing-semantic-subtitle-medium-primary d-inline-block g-color-white g-brd-5 g-brd-white g-pb-8 g-font-eb-garamond g-text-transform-none g-font-size-35 g-font-weight-auto g-letter-spacing-0 g-mb-6">
                                Grow new connections & leads on auto-pilot
                            </h2>
                        </div>
                        <div class="landing-block-node-card js-animation col-lg-6 g-pl-100--md g-mb-30 landing-card animation-none animated">
                            <article class="landing-block-node-card-container landing-semantic-bg-color-main media d-block d-md-flex h-100 g-bg-white">
                                <!-- Article Image -->
                                <div class="d-md-flex align-self-center text-center g-mr-30--md g-ml-minus-82--md">
                                    <img class="landing-block-node-card-img g-max-width-100x" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzUiIGhlaWdodD0iMTMyIj48cmVjdCBpZD0iYmFja2dyb3VuZHJlY3QiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHg9IjAiIHk9IjAiIGZpbGw9IiNkZGQiIGZpbGwtb3BhY2l0eT0iLjciIHN0cm9rZT0ibm9uZSIvPjwvc3ZnPg==" alt="" data-fileid="14126" data-fileid2x="14128" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;/learnmore&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:true}" data-lazy-img="Y" data-src="https://cdn.bitrix24.com/b5940105/landing/f5a/f5a0d2d2e567f241496e17dad846887c/Flip_1x.png" loading="lazy" data-srcset="https://cdn.bitrix24.com/b5940105/landing/a43/a4384b2d6004f4b238e232296a4a2242/Flip_2x.png 2x" />
                                </div>
                                <!-- End Article Image -->

                                <div class="media-body align-self-center g-py-50 g-pl-40 g-pl-0--md g-pr-40">
                                    <h3 class="landing-block-node-card-title landing-semantic-subtitle-medium h6 g-mb-20 g-font-eb-garamond g-font-weight-900 g-letter-spacing-inherit g-text-transform-none g-line-height-1 g-font-size-25"><span style="font-weight: normal;">Rank your LinkedIn profile higher</span><br /></h3>
                                    <div class="landing-block-node-card-text landing-semantic-text-small g-color-gray-dark-v5 mb-0"><p>Like, Follow and engage with all your new connections on auto-pilot and boost your ranking quicker.</p><p> <a href="/learnmore" target="_self" style="color: #ffffff" class="btn btn-danger">Learn more</a></p></div>
                                </div>
                                <!-- End Article Content -->
                            </article>
                        </div><div class="landing-block-node-card js-animation col-lg-6 g-pl-100--md g-mb-30 landing-card animation-none animated">
                            <article class="landing-block-node-card-container landing-semantic-bg-color-main media d-block d-md-flex h-100 g-bg-white">
                                <!-- Article Image -->
                                <div class="d-md-flex align-self-center text-center g-mr-30--md g-ml-minus-82--md">
                                    <img class="landing-block-node-card-img g-max-width-100x" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzUiIGhlaWdodD0iMTMyIj48cmVjdCBpZD0iYmFja2dyb3VuZHJlY3QiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHg9IjAiIHk9IjAiIGZpbGw9IiNkZGQiIGZpbGwtb3BhY2l0eT0iLjciIHN0cm9rZT0ibm9uZSIvPjwvc3ZnPg==" alt="" data-fileid="14084" data-fileid2x="14086" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;/learnmore&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:true}" data-lazy-img="Y" data-src="https://cdn.bitrix24.com/b5940105/landing/737/737d6c74dfcf2846b3bc4685c5a79bae/Linked_in_1x.png" loading="lazy" data-srcset="https://cdn.bitrix24.com/b5940105/landing/b5e/b5e21dc848a8bf4131e909593d5a5418/Linked_in_2x.png 2x" />
                                </div>
                                <!-- End Article Image -->

                                <div class="media-body align-self-center g-py-50 g-pl-40 g-pl-0--md g-pr-40">
                                    <h3 class="landing-block-node-card-title landing-semantic-subtitle-medium h6 g-mb-20 g-font-eb-garamond g-font-weight-900 g-letter-spacing-inherit g-text-transform-none g-line-height-1 g-font-size-25"><span style="font-weight: normal;">Grow multiple LinkedIn profiles at the same time</span></h3>
                                    <div class="landing-block-node-card-text landing-semantic-text-small g-color-gray-dark-v5 mb-0"><p>Grow your Digital Marketing Business and manage existing clients with the Affiliate plan.</p><p> <a href="/learnmore" target="_self" style="color: #ffffff" class="btn btn-danger">Learn more</a></p></div>
                                </div>
                                <!-- End Article Content -->
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>


    <script type="text/javascript">if (!window.BX) window.BX = {}; if (!window.BX.message) window.BX.message = function (mess) { if (typeof mess === 'object') { for (let i in mess) { BX.message[i] = mess[i]; } return true; } };</script>
    <script type="text/javascript">(window.BX || top.BX).message({ 'JS_CORE_LOADING': 'Loading...', 'JS_CORE_WINDOW_CLOSE': 'Close', 'JS_CORE_WINDOW_EXPAND': 'Expand', 'JS_CORE_WINDOW_NARROW': 'Restore', 'JS_CORE_WINDOW_SAVE': 'Save', 'JS_CORE_WINDOW_CANCEL': 'Cancel', 'JS_CORE_H': 'h', 'JS_CORE_M': 'm', 'JS_CORE_S': 's', 'JS_CORE_NO_DATA': '- No data -', 'JSADM_AI_HIDE_EXTRA': 'Hide extra items', 'JSADM_AI_ALL_NOTIF': 'All notifications', 'JSADM_AUTH_REQ': 'Authentication is required!', 'JS_CORE_WINDOW_AUTH': 'Log In', 'JS_CORE_IMAGE_FULL': 'Full size', 'JS_CORE_WINDOW_CONTINUE': 'Continue' });</script>
    <script type="text/javascript" src="/bitrix/js/main/core/core.min.js?1610361173252123"></script>
    <script>
        BX.setJSList(['/bitrix/js/main/core/core_ajax.js', '/bitrix/js/main/core/core_promise.js', '/bitrix/js/main/polyfill/promise/js/promise.js', '/bitrix/js/main/loadext/loadext.js', '/bitrix/js/main/loadext/extension.js', '/bitrix/js/main/polyfill/promise/js/promise.js', '/bitrix/js/main/polyfill/find/js/find.js', '/bitrix/js/main/polyfill/includes/js/includes.js', '/bitrix/js/main/polyfill/matches/js/matches.js', '/bitrix/js/ui/polyfill/closest/js/closest.js', '/bitrix/js/main/polyfill/fill/main.polyfill.fill.js', '/bitrix/js/main/polyfill/find/js/find.js', '/bitrix/js/main/polyfill/matches/js/matches.js', '/bitrix/js/main/polyfill/core/dist/polyfill.bundle.js', '/bitrix/js/main/core/core.js', '/bitrix/js/main/polyfill/intersectionobserver/js/intersectionobserver.js', '/bitrix/js/main/lazyload/dist/lazyload.bundle.js', '/bitrix/js/main/polyfill/core/dist/polyfill.bundle.js', '/bitrix/js/main/parambag/dist/parambag.bundle.js']);
        BX.setCSSList(['/bitrix/js/main/core/css/core.css', '/bitrix/js/main/lazyload/dist/lazyload.bundle.css', '/bitrix/js/main/parambag/dist/parambag.bundle.css']);</script>
    <script type="text/javascript">(window.BX || top.BX).message({ 'MAIN_SIDEPANEL_CLOSE': 'Close', 'MAIN_SIDEPANEL_PRINT': 'Print' });</script>
    <script type="text/javascript">(window.BX || top.BX).message({ 'LANGUAGE_ID': 'en', 'FORMAT_DATE': 'DD.MM.YYYY', 'FORMAT_DATETIME': 'DD.MM.YYYY HH:MI:SS', 'COOKIE_PREFIX': 'BITRIX_SM', 'SERVER_TZ_OFFSET': '10800', 'SITE_ID': 's1', 'SITE_DIR': '/', 'USER_ID': '', 'SERVER_TIME': '1610962306', 'USER_TZ_OFFSET': '0', 'USER_TZ_AUTO': 'Y', 'bitrix_sessid': 'ac537786ba80fe0a38d09f62d01fe3b6' });</script>
    <script type="text/javascript" src="/bitrix/js/main/polyfill/customevent/main.polyfill.customevent.min.js?1544619813556"></script>
    <script type="text/javascript" src="/bitrix/js/ui/dexie/dist/dexie.bitrix.bundle.min.js?159049177860291"></script>
    <script type="text/javascript" src="/bitrix/js/main/core/core_ls.min.js?14328944187365"></script>
    <script type="text/javascript" src="/bitrix/js/main/core/core_fx.min.js?14909536449768"></script>
    <script type="text/javascript" src="/bitrix/js/main/core/core_frame_cache.min.js?159765985710532"></script>
    <script type="text/javascript" src="/bitrix/js/main/pageobject/pageobject.min.js?1584117434570"></script>
    <script type="text/javascript" src="/bitrix/js/main/sidepanel/manager.min.js?160440920919287"></script>
    <script type="text/javascript" src="/bitrix/js/main/sidepanel/slider.min.js?160440918227255"></script>
    <script type="text/javascript" src="/bitrix/js/landing/metrika/dist/metrika.bundle.min.js?16085558822654"></script>
    <script type="text/javascript">var bxDate = new Date(); document.cookie = "BITRIX_SM_TIME_ZONE=" + bxDate.getTimezoneOffset() + "; path=/; expires=Sat, 01 Jan 2022 00:00:00 +0300"</script>
    <script>
        (function (w, d, u) {
            var s = d.createElement('script'); s.async = true; s.src = u + '?' + (Date.now() / 60000 | 0);
            var h = d.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s, h);
        })(window, document, 'https://cdn.bitrix24.com/b5940105/landing/assets/assets_webpack_c51c0a715a_1610962306.js');
    </script>



    <script type="text/javascript" src="/bitrix/templates/landing24/assets/js/helpers/lazyload.min.js?15994906851713"></script>
    <script type="text/javascript" src="/bitrix/components/bitrix/landing.pub/templates/.default/script.min.js?16085558823456"></script>
    <script>
        (function () {
            new BX.Landing.Metrika();
        })();
    </script>

    <script>
        (function (w, d, u) {
            var s = d.createElement('script'); s.async = true; s.src = u + '?' + (Date.now() / 60000 | 0);
            var h = d.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s, h);
        })(window, document, 'https://cdn.bitrix24.com/b5940105/crm/tag/call.tracker.js');
    </script>
    <script src="//code.tidio.co/vs2afulzirphvfvcttbry1xhkgstiimk.js" async></script>
</body>
</html>
