
@{
    ViewBag.Title = "Home";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>SocialPlannerPro - Unlimited Social growth on Instagram, TikTok and LinkedIn</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/Theme-CA/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="~/Content/Theme-CA/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="~/Content/Theme-CA/css/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="#"><img src="~/Content/Theme-SPPro/img/core-img/SPProWhite.png" /></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>

                                    <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#pricing">Partner up</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#pricing">FORUM</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#contact">CONTACT</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/account/login">SIGN IN</a></li>

                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="~/account/signup">Sign Up Free</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="~/account/signup">Sign Up Free</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>API Social Growth Platform</h2>
                        <h3>S</h3>
                        <p style="font-size:22px;">
                            Powerful growth automation tools for digital marketing agencies

                        </p>
                    </div>
                    <div class="get-start-area">

                        <div class="get-started-button" data-wow-delay="0.5s" style="text-align:left;display:inline">
                            <a href="/account/signup/" style="height:50px;">Get Started</a>
                        </div>
                        <!-- Form Start -->


                        <a href="https://www.youtube.com/embed/MB70ADGaC30?autoplay=1" class="video_btn submit">Watch Video</a>

                        <!-- Form End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome thumb -->
        <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
            <img src="~/Content/Theme-CA/img/bg-img/welcome-img.png" alt="">
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <section class="special-area bg-white ">
        <!-- Special Description Area -->
        <div class="special_description_area pt-150 bg-white ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/SPProengine/files/Growth_Tools_Text.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>Growth Automation Tools for Digital Marketeers</h2>
                            <p>
                                Build your digital agency business with the latest integrated technology using machine learning and approved free Social Media API integration apps.
                            </p>

                            <div class="app-download-area">
                                <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">

                                    <a href="#">
                                        <i class="fa fa-windows"></i>
                                        <p class="mb-0"><span>Download for</span> Windows</p>
                                    </a>
                                </div>
                                <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">

                                    <a href="#">
                                        <i class="fa fa-apple"></i>
                                        <p class="mb-0"><span>Download for</span> MacOS</p>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** CTA Area Start ***** -->
    <section class="our-monthly-membership clearfix">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6 d-none d-sm-block">
                    <div>
                        <img src="~/Content/Theme-CA/img/Supplier_man.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="membership-description">
                        <h2>Grow Organically</h2>
                        <p></p>
                        <div class="get-started-button wow bounceInRight mt-15" data-wow-delay="0.5s" >
                            <a href="/account/signup/">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>BUILT FOR DIGITAL AGENCIES</h2>
                        <div class="line-shape"></div>
                        <p>Build your digital agency business with the latest in integrated technology utilizing machine learning and approved FREE Social Media API integration apps.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single-icon">
                            @*<i class="ti-mobile" aria-hidden="true"></i>*@
                            <img src="~/Content/Theme-CA/img/IG_2x.png" />
                        </div>
                        <h4>
                            Real Followers Real Likes

                        </h4>
                        <p>
                            Are you not getting the growth results you want with Jarvee & Mass Planner? Qualify & Partner Up with us and see how you can boost your clients growth & engagement.

                        </p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-icon">
                            @*<i class="ti-ruler-pencil" aria-hidden="true"></i>*@
                            <img src="~/Content/Theme-CA/img/LinkedIn_2x.png" />
                        </div>
                        <h4>
                            Connect & InMail Sequencing

                        </h4>
                        <p>
                            Attract hundreds of leads by targeting your ideal customers on LinkedIn.  Filter and messages your targeted audience to generate real leads yourself.



                        </p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                            @*<i class="ti-settings" aria-hidden="true"></i>*@
                            <img src="~/Content/Theme-CA/img/TikTok_2x.png" />
                        </div>
                        <h4>
                            Grow & Entertain


                        </h4>
                        <p>
                            Open your Social Planner pro account within minutes to start automating your TikTok outreach and start engaging with creatives and opportunities.Access to growth experts forum, tips and hacks.



                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- ***** Special Area End ***** -->
    <!-- ***** CTA Area Start ***** -->
    <section class="our-monthly-membership clearfix">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <div >
                        <img src="~/Content/Theme-CA/img/Suprise_boy.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="membership-description">
                        <h2>
                            Grow Safely
                        </h2>
                        <p></p>
                        <div class="get-started-button wow bounceInRight mt-15" data-wow-delay="0.5s" >
                            <a href="/account/signup/">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="special-area bg-white " id="features">
        <!-- Special Description Area -->
        <div class="special_description_area pt-150 bg-white ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/peer.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>
                                Peer-to-Peer Engagement

                            </h2>
                            <p>
                                Our peer-to-peer approach, using approved 3rd party APIs on your clients' devices means our growth strategies talk directly to Social Media Accounts performing actions based on humanistic, behavioural learning, within community rules of engagement.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-monthly-membership clearfix">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <div >
                        <img src="~/Content/Theme-CA/img/Tech_man.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="membership-description">
                        <h2>
                            No Tech, No Web Server
                        </h2>
                        <p></p>
                        <div class="get-started-button wow bounceInRight mt-15" data-wow-delay="0.5s" >
                            <a href="/account/signup/">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="special-area bg-white ">
        <!-- Special Description Area -->
        <div class="special_description_area pt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/api-driven.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>
                                White Hat - API Driven

                            </h2>
                            <p>
                                We only pass growth and targeting preferences to approved 3rd party API applications that use approved API methods instead of embedded web browsers to scrape or bot indiscriminately.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-monthly-membership clearfix">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <div >
                        <img src="~/Content/Theme-CA/img/Supplier_man.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="membership-description">
                        <h2>
                            Built for Digital Marketing Agencies


                        </h2>
                        <p></p>
                        <div class="get-started-button wow bounceInRight mt-15" data-wow-delay="0.5s" >
                            <a href="/account/signup/">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="special-area bg-white ">
        <!-- Special Description Area -->
        <div class="special_description_area pt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/roi-stats.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>
                                
                                Stats & Growth Charts BUILT-IN

                            </h2>
                            <p>
                                The perfect solution to boost your clients audiences.   Monitor and track real -time engagement and growth on all of your client growth targets.

                                It’s a robust & multi- dimensional social growth platform built for you.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
    <section class="our-monthly-membership clearfix">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <div >
                        <img src="~/Content/Theme-CA/img/Suprise_boy.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="membership-description">
                        <h2>
                            2 Factor Authentication Built-In


                        </h2>
                        <p></p>
                        <div class="get-started-button wow bounceInRight mt-15" data-wow-delay="0.5s" >
                            <a href="/account/signup/">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="special-area bg-white ">
        <!-- Special Description Area -->
        <div class="special_description_area pt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/softblocks.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>
                                Say Goodbye to 'Soft Blocks'

                            </h2>
                            <p>
                                We ensure that all approved 3rd party API apps grow your client accounts safely.  Always using API strategies that ramp up and grow your accounts using humanistic behaviour patterns and operating within sensible daily session timings.

                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="our-monthly-membership clearfix">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <div >
                        <img src="~/Content/Theme-CA/img/Cool_Woman.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="membership-description">
                        <h2>
                            The Magic Happens On Your Clients' Device


                        </h2>
                        <p></p>
                        <div class="get-started-button wow bounceInRight mt-15" data-wow-delay="0.5s" >
                            <a href="/account/signup/">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="special-area bg-white ">
        <!-- Special Description Area -->
        <div class="special_description_area pt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/tools.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>
                                No Client Passwords Required

                            </h2>
                            <p>
                                Fed up with getting compromised password challenges?

                                Our platform integration with free 3rd party API apps means you never need to give us your clients' passwords.

                                They simply log in to their Social Media accounts and connect to Social Planner Pro.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-monthly-membership clearfix">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <div >
                        <img src="~/Content/Theme-CA/img/BoY_braces.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="membership-description">
                        <h2>
                            Sky Rocket Your Fan Bases


                        </h2>
                        <p></p>
                        <div class="get-started-button wow bounceInRight mt-15" data-wow-delay="0.5s" >
                            <a href="/account/signup/">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <section class="special-area bg-white ">
        <!-- Special Description Area -->
        <div class="special_description_area pt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/api-driven.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>
                                No Proxy IPs Required

                            </h2>
                            <p>
                                Have you lost faith in purchasing 'suspect' proxy IP addresses that never seem to match with your clients' real location?

                                Did you know that the Social Platform operators block client accounts because they know which accounts are running bots using proxy IPs from black list subnet ranges?

                                Avoid all this and run trusted 3rd party API driven apps on your client devices.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="our-monthly-membership clearfix">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <div >
                        <img src="~/Content/Theme-CA/img/Suit_woman.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="membership-description">
                        <h2>
                            Scale At Your Pace


                        </h2>
                        <p></p>
                        <div class="get-started-button wow bounceInRight mt-15" data-wow-delay="0.5s" >
                            <a href="/account/signup/">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <section class="special-area bg-white ">
        <!-- Special Description Area -->
        <div class="special_description_area pt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/peer.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>
                                Growth Targeting Filters

                            </h2>
                            <p>
                                You have full control over each campaign's targeting & preferences. We don't employ any compromising algorithms or let blind bots take over your social accounts.

                                Instead, we provide targeting preferences to the approved tools and safely limit follows, unfollows, story views, likes and direct messages while maintaining full control of ignore-lists.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="our-monthly-membership clearfix">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <div >
                        <img src="~/Content/Theme-CA/img/Happy_man.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="membership-description">
                        <h2>
                            It's easy to Get Started


                        </h2>
                        <p></p>
                        <div class="get-started-button wow bounceInRight mt-15" data-wow-delay="0.5s" >
                            <a href="/account/signup/">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="special-area bg-white ">
        <!-- Special Description Area -->
        <div class="special_description_area pt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/unlimited-clients.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>
                                Unlimited Client Accounts

                            </h2>
                            <p>
                                Your business is infinitely scalable. Your clients install the free 3rd party API apps so you're not required to rack any devices (although you can if you want).

                                Simply add new customer profiles and tweak their fan base targeting filters as often as you like.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-monthly-membership clearfix">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <div >
                        <img src="~/Content/Theme-CA/img/Red_man.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="membership-description">
                        <h2>
                            Be in the know, first!


                        </h2>
                        <p></p>
                        <div class="get-started-button wow bounceInRight mt-15" data-wow-delay="0.5s" >
                            <a href="/account/signup/">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="special-area bg-white ">
        <!-- Special Description Area -->
        <div class="special_description_area pt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/softblocks.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>
                                3 Easy Steps

                            </h2>
                            <p>
                                1. SIGN UP for FREE, create a client profile and set their campaign target filters.

                                2. DOWNLOAD FREE 3rd Party API app onto the client's device and connect to Social Planner Pro.

                                3. SIGN IN to Social Planner Pro and manage your client campaigns.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ***** Pricing Plane Area Start *****==== -->
    <section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text  -->
                    <div class="section-heading text-center">
                        <h2>
                            THE PERFECT PARTNERSHIP
                        </h2>
                        <div class="line-shape"></div>
                        <p>
                            Change your plan anytime.  14 day money back guarantee on all paid plans

                        </p>
                        <p>
                            (no credit card details required to get started)

                        </p>
                    </div>
                </div>
            </div>

            <div class="row no-gutters text-center">
                <div class="col-12 col-md-6 col-lg-3 text-center offset-lg-1">
                    <!-- Package Price  -->
                    <div class="single-price-plan text-center">
                        <!-- Package Text  -->
                        <div class="package-plan">
                            <h5>
                                GROWTH PLANNER
                            </h5>
                            <div class="ca-price d-flex justify-content-center">
                                <span>$</span>
                                <h4>FREE</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            <p>
                                Create multiple social media growth campaigns for :<br /><br /><br />
                            </p>
                            <p>Instagram</p>
                            <p>LinkedIN</p>
                            <p>TikTok</p>
                            <p>
                                Save Hashtags. Growth Filters , Black Lists & White List preferences
                            </p>
                            <p>
                                No Growth API Tool Hooks

                            </p>
                        </div>
                        <!-- Plan Button  -->
                        <div class="plan-button">
                            <a href="/account/signup/">Select Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Package Price  -->
                    <div class="single-price-plan text-center">
                        <!-- Package Text  -->
                        <div class="package-plan">
                            <h5>
                                GROWTH PRO
                            </h5>
                            <div class="ca-price d-flex justify-content-center">
                                <span>$</span>
                                <h4>59</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            <p>
                                Connect to FREE 3rd Party API & AI tools that organically increase your followers, likes and engagement with your targeted fan bases.
                            </p>
                            <p>Instagram</p>
                            <p>LinkedIN</p>
                            <p>TikTok</p>
                            <p>
                                Hook up to FREE 3rd Party API Approved Automation Growth & Engagement Tools<br /><br /><br /><br />
                            </p>
                        </div>
                        <!-- Plan Button  -->
                        <div class="plan-button">
                            <a href="/account/signup/">Select Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Package Price  -->
                    <div class="single-price-plan active text-center">
                        <!-- Package Text  -->
                        <div class="package-plan">
                            <h5>AGENCY</h5>
                            <div class="ca-price d-flex justify-content-center">
                                <span>$</span>
                                <h4>299</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            <p>
                                Access to growth experts forum<br /><br /><br /><br />
                            </p>
                            <p>
                                24 / 7 Chat Support
                            </p>
                            <p>
                                Includes 20 FREE Campaigns
                            </p>
                            <p>
                                $15 /pm thereafter
                            </p>
                            <p>
                                Create Unlimited Campaigns
                            </p>
                            <p>
                                Charts, Graphs & Stats per campaign<br /><br />

                            </p>
                        </div>
                        <!-- Plan Button  -->
                        <div class="plan-button">
                            <a href="/account/signup/">Select Plan</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Pricing Plane Area End ***** -->
    <!-- ***** Client Feedback Area Start ***** -->
    <section class="clients-feedback-area bg-white section_padding_100 clearfix" id="testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="slider slider-for">
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“ I have been using it for a number of months. I use SocialPlannerPro for Instagram growth for my clients. With no blocks and hassle free usage I have given by clients exponential growth on their social engagement. ”</p>
                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Aigars Mokvis</h5>
                                <p>Ceo Polaris Marketers</p>
                            </div>
                        </div>
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“ We have seen extraordinary social growth and engagement with our client's social accounts when we switch to SocialPlannerPro. It was a pleasent surprise for our clients.”</p>

                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Jennifer</h5>
                                <p>Lead Marketer - Anvision Social</p>
                            </div>
                        </div>
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“ We had been struggling with our previous social tool to grow, it was a painful journey due to blocks and limitations. With SocialPlannerPro we are back in the game.  ”</p>

                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Helen Cordovksi</h5>
                                <p>Social Marketer</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <!-- Client Thumbnail Area -->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="slider slider-nav">
                        <div class="client-thumbnail">
                            <img src="~/Content/Theme-CA/img/bg-img/client-3.jpg" alt="">
                        </div>
                        <div class="client-thumbnail">
                            <img src="~/Content/Theme-CA/img/bg-img/client-2.jpg" alt="">
                        </div>
                        <div class="client-thumbnail">
                            <img src="~/Content/Theme-CA/img/bg-img/client-1.jpg" alt="">
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Client Feedback Area End ***** -->
    <!-- ***** CTA Area Start ***** -->
    <section class="our-monthly-membership section_padding_50 clearfix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="membership-description">
                        <h2>Expert Forum for Serious Players Only</h2>
                        <p>Get the latest trends, news and hacks on digital marketing & growth tools. Access only available to Agency Plan holders.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="get-started-button wow bounceInRight mt-15" data-wow-delay="0.5s">
                        <a href="/account/signup/">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** CTA Area End ***** -->
    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>
                            Do you manage +200 Instagram Accounts?

                        </h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text">
                        <p>
                            Get in touch for special offers

                        </p>
                    </div>

                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form action="#" method="post">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">Send Now</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>Social Planner Pro</h2>
        </div>
        <!-- social icon-->
        <div class="footer-social-icon">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="active fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>Copyright ©2020 SocialPlannerPro</p>
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->
    <!-- Jquery-2.2.4 JS -->
    <script src="~/Content/Theme-CA/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/Theme-CA/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="~/Content/Theme-CA/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="~/Content/Theme-CA/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="~/Content/Theme-CA/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="~/Content/Theme-CA/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="~/Content/Theme-CA/js/active.js"></script>
</body>

</html>
