
@{
    ViewBag.Title = "Home";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Connect Wizz is a leading growth automation platform to scale your business faster. We help our customers connect, engage and optimize their content and sale funnels.">
    <meta name="keywords" content="social growth, LinkedIn growth, boost LinkedIn, social growth engine, social growth app, social growth api, LinkedIn api, LinkedIn automation">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Grow Like A Pro On Auto-Pilot, Lead Generation Tool For Digital Marketeers 2021</title>

    <!-- Favicon -->
    
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Theme-CA/img/core-img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Theme-CA/img/core-img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Theme-CA/img/core-img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Theme-CA/img/core-img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Theme-CA/img/core-img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Theme-CA/img/core-img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Theme-CA/img/core-img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Theme-CA/img/core-img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Theme-CA/img/core-img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Theme-CA/img/core-img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Theme-CA/img/core-img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Theme-CA/img/core-img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Theme-CA/img/core-img/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Theme-CA/img/core-img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Theme-CA/img/core-img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Core Stylesheet -->
    <link href="~/Content/Theme-CA/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="~/Content/Theme-CA/css/responsive.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3N5PN3D82"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H3N5PN3D82');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '783583319163061');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=783583319163061&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <style>
        .modal.show {
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: flex-start;
        }

        .ca-price {
            display: inline-flex;
        }

        .strikediag {
            background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
        }
    </style>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <div class="modal fade funnelmodel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="row">
                    <div class="col col-12 col-md-7 text-center justify-content-center mx-auto">
                        <div class="text-center mt-4">
                            <h2 style="font-size:24px;color:#5b32b4;padding-left:100px;padding-right:100px;">Get 50% OFF Your Membership</h2>
                            <div class="line-shape"></div>
                        </div>
                        <h6 class="mt-4" style="color:darkgray">Get Started<br /></h6>
                        <h4>What best describe you ?</h4>

                        <div class="row p-4 text-center justify-content-center mx-auto">
                            <div class="col col-4 p-1">
                                <div class="single-price-plan active text-center" style="margin-bottom: 5px;">
                                    <!-- Package Text  -->
                                    <div class="package-plan" style="background:#c8a7e4;padding: 29px 0;cursor:pointer" onclick="setusertypeCookie(1);">
                                        <h5>Business</h5>

                                    </div>

                                    <!-- Plan Button  -->
                                    <div class="plan-button">
                                        <a href="#" onclick="setusertypeCookie(1);" style="background:#fb397d"><i class="fa fa-play" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                            </div>
                            <div class="col col-4 p-1">
                                <div class="single-price-plan active text-center" style="margin-bottom: 5px;">
                                    <!-- Package Text  -->
                                    <div class="package-plan" style="background:#c8a7e4;padding: 29px 0; cursor:pointer" onclick="setusertypeCookie(2);">
                                        <h5>Influencer</h5>

                                    </div>

                                    <!-- Plan Button  -->
                                    <div class="plan-button">
                                        <a href="#" onclick="setusertypeCookie(2);" style="background:#fb397d"><i class="fa fa-play" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-4 p-1">
                                <div class="single-price-plan active text-center" style="margin-bottom: 5px;">
                                    <!-- Package Text  -->
                                    <div class="package-plan" style="background:#c8a7e4;padding: 29px 0;cursor:pointer" onclick="setusertypeCookie(3);">
                                        <h5>Marketeer</h5>

                                    </div>

                                    <!-- Plan Button  -->
                                    <div class="plan-button">
                                        <a href="#" onclick="setusertypeCookie(3);" style="background:#fb397d"><i class="fa fa-play" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col col-md-5 d-none d-sm-block">

                        <img src="~/Content/Theme-CA/img/IG_Growth_Market.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/">Connect Wizz</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    @*<li class="nav-item active"><a class="nav-link" href="~/">Business</a></li>
                                        <li class="nav-item"><a class="nav-link" href="~/influencer">Influencer</a></li>
                                        <li class="nav-item"><a class="nav-link" href="~/agency">Agency</a></li>
                                        <li class="nav-item"><a class="nav-link" href="~/how-it-works">How-it-Works</a></li>*@
                                    <li class="nav-item"><a class="nav-link" href="~/faqs">FAQs</a></li>
                                    @*<li class="nav-item"><a class="nav-link" href="~/videos">Videos</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/download">Download</a></li>*@
                                    <li class="nav-item"><a class="nav-link" href="~/account/login">Login</a></li>

                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="/account/signup">Get PIN Code</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="/account/signup">Get PIN Code</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-75 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <a id="topdl"></a>
                        <h2>
                            Attract Hot Leads
                            <br />Everyday on LinkedIn
                        </h2>

                        <p class="mt-4 pt-4" style="font-size:24px;">
                           And say hello to new connections, effortlessly <br /><br /> Download app - FREE Trial
                        </p>
                    </div>
                    <div class="get-start-area">
                        <!-- Form Start -->
                        <form action="/account/signup" method="get" class="form-inline">


                            <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <!-- Google Store Btn -->
                                <a href="#" style="background-color: #fb397d;color:white" >
                                    <i class="fa fa-android" style="color:white"></i>
                                    <p class="mb-0" style="color:white"><span>available on</span> Google Store</p>
                                </a>
                            </div>

                            <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
                                <!-- Apple Store Btn -->
                                <a href="#">
                                    <i class="fa fa-apple"></i>
                                    <p class="mb-0"><span>coming soon</span> Apple Store</p>
                                </a>
                            </div>
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome thumb -->
        <div class="welcome-thumb wow fadeInDown d-none d-md-block" data-wow-delay="0.5s">
            <img src="~/Content/Theme-CA/img/Business_Post.png" alt="">
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->
    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>How our app works</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single-icon">
                            <i class="ti-linkedin" aria-hidden="true"></i>
                        </div>
                        <h4>Target New Connections</h4>
                        <p>
                            Grow your Linked In network
                            faster by targeting people by
                            job title and industry sectors
                        </p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-icon">
                            <i class="ti-email" aria-hidden="true"></i>
                        </div>
                        <h4>Send Invites on Auto-Pilot</h4>
                        <p>
                            Effortlessly send up to 40 targeted
                            invites everyday and watch your
                            connections grow
                        </p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                            <i class="ti-face-smile" aria-hidden="true"></i>
                        </div>
                        <h4>Say Hello on Connect</h4>
                        <p>
                            Introduce yourself with an automated
                            message sequence and drive home
                            your product or service offering
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Video Area Start ***** -->
        <div class="video-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Video Area Start -->
                        <div class="video-area" style="background-image: url(/Content/Theme-CA/img/bg-img/video2.jpeg);">
                            <div class="video-play-btn">
                                <a href="https://www.youtube.com/watch?v=PTcOKoFOMvY" class="video_btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Video Area End ***** -->
        <!-- ***** Cool Facts Area Start ***** -->
        <section class="cool_facts_area clearfix">
            <div class="container">
                <div class="row">
                    <!-- Single Cool Fact-->
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                            <div class="counter-area">
                                <h3><span class="counter">9900</span></h3>
                            </div>
                            <div class="cool-facts-content">
                                <i class="ion-arrow-down-a"></i>
                                <p>APP <br> DOWNLOADS</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Cool Fact-->
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                            <div class="counter-area">
                                <h3><span class="counter">2100</span></h3>
                            </div>
                            <div class="cool-facts-content">
                                <i class="ion-happy-outline"></i>
                                <p>Happy <br> Clients</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Cool Fact-->
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
                            <div class="counter-area">
                                <h3><span class="counter">1300</span></h3>
                            </div>
                            <div class="cool-facts-content">
                                <i class="ion-person"></i>
                                <p>ACTIVE <br>ACCOUNTS</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Cool Fact-->
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
                            <div class="counter-area">
                                <h3><span class="counter">47</span></h3>
                            </div>
                            <div class="cool-facts-content">
                                <i class="ion-ios-star-outline"></i>
                                <p>TOTAL <br>APP RATES</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Cool Facts Area End ***** -->
        <!-- Special Description Area -->
        <div class="special_description_area mt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/Influence.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2>Lead Generation for Businesses</h2>
                            <p>
                                Get rid of manual processes that slow your business growth and focus on building relationships with real people. It only takes a few minutes to start automating your LinkedIn outreach with Connect Wizz.
                                <br /><br />
                                Connect Wizz's automation tools are used by sales teams to automate their LinkedIn lead generation, by startups to attract investors and even by recruiters to find potential candidates.
                                <br /><br />
                                Add Connect Wizz's lead automation tool into your pipeline and automate your Linked In outreach to acquire customers inside and outside of your network.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Special Description Area -->
        <!-- Special Description Area -->
        <div class="special_description_area mt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/How_Growth_Magic.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2><span style="color:#fb397d">1</span> Download the App</h2>
                            <p>
                                To get started, you will need to have an<br /><br />
                                a) Active LinkedIn account<br />
                                b) Download the app<br />
                                c) Sign up to your FREE Connect Wizz account<br />
                                <br />


                                Next, select your desired level of engagement and enable all the relevant features you'd like to run.

                            </p>
                            <div class="app-download-area">
                                <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                    <!-- Google Store Btn -->
                                    <a href="#">
                                        <i class="fa fa-android"></i>
                                        <p class="mb-0"><span>available on</span> Google Store</p>
                                    </a>
                                </div>
                                <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                                    <!-- Apple Store Btn -->
                                    <a href="#">
                                        <i class="fa fa-apple"></i>
                                        <p class="mb-0"><span>coming soon</span> Apple Store</p>
                                    </a>
                                </div>
                            </div>
                            <h2 class="mt-4 pt-4"><span style="color:#fb397d"> FREE Trial - No credit card needed</span></h2>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="special_description_area mt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/Business_target.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2><span style="color:#fb397d">2</span> Target Your Ideal Fan Base </h2>
                            <p>
                                Once you've decided on the level of automation and engagement, you can now start running Connect Wizz app on your device.<br /><br />

                                run the App everyday for 10 mins and see the results of your LinkedIn outreach campaigns within hours.<br /><br /> Hot leads and new connections should appear in your LinkedIn account.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="special_description_area mt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="~/Content/Theme-CA/img/Agent.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2><span style="color:#fb397d">3</span> Say Hello To Hot Leads </h2>
                            <p>
                                Market like a pro, send up to 3 sequenced messages to all your NEW connections. Guide them with an intro, followed up with links and finally a qualifier to close the deal.<br /><br />

                                Now that you have fully automated your Linked In lead generation with Connect Wizz, you can expect to see the first results within hours, filling your Linked In inbox.<br /><br />


                            </p>
                            <div class="app-download-area">
                                <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                    <!-- Google Store Btn -->
                                    <a href="#">
                                        <i class="fa fa-android"></i>
                                        <p class="mb-0"><span>available on</span> Google Store</p>
                                    </a>
                                </div>
                                <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                                    <!-- Apple Store Btn -->
                                    <a href="#">
                                        <i class="fa fa-apple"></i>
                                        <p class="mb-0"><span>coming soon</span> Apple Store</p>
                                    </a>
                                </div>
                            </div>
                            <h2 class="mt-4 pt-4"><span style="color:#fb397d"> FREE Trial - No credit card needed</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Special Area End ***** -->
    <!-- ***** Pricing Plane Area Start *****==== -->
    <section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text  -->
                    <div class="section-heading text-center">
                        <h2>One Simple Monthly Plan</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row no-gutters text-center justify-content-center mx-auto">
                <div class="col-12 col-md-6 col-lg-3 d-none">
                    <!-- Package Price  -->
                    <div class="single-price-plan text-center">
                        <!-- Package Text  -->
                        <div class="package-plan">
                            <h5>Starter Plan</h5>
                            <div class="ca-price d-flex justify-content-center">
                                <span>$</span>
                                <h4>29</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            
                            <p>Target & Engagement Dashboard</p>
                            <p>Auto-Pilot App</p>
                            <p>Stats & Charts</p>
                            <p>24 / 7 Support</p>
                        </div>
                        <!-- Plan Button  -->
                        <div class="plan-button">
                            <a href="~/account/signup">Select Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Package Price  -->
                    <div class="single-price-plan text-center">
                        <!-- Package Text  -->
                        <div class="package-plan">
                            <h5 style="color:#fb397d">Special Offer 50% OFF</h5>

                            <h5>This month only</h5>
                            <div class="ca-price justify-content-center strikediag">
                                <span style="color:#5b32b4">$</span>
                                <h4 style="color:#5b32b4">79</h4>
                            </div>
                            <div class="ca-price  justify-content-center">
                                <span>$</span>
                                <h4>39</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            
                            <p>New Connections Everyday</p>
                            <p>Target Filters</p>
                            <p>InMail Sequencing</p>
                            <p>Stats & Charts</p>
                            <p>24 / 7 Support</p>
                        </div>
                        <!-- Plan Button  -->
                        <div class="plan-button">
                            <a href="#top">FREE Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 d-none">
                    <!-- Package Price  -->
                    <div class="single-price-plan active text-center">
                        <!-- Package Text  -->
                        <div class="package-plan">
                            <h5>Creative Starter Plan</h5>
                            <div class="ca-price d-flex justify-content-center">
                                <span>$</span>
                                <h4>299</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            <p>Dedicated Creative Resource</p>
                            <p>We create 8 engaging Posts a month</p>
                            <p>Caption Copywriting</p>
                            <p>Follow & Like Exchange</p>
                            <p>Hashtag Tweaking</p>
                        </div>
                        <!-- Plan Button  -->
                        <div class="plan-button">
                            <a href="~/account/signup">Select Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3  d-none">
                    <!-- Package Price  -->
                    <div class="single-price-plan text-center">
                        <!-- Package Text  -->
                        <div class="package-plan">
                            <h5>Go PRO Plan</h5>
                            <div class="ca-price d-flex justify-content-center">
                                <span>$</span>
                                <h4>899</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            <p>Dedicated Marketing Strategist</p>
                            <p>
                                We Create 12 Engaging
                                Posts/Stories a Month
                            </p>
                            <p>Caption Copywriting</p>
                            <p>2 Influencer Shout-Outs</p>
                            <p>Commenting Engagement</p>
                        </div>
                        <!-- Plan Button  -->
                        <div class="plan-button">
                            <a href="~/account/signup">Select Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Pricing Plane Area End ***** -->
    <!-- ***** Awesome Features Start ***** -->
    <section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text -->
                    <div class="section-heading text-center mt-4 pt-4">
                        <h2>Awesome Features</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-user" aria-hidden="true"></i>
                        <h5>Grow on Auto-Pilot</h5>
                        <p>Effortlessly grow your Linked In audience by hundreds of new connections and followers every month. Safely grow with REAL and ORGANIC growth.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-pulse" aria-hidden="true"></i>
                        <h5>Fast and Simple</h5>
                        <p>
                            It only takes 5 mins to set your targeting filters and download the app onto your smart phone.

                            The safest way to really grow on social media platforms and stay in control of your own accounts.
                        </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-dashboard" aria-hidden="true"></i>
                        <h5>Target With Confidence</h5>
                        <p>We only use APIs issued by LinkedIn to automate your growth strategy This means our tools works directly with Linked In and within their community rules of engagement.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-palette" aria-hidden="true"></i>
                        <h5>Stats & Charts Built-In</h5>
                        <p>Monitor and track real-time engagement and growth. With over 16 charts and insights you can see and tweak your targeting for faster and better results.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-crown" aria-hidden="true"></i>
                        <h5>Best in Industry Leader</h5>
                        <p>The perfect solution to boost your target audiences. Join the global community of Connect Wizz users and organically grow your audience with thousands of other trusted followers.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-headphone" aria-hidden="true"></i>
                        <h5>24/7 Online Support</h5>
                        <p>Build your business with confidence using our automated engagement apps in conjunction with our dedicated account managers who love to engage.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ***** Awesome Features End ***** -->
    <!-- ***** Client Feedback Area Start ***** -->
    <section class="clients-feedback-area bg-white section_padding_100 clearfix" id="testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="text-center">
                        @*<img class="col-lg-6 mx-auto " style="width:260px;" src="~/Content/Theme-CA/img/TrustPilot.png" />*@
                    </div>
                    <div class="slider slider-for">
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">

                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“ I have been using it for a number of months. I use Connect Wizz for LinkedIn growth for my clients. With no blocks and hassle free usage I have given by clients exponential growth on their social engagement. ”</p>
                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Aigars Mokvis</h5>
                                <p>CEO Polaris Marketers</p>
                            </div>
                        </div>
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“ We have seen extraordinary social growth and engagement with our client's social accounts when we switch to Connect Wizz. It was a pleasent surprise for our clients.”</p>

                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Jennifer</h5>
                                <p>Lead Marketer - Anvision Social</p>
                            </div>
                        </div>
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“ We had been struggling with our previous social tool to grow, it was a painful journey due to blocks and limitations. With Connect Wizz we are back in the game.  ”</p>

                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Helen Cordovksi</h5>
                                <p>Social Marketer</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Client Thumbnail Area -->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="slider slider-nav">
                        <div class="client-thumbnail">
                            <img src="~/Content/Theme-CA/img/bg-img/Review_1.png" alt="">
                        </div>
                        <div class="client-thumbnail">
                            <img src="~/Content/Theme-CA/img/bg-img/Review_3.png" alt="">
                        </div>
                        <div class="client-thumbnail">
                            <img src="~/Content/Theme-CA/img/bg-img/Review_2.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Client Feedback Area End ***** -->
    <!-- ***** CTA Area Start ***** -->
    <section class="our-monthly-membership section_padding_50 clearfix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="membership-description">
                        <h2>Join our global community of influencers and businesses</h2>
                        <p>Find the perfect plan for you - 100% satisfaction guaranteed.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                        <a href="~/account/signup">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** CTA Area End ***** -->
    <!-- ***** Our Team Area Start ***** -->
    <section class="our-Team-area bg-white section_padding_100_50 clearfix" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Our Team</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="~/Content/Theme-CA/img/team-img/team-1.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Jackson</h4>
                            <p>Copywriter</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="~/Content/Theme-CA/img/team-img/team-2.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Alex</h4>
                            <p>Geek</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="~/Content/Theme-CA/img/team-img/team-3.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Ollie</h4>
                            <p>Creative</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="~/Content/Theme-CA/img/team-img/team-4.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Roger</h4>
                            <p>Also a geek</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area End ***** -->
    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Get in touch with us!</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text">
                        <p>We’ll send you epic weekly newsletters, tips and things to make your growth thrive on all social media platforms and channels, all FREE!</p>
                    </div>
                    <div class="address-text">
                        <p><span>Address:</span> 6910 Mariposa Circle California USA 94568</p>
                    </div>
                    <div class="email-text">
                        <p><span>Email:</span> info@ConnectWizz.net</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form action="#" method="post">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">Send Now</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>Connect Wizz</h2>
        </div>
        <!-- social icon-->
        <div class="footer-social-icon">
            @*<a href="https://www.facebook.com/Social-Planner-Pro-101614715056409/?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>*@

            @*<a href="https://www.instagram.com/pickytee_social_pro/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>

            <a href="https://www.youtube.com/channel/UCeOd1a_9B1quA5c_JEFMX-g"> <i class="fa fa-youtube" aria-hidden="true"></i></a>*@

            @*<a href="https://www.linkedin.com/company/social-planner-pro"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>*@
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                  
                    <li><a href="/faqs">FAQs</a></li>
                    <li><a href="/pages/TermsConditions">Terms &amp; Conditions</a></li>
                    <li><a href="/pages/PrivacyPolicy">Privacy Policy</a></li>
                    <li><a href="/pages/CookiesPolicy">Cookies Policy</a></li>
                    <li><a href="/index#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>Copyright ©2021 Connect Wizz</p>
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->
    <!-- Jquery-2.2.4 JS -->

    <script src="~/Content/Theme-CA/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/Theme-CA/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="~/Content/Theme-CA/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="~/Content/Theme-CA/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="~/Content/Theme-CA/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="~/Content/Theme-CA/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="~/Content/Theme-CA/js/active.js"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/sweetalert.min.js"></script>
    <script src="~/Content/app-assets/js/scripts/extensions/sweet-alerts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        <b>
            We use cookies to ensure you get the best experience on our website. <a href="~/pages/CookiesPolicy" target="_blank">Learn more</a>

            <button type="button" class="btn btn-primary btn-sm acceptcookies">
                I agree
            </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->
    @*<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>*@

    <script>

        $(function () {

            function openModel() {
                $('.funnelmodel').modal({ keyboard: false });
            }

            //usertype = Cookies.get('usertype')
            //if (usertype === undefined) {
            //    setTimeout(openModel, 5000);

            //}

            $("#contactform").submit(function (e) {
                // stop the regular form submission

                e.preventDefault();
                addData();
            });
        });

        function setusertypeCookie(val) {
            Cookies.set('usertype', val);
            $('.funnelmodel').modal('toggle');
            currentPath = window.location.pathname;
            if (val == 1 && currentPath != "/")
                window.location.href = '/';
            else if (val == 2 && currentPath != "/influencer")
                window.location.href = '/influencer'
            else if (val == 3 && currentPath != "/agency")
                window.location.href = '/agency'
        }

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }


        function addData() {
            $.ajax({
                type: "POST",
                url: "/contactform",
                data: JSON.stringify(getFormData($("#contactform"))),
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                dataType: "json",
                success: function (data, status, jqXHR) {

                    swal("Success!", "Thank you for contacting us. Connect Wizz will get back to you on the specified email!", "success")
                },

                error: function (jqXHR, status) {
                    // error handler
                    console.log(jqXHR);
                    alert('fail' + status.code);
                }
            });
        }
    </script>
    <script src="//code.tidio.co/vs2afulzirphvfvcttbry1xhkgstiimk.js" async></script>
    <script>
        fbq('track', 'PageView');
    </script>

</body>

</html>
