
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout_LoggedInNew.cshtml";
}

<section class="welcome-area" id="home">
    <!-- Background Shape-->
    <div class="background-shape">
        <div class="circle1 wow fadeInRightBig" data-wow-duration="4000ms"></div>
        <div class="circle2 wow fadeInRightBig" data-wow-duration="4000ms"></div>
        <div class="circle3 wow fadeInRightBig" data-wow-duration="4000ms"></div>
        <div class="circle4 wow fadeInRightBig" data-wow-duration="4000ms"></div>
    </div>
    <!-- Background Animation-->
    <div class="background-animation">
        <div class="star-ani"></div>
        <div class="cloud-ani"></div>
        <div class="triangle-ani"></div>
        <div class="circle-ani"></div>
        <div class="box-ani"></div>
        <div class="line-ani"></div>
    </div>
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-between">
            <!-- Welcome Content-->
            <div class="col-12 col-md-7">
                <div class="welcome-content">
                    <h2 class="wow fadeInUp" data-wow-duration="1000ms">
                        EASILY (ORGANICALLY) GROW A LOYAL INSTAGRAM FOLLOWING
                    </h2>
                    <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
                        Safely Grow Your Instagram Following On Autopilot So You Can Connect With Millions Of Buyers And Skyrocket Sales!
                    </p>
                    <p>
                        Join Social Growth Engine Now And Organically Grow Your Audience By Thousands Of Followers Each Month!
                    </p>
                    <a class="btn radix-btn white-btn mt-3 wow fadeInUp" href="/Account/SignUp" data-wow-duration="1000ms" data-wow-delay="400ms">Get Started FREE</a>
                </div>
            </div>
            <!-- Welcome Thumb-->
            <div class="col-10 col-md-5">
                <div class="welcome-thumb hero1 wow fadeInUp" data-wow-delay="300ms"><img src="~/socialgrowthengine/files/figure-17d04.png" alt=""></div>
            </div>
        </div>
    </div>
</section>
<section class="about-area about2 ">

    <div class="container">
        <div class="row align-items-center justify-content-md-center justify-content-lg-between">
            <!-- About Thumbnail Area-->
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="aboutUs-thumbnail mt-120 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms"><img class="w-100" src="~/socialgrowthengine/files/figure-27d04.png" alt=""></div>
            </div>
            <!-- About Us Content Area-->
            <div class="col-12 col-md-8 col-lg-6">
                <div class="aboutUs-content mt-120 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">
                    <div class="section-heading mb-5">
                        <h2>Effortlessly Grow Your Instagram Audience By Thousands Of Followers Every Month!</h2>
                        <p>
                            Struggling to grow your Instagram following? Then you’ve come to exactly the right place. At Instagram Growth Engine we help thousands of business owners and solopreneurs quickly grow a large audience on autopilot. A following like this gives your business the brand attention it needs to explode in a matter of months.
                        </p>
                    </div>
                    <p>
                        Unlike other services, our strategies are completely above board. This means you won’t run into trouble with Instagram and have your account banned, blacklisted or shut down. Our team simply performs ‘behind the scenes’ growth actions everyday while you focus on producing great content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-area about2 ">

    <div class="container">
        <div class="row align-items-center justify-content-md-center justify-content-lg-between">

            <!-- About Us Content Area-->
            <div class="col-12 col-md-8 col-lg-6">
                <div class="aboutUs-content mt-120 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">
                    <div class="section-heading mb-5">
                        <h2>Become Insta-Famous And Connect With Millions Of People Who Love Your Brand</h2>
                        <p>
                            A large Instagram following can really take your business to the next level. You can connect with millions of people around the world who love your brand and products. This could easily mean thousands of dollars per month in extra sales directly from your Instagram account.
                        </p>
                    </div>
                    <p>
                        It also makes all your other advertising and marketing more effective. Your audience has yet another channel to connect with you, establish your credibility and purchase your products. Like many other social media influencers, you can even leverage your following with affiliate promotions which can be sold for <b>$200-$400 (hundreds and even thousands)</b> per post!
                    </p><a class="btn radix-btn mt-5" href="/Account/SignUp"> Get Started FREE</a>
                    <p>Join Instagram Growth Engine this month For Just $49 per month</p>
                </div>
            </div>
            <!-- About Thumbnail Area-->
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="aboutUs-thumbnail mt-120 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms"><img class="w-100" src="~/socialgrowthengine/files/figure-37d04.png" alt=""></div>
            </div>


        </div>
    </div>
</section>
<section class="about-area about2 ">

    <div class="container">
        <div class="row align-items-center justify-content-md-center justify-content-lg-between">
            <!-- About Thumbnail Area-->
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="aboutUs-thumbnail mt-120 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms"><img class="w-100" src="~/socialgrowthengine/files/figure-47d04.png" alt=""></div>
            </div>
            <!-- About Us Content Area-->
            <div class="col-12 col-md-8 col-lg-6">
                <div class="aboutUs-content mt-120 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">
                    <div class="section-heading mb-5">
                        <h2>Our Expert Team Organically Grows Your Following While You Focus On Posting Content</h2>
                        <p>
                            Are you afraid your account will get banned for using our service? We understand your concerns, however you have nothing to worry about. We only use legitimate technology and proven strategy to grow your following - no black-hat tactics or spam bots which trigger red flags with Instagram.
                        </p>
                    </div>
                    <p>
                        These underhanded tactics only lead to an audience of fake or low-quality followers which is of minimal benefit to you. We organically grow your audience with real people who are interested in your brand. This way you have higher reach and improved engagement which leads to more sales and more profit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="used-technology-area mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="section-heading text-center" style="margin-bottom:0px;">
                    <h2> <span class="mr-2">Here </span> Are Some Of The Benefits You’ll Enjoy When You Join Instagram Growth Engine…</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="feature-area feature4">

    <div class="">
        <div class="container feature-box-two px-5 pt-5">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>01.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>GENERATE MORE LIKES, FOLLOWERS AND TRAFFIC</h5>
                            <p>You can maximise your reach and engagement with followers which means you get more likes, more traffic and ultimately more sales for your business!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>02.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                SAFELY BUILD A LARGE INSTAGRAM FOLLOWING
                            </h5>
                            <p>
                                You won’t have to use black-hat tactics and spam bots to achieve massive growth in your Instagram followers because all our strategies are organic
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>03.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                SAVE TIME AND ENERGY GROWING YOUR ACCOUNT

                            </h5>
                            <p>
                                Building a large following can take years of hard work to do on your own – with Social Growth Engine we do it all for you in a matter of months!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4" style="margin-left:177px;">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>04.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>DON’T CLOG UP YOUR INSTAGRAM NEWS FEED</h5>
                            <p>
                                Following other pages can clog your news feed with content you’re not really interested in. Our strategy grows your audience without this inconvenience
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="feature-card-box mb-5 d-flex">
                        <div class="feature-icon">
                            <h4>05.</h4>
                        </div>
                        <div class="feature-text">
                            <h5>
                                TRY OUR SERVICE AND GET GUARANTEED RESULTS

                            </h5>
                            <p>
                                You have peace of mind that if you don’t see an increase in your followers over the first 60 days, you can get a full refund
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-area about2 ">

    <div class="container">
        <div class="row align-items-center justify-content-md-center justify-content-lg-between">
            <!-- About Thumbnail Area-->
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="aboutUs-thumbnail mt-120 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms"><img class="w-100" src="~/socialgrowthengine/files/support7d04.png" alt=""></div>
            </div>
            <!-- About Us Content Area-->
            <div class="col-12 col-md-8 col-lg-6">
                <div class="aboutUs-content mt-120 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">
                    <div class="section-heading mb-5">
                        <h2>You Can Live Chat With Your Personal Account Manager 24/7 If You Ever Need Help</h2>
                        <p>
                            When you join Social Growth Engine, <b>you get your own personal account manager</b>. Not only will they take care of your daily growth activities like <b>sharing content</b>, following relevant accounts and hash-tagging – they’re also there to support you 24/7.
                        </p>
                    </div>
                    <p>
                        Whenever you have a question all you need to do is contact us through live chat via our website. Our account managers immediately respond to you with expert advice to solve your problem or explain how something works. You’ll never be left stranded to figure something out by yourself!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-area about2">

    <div class="container">
        <div class="row align-items-center justify-content-md-center justify-content-lg-between">

            <!-- About Us Content Area-->
            <div class="col-12 col-md-8 col-lg-6">
                <div class="aboutUs-content mt-120 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">
                    <div class="section-heading mb-5">
                        <h2>Join Over 2648 People Who Have Trusted Us To Build Their Instagram Audience So Far</h2>
                        <p>
                            Many people who are interested in our service are concerned about account security – and rightly so. There are countless people on the internet who are out to scam you and take your money. You must be careful of who you trust with your personal information and Instagram account details.
                        </p>
                    </div>
                    <p>
                        However, you can rest assured that we’re completely legitimate. We’ve already helped thousands of people like you grow their Instagram following.
                    </p>
                    <p>
                        We also have over <b>100+ verified Trustpilot</b>  reviews from our customers who endorse our service. Do yourself a favour and grow your social media following the easy way!
                    </p>
                </div>
            </div>
            <!-- About Thumbnail Area-->
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="aboutUs-thumbnail mt-120 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms"><img class="w-100" src="~/socialgrowthengine/files/support7d04.png" alt=""></div>
            </div>


        </div>
    </div>
</section>

<div class="inner-page-wrapper bg-gray mt-5 pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="section-heading text-center">
                    <h2>See How These Clients <span>Skyrocketed</span> Their Followers With Instagram Growth Engine</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4"><img class="w-100 mb-30 border" src="~/socialgrowthengine/files/social-17d04.jpg" alt=""></div>
            <div class="col-4"><img class="w-100 mb-30 border" src="~/socialgrowthengine/files/social-27d04.jpg" alt=""></div>
            <div class="col-4"><img class="w-100 mb-30 border" src="~/socialgrowthengine/files/prettiponies7d04.png" alt=""></div>
        </div>
    </div>
</div>
<div class="inner-page-wrapper mt-5">
    <div class="container col-8">
        <img class="w-100 mb-30 border" src="~/socialgrowthengine/files/social-growth-engine7d04.png" alt="">
    </div>
</div>
<div class="inner-page-wrapper bg-gray mt-5 pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="section-heading text-center">
                    <h2><span>4</span> Simple Steps To Grow Your Instagram Following…</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-8">
        <img class="w-100 mb-30 border" src="~/socialgrowthengine/files/list7d04.png" alt="">
    </div>
</div>
<!-- Client Feedback Area-->
<section class="client-feedback-area d-md-flex align-items-center justify-content-between mt-5">
    <!-- Client Feedback Heading-->
    <div class="client-feedback-heading">
        <div class="section-heading mb-0 text-right">
            <h2 class="mb-0">More Social Growth Engine Success Stories</h2>
        </div>
    </div>
    <!-- Client Feedback Content-->
    <div class="client-feedback-content">
        <div class="client-feedback-slides owl-carousel">
            <!-- Single Feedback Slide-->
            <div class="card feedback-card">
                <div class="card-body">
                    <i class="lni-quotation"></i>
                    <p>I'm happy to say in just a couple of months my Ig has grown to almost 8000 followers who engage, like&Aacute; comment.</p>
                    <div class="client-info d-flex align-items-center">
                        <div class="client-name">
                            <h6>@@notyouravg_mom</h6>
                            <p>momfluencer</p>
                            <p>+8.2k followers</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Feedback Slide-->
            <div class="card feedback-card">
                <div class="card-body">
                    <i class="lni-quotation"></i>
                    <p>I have so many followers on IG since i have signed up and receive so many enquiries about my product. My business can't survive without you guys.</p>
                    <div class="client-info d-flex align-items-center">
                        <div class="client-name">
                            <h6>@@prettipeonies</h6>
                            <p>ecom</p>
                            <p>+7.4k followers</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Feedback Slide-->
            <div class="card feedback-card">
                <div class="card-body">
                    <i class="lni-quotation"></i>
                    <p>I'll be at 100k followers Thanks to them and everyone wants to know who I am. The engagement is real, the followers are organic and my business has double in sales. </p>
                    <div class="client-info d-flex align-items-center">
                        <div class="client-name">
                            <h6>@@Bossjmoney</h6>
                            <p>influencer</p>
                            <p>+108k followers</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Feedback Slide-->
            <div class="card feedback-card">
                <div class="card-body">
                    <i class="lni-quotation"></i>
                    <p>Social Growth Engine drives traffic that is interested in my work to my page where i can showcase my portfolio and build relationship with folks who migh have othersise never seen my account.</p>
                    <div class="client-info d-flex align-items-center">
                        <div class="client-name">
                            <h6>@@danwag</h6>
                            <p>photographer</p>
                            <p>+11.5k followers</p>
                        </div>
                        <!-- Single Feedback Slide-->
                    </div>
                </div>
            </div>
            <!-- Single Feedback Slide-->
            <div class="card feedback-card">
                <div class="card-body">
                    <i class="lni-quotation"></i>
                    <p>This service is what i recomment to anyone who wants to grow woth real followers. NO BOTS, NO DEAD ACCOUNTS, NO SPAM ACCOUNTS! This service is orth the investment into your brand.</p>
                    <div class="client-info d-flex align-items-center">
                        <div class="client-name">
                            <h6>@@glitzglamom</h6>
                            <p>momfluencer</p>
                            <p>+16.5k followers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="inner-page-wrapper mt-5">
    <div class="container col-8">
        <img class="w-100 mb-30 border" src="~/socialgrowthengine/files/screens7d04.png" " alt="">
    </div>
</div>
<!-- Feature Area-->
<div class="feature-area feature3 mt-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-12">
                <!-- Feature Content-->
                <div class="feature--content mb-50 ">
                    <h2 class="text-center ">
                        Special Introductory Offer:
                        Join Social Growth Engine And Rapidly Boost Your Followers By 30% For Only $49 per month (Save $40)
                    </h2>
                    <p>Let us take care of your Instagram growth and save you <b>up to 20 (countless)</b>  hours of your time each and every month. Join Social Growth Engine for $49 per month (usually $89 - Save $40) before the end of the month!</p>
                    <p>Here’s what you’ll get when you sign up today:</p>
                    <ul>
                        <li>
                            Forever access to our discounted monthly price to Social Growth Engine. Rapidly grow your followers without you having to do a thing <b>(Value $78/month)</b>
                        </li>
                        <li>5 Proven Methods To Make More Sales With Instagram Even If you Have Under A 1000 Followers (Value $147)</li>
                        <li>
                            The Complete Content Capture Guide: 3 Simple Steps To Creating Eye Popping Content That Goes Viral On Instagram (Value $47)
                        </li>
                        <li>The 1 Simple Strategy For Converting Followers Into Lifelong Customers (Value $47)</li>
                    </ul>
                    <p>
                        WARNING: After this offer ends, you’ll have to pay full price ($89 per month) and the bonus ‘Instagram for Business Sales Kit’ may no longer be available. Enter your details below now and grow your following the easy way.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="cta-area cta2 section-padding-120">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-8">
                <div class="cta-text mb-4 mb-md-0">
                    <h2 class="mb-0">
                        Join Instagram Growth Engine In For Just $49 per month
                    </h2>
                </div>
            </div>
            <div class="col-12 col-md-4 text-md-right"><a class="btn radix-btn white-btn" href="/Account/SignUp">Grow my following now</a></div>
        </div>
    </div>
</section>