
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout_LoggedInNew.cshtml";
}
<div class="breadcrumb--area bg-img bg-overlay jarallax" style="background-image: url('~/Content/Theme-Enviro/img/bg-img/12.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="breadcrumb-title">Pricing Plan</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Plan Area-->
<section class="radix-pricing-plan-area pt-5 pb-5 bg-gray">
    <!-- Pricing Shape-->
    <div class="price-shape">
        <!--img(src="img/core-img/price-shape.png" alt="")-->
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7">
                <div class="section-heading text-center">
                    <p>
                        Using the latest in Machine Learning directly integrated with Instagram specifically built for the 2020 Instagram Marketer, Agency and Influencer.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="priceTabContent">
                    <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="month--tab">
                        <div class="row no-gutters justify-content-center">
                            <!-- Single Pricing Plan-->
                            <div class="col-12 col-sm-8 col-md-7 col-lg-4">
                                <div class="card pricing-card mb-30">
                                    <div class="pricing-heading d-flex align-items-center">
                                        <div class="price-icon"><i class="lni-pizza"></i></div>
                                        <div class="price">
                                            <h5>Pro Plan</h5>
                                            <h2>$49</h2><span>Per Account</span>
                                        </div>
                                    </div>
                                    <div class="pricing-desc">
                                        <ul>
                                            <li>
                                                No Password Needed
                                            </li>
                                            <li>Use Instagram to Sign in</li>
                                            <li class="">100% Organic, No Bots</li>
                                            <li class="">Instagram Integration</li>
                                            <li class="">Intelligent Targeting</li>
                                            <li class="">Cancel Anytime, No Contracts</li>
                                            <li class="">30 Day Money Back Guarantee</li>
                                            <li class="">24 / 7 Live Support</li>
                                        </ul>
                                        <span class="mt-2 mb-2">Outcomes</span>
                                        <ul>
                                            <li>1500 - 3000 New Followers</li>
                                            <li>
                                                150% or more Increase in Engagement
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-btn"><a class="btn radix-btn" href="#">Choose Plan</a></div>
                                </div>
                            </div>
                            <!-- Single Pricing Plan-->
                            <div class="col-12 col-sm-8 col-md-7 col-lg-4">
                                <div class="card pricing-card active mb-30">
                                    <div class="pricing-heading d-flex align-items-center">
                                        <div class="price-icon"><i class="lni-offer"></i></div>
                                        <div class="price">
                                            <h5>Platinum Plan</h5>
                                            <h2>$99</h2><span>Per Account</span>
                                        </div>
                                    </div>
                                    <div class="pricing-desc">
                                        <ul>
                                            <li>
                                                No Password Needed
                                            </li>
                                            <li>Use Instagram to Sign in</li>
                                            <li class="">100% Organic, No Bots</li>
                                            <li class="">Instagram Integration</li>
                                            <li class="">Intelligent Targeting</li>
                                            <li class="">Cancel Anytime, No Contracts</li>
                                            <li class="">30 Day Money Back Guarantee</li>
                                            <li class="">24 / 7 Live Support</li>
                                        </ul>
                                        <span class="mt-2 mb-2">Outcomes</span>
                                        <ul>
                                            <li>1500 - 3000 New Followers</li>
                                            <li>
                                                300% or more Increase in Engagement
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-btn"><a class="btn radix-btn" href="#">Choose Plan</a></div>
                                </div>
                            </div>
                            <!-- Single Pricing Plan-->
                            <div class="col-12 col-sm-8 col-md-7 col-lg-4">
                                <div class="card pricing-card mb-30">
                                    <div class="pricing-heading d-flex align-items-center">
                                        <div class="price-icon"><i class="lni-burger"></i></div>
                                        <div class="price">
                                            <h5>Agencies Plan</h5>
                                            <h2>$299</h2><span>
    + $20 Per Account
</span>
                                        </div>
                                    </div>
                                    <div class="pricing-desc">
                                        <ul>
                                            <li>
                                                No Client Password Needed
                                            </li>
                                            <li>Unlimited Client Accounts</li>
                                            <li class="">White Labelled AI App</li>
                                            <li class="">Advanced Account Controls</li>
                                            <li class="">
                                                Direct Messages
                                                (Coming Soon)
                                            </li>
                                            <li class=""> Cancel Anytime, No Contracts</li>
                                            <li class=""> 2nd Level Support Access</li>
                                        </ul>
                                        
                                    </div>
                                    <div class="pricing-btn"><a class="btn radix-btn" href="#">Choose Plan</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="border-dashed"></div>
<div class="our-partner-area partner3 p-2">
    <p class="text-center">Coming Soon ... Growth tools for</p>
    <div class="container mt-20 mb-20">
        <div class="row">
            <div class="col-12">
                <div class="our-partner-slides owl-carousel">
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/IG.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/LinkedIn.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/Pinterest.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/Twitter.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/YouTube.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/IG.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/LinkedIn.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/Pinterest.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/Twitter.png" alt=""></div>
                    <div class="single-partner"><img src="~/Content/Theme-Enviro/img/partner-img/YouTube.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-btn-area ml-5 mt-5 mt-lg-0 text-center"><a class="btn radix-btn white-btn" href="/Account/SignUp">Get Started</a></div>

</div>