
@{
    ViewBag.Title = "Home";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="It only takes minutes to start automating your Instagram or LinkedIn outreach with Social Planner Pro. Our automation tools are mainly used by sales teams to automate lead generation efforts and get more followers and engagement with their fan base.">
    <meta name="keywords" content="social growth, instagram growth, boost instagram, social growth engine, social growth app, social growth api, instagram api, instagram automation">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Tutorials - Boost your leads and fan bases. Leading growth automation tools - 2021</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/Theme-CA/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="~/Content/Theme-CA/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="~/Content/Theme-CA/css/responsive.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3N5PN3D82"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H3N5PN3D82');
    </script>
    <style>
        .rounded {
            border-radius: 1.25rem !important
        }

        .list-group-item {
            padding: .05rem 1.25rem;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '783583319163061');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=783583319163061&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>




    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-9">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="~/home/index"><img src="~/Content/Theme-SPPro/img/core-img/SPProWhite.png" /></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item "><a class="nav-link" href="~/home/index">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/home/influencers">Influencers</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/home/agency">Agency</a></li>
                                    <li class="nav-item "><a class="nav-link" href="~/home/get-started">Get Started</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/home/faqs">FAQs</a></li>
                                    <li class="nav-item active"><a class="nav-link" href="~/home/videos">Videos</a></li>
                                    <li class="nav-item "><a class="nav-link" href="~/home/download">Download</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/home/index#contact">Contact</a></li>

                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="~/account/login">Sign In</a>
                                </div>
                                <div class="sing-up-button d-lg-none">
                                    <a href="~/account/signup">Sign Up Free</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-3">
                    <div class="sing-up-button d-none d-lg-inline">
                        <a href="~/account/login">Sign In</a>
                    </div>
                    <div class="sing-up-button d-none d-lg-inline">
                        <a href="~/account/signup" style="background-color:#fb397d">Sign Up Free</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home" style="height:250px;">

        <!-- Welcome thumb -->

    </section>

    <section class="special-area bg-white ">
        <!-- Special Description Area -->
        <div class="special_description_area pt-150 bg-white ">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-xl-12 ml-xl-auto">
                        <div class="special_description_content text-center">
                            <h2 class="text-center">Must Watch Growth Videos</h2>


                            <div class="row app-download-area d-flex justify-content-center mb-3">


                                <div class=" col-md-6 col-sm-12">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/r2djPpiDXBc?rel=0" allowfullscreen></iframe>
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gyIV6cLCSVI?rel=0" allowfullscreen></iframe>
                                    </div>

                                </div>

                                <div class=" col-md-6 col-sm-12 mt-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9zluKGdD_r8?rel=0" allowfullscreen></iframe>
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-12 mt-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ny1afRoEoIY?rel=0" allowfullscreen></iframe>
                                    </div>

                                </div>

                                <div class=" col-md-6 col-sm-12 mt-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tNw7U_mqp_w?rel=0" allowfullscreen></iframe>
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-12 mt-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HgjSMmj7pTQ?rel=0" allowfullscreen></iframe>
                                    </div>

                                </div>

                                <div class=" col-md-6 col-sm-12 mt-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JdwqD8Kewc0?rel=0" allowfullscreen></iframe>
                                    </div>

                                </div>






                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>Social Planner Pro</h2>
        </div>
        <!-- social icon-->
        <div class="footer-social-icon">
            <a href="https://www.facebook.com/Social-Planner-Pro-101614715056409/?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>

            <a href="https://www.instagram.com/social_planner_pro/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCeOd1a_9B1quA5c_JEFMX-g"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/social-planner-pro"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>

        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="/home/agency">Agency</a></li>
                    <li><a href="/home/faqs">FAQs</a></li>
                    <li><a href="/pages/TermsConditions">Terms &amp; Conditions</a></li>
                    <li><a href="/pages/PrivacyPolicy">Privacy Policy</a></li>
                    <li><a href="/pages/CookiesPolicy">Cookies Policy</a></li>
                    <li><a href="/home/index#contact">Contact</a></li>

                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>Copyright ©2020 SocialPlannerPro</p>
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->
    <!-- Jquery-2.2.4 JS -->

    <script src="~/Content/Theme-CA/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/Theme-CA/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="~/Content/Theme-CA/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="~/Content/Theme-CA/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="~/Content/Theme-CA/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="~/Content/Theme-CA/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="~/Content/Theme-CA/js/active.js"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/sweetalert.min.js"></script>
    <script src="~/Content/app-assets/js/scripts/extensions/sweet-alerts.js"></script>
    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="~/pages/CookiesPolicy" target="_blank">Learn more</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            I agree
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    <script>

        $(function () {



            $("#contactform").submit(function (e) {
                // stop the regular form submission

                e.preventDefault();
                addData();
            });
        });

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }


        function addData() {
            $.ajax({
                type: "POST",
                url: "/home/contactform",
                data: JSON.stringify(getFormData($("#contactform"))),
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                dataType: "json",
                success: function (data, status, jqXHR) {

                    swal("Success!", "Thank you for contacting us. SocialPlannerPro will get back to you on the specified email!", "success")
                },

                error: function (jqXHR, status) {
                    // error handler
                    console.log(jqXHR);
                    alert('fail' + status.code);
                }
            });
        }
    </script>
    <script src="//code.tidio.co/vs2afulzirphvfvcttbry1xhkgstiimk.js" async></script>
    <script>
        fbq('track', 'PageView');
    </script>
</body>

</html>
