
@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}


<!-- main sec start -->
<div class="information-wrap main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>George Lastname</h2>
                <span style="font-weight: 400;">Status: <i style="color:#ff0000; font-weight: 400; font-style: normal;">Verification Req’d</i></span>
            </div>
        </div>
    </div>
</div>
<div class="detail-page-contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li><a href="">Contact Details</a></li>
                    <li><a href="">Order History</a></li>
                    <li><a href="">Cart</a></li>
                    <li><a href="#">Target Form</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="information-form-detail">
        <div class="information-form-inner detail">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <ul>
                        <li>JV Box #</li>
                        <li>IP # <span>123.123.100.100</span></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-6">
                    <ul>
                        <li>E-mail</li>
                        <li><span class="email">kardio.tvister@yanex.com</span></li>
                    </ul>
                    <!--<h4>E-mail<br><span>kardio.tvister@yanex.com</span></h4>-->
                </div>
                <div class="col-md-4 col-xs-6">
                </div>
            </div>
            <hr />
            <div class="form-inner">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <label>Title</label>
                        <input type="text">
                        <label>Tel</label>
                        <input type="text">
                        <label>Town / City</label>
                        <input type="text">
                        <label>Country</label>
                        <input type="text">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <label>First name</label>
                        <input type="text">
                        <label>Mobile</label>
                        <input type="text">
                        <label>Postal / Zip Code</label>
                        <input type="text">
                        <a href=""><img src="images/lock-img.png" alt=""></a>
                        <span>
                            <a href="">
                                Assign IP<br>
                                to City proxy
                            </a>
                        </span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <label>Last name</label>
                        <input type="text">
                        <label>Address Line 1</label>
                        <input type="text">
                        <label>State / Region</label>
                        <input type="text">
                        <a href=""><img src="images/lock-img.png" alt=""></a>
                        <span>
                            <a href="">
                                Assign<br>
                                JV Box
                            </a>
                        </span>
                    </div>
                </div>
                <div class="users">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="user-inner">
                                <span>Instagram Username</span>
                                <h2>Wanna_be_Cool_2019</h2>
                                <a href=""><img src="images/pencil-icon.png" alt=""></a>
                            </div>
                            <div class="user-inner">
                                <span>Instagram Username</span>
                                <h2>Wanna_be_Cool_2019</h2>
                                <a href=""><img src="images/pencil-icon.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <div class="user-btn">
                                <a href="">Update NOW on JV</a>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="user-inner date">
                                <span>Last Updated : 12 Apr 2019 &nbsp;&nbsp;&nbsp; 23 : 34 : 56 &nbsp;&nbsp;&nbsp;JV Status</span>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <div class="user-btn verification">
                                <a href="">Verification # req’d</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="send-btn">
                                <a href="">
                                    Send<br>
                                    Verification Requires Email
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="send-btn factor">
                                <a href="">
                                    Send<br>
                                    Two Factor Email
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="send-btn email">
                                <a href="">
                                    Send<br>
                                    Invalid Credential Email
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="compaign-sec">
            <div class="btn-search">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="send-search-text">
                            <input type="text" placeholder="Type Notes / Reasons for call back here">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="send-search">
                            <input type="submit" value="Schedule Call back" name="" class="transition">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="compaign-sec">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Subscribed for the following Campaigns:</h2>
                    <ul>
                        <li>User has opted in to receive Educational Email Services<span>Yes</span></li>
                        <li>User has opted in to receive Marketing Emails<span>Yes</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="source">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6 inner-colm">
                    <h2>Source</h2>
                    <span>Web / Invited</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 inner-colm">
                    <h2>Regist</h2>
                    <span>12th April 2018  18 : 34</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 inner-colm">
                    <h2>Responsible Team member</h2>
                    <span>12th April 2018  18 : 34</span>
                    <h2>Role</h2>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 inner-colm">
                    <h2>Available to everyone</h2>
                    <span>no</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 inner-colm">
                    <h2>Comment</h2>
                    <span>Website New User</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 inner-colm">
                    <h2>Cancelled Date</h2>
                    <span>12th April 2018  18 : 34</span>
                </div>
            </div>
        </div>

        <div class="delete-user">
            <div class="row">
                <div class="col-xs-12">
                    <a href="" class="delete">Delete User</a>
                    <p>Warning ! : This will delete all CRM records, Release proxies IP & JV entry</p>
                    <a href="" class="email">
                        email Newsletter<br>
                        up sell influencer plan
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>


