@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout_LoggedInNewSP.cshtml";
}

<div class="breadcrumb--area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/12.jpg'); height:95px;">
    
</div>
<!-- Register Area-->
<div class="register-area pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-12 col-lg-6">
                <div class="card register-card bg-gray p-1 p-sm-4 mb-50">
                    <div class="card-body">
                        <h4>Reset Password</h4>
                        <p>Already have an account?<a class="ml-2" href="/Account/Login">Log in</a></p>
                        <!-- Register form-->
                        <div class="register-form my-5">
                            @using (Html.BeginForm("", "", FormMethod.Get, new { id = "Form_ForgetPassword" }))
                            {
                                <div class="form-group">
                                    <input class="form-control rounded-0" id="UsersEmail" type="Email" name="username" value="" placeholder="Please enter your email address here." required>
                                </div>
                                <div class="form-group">
                                    <label class="error" id="forgotPassword-error"></label>
                                </div>
                            }
                            <button class="btn radix-btn white-btn w-100 btn_ForgetPassword" type="button"><i class="lni-lock mr-2"></i> Email me password reset link. &nbsp; <span id="ForgotPassSpiner" style="display:none"><i class="fa fa-spinner fa-spin"></i></span></button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Register Thumbnail-->
            <div class="float-right col-12 col-lg-6">
                <div class="register-thumbnail mb-50">
                    <img src="~/Content/Images/Sign_IN_Sign_UP.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="border-top"></div>
</div>
