@{
    ViewBag.Title = "Sign in and tweak your targeting and preferences. Attract your ideal fan bases - Instagram 2021";
    ViewBag.description = "Sign in and tweak your targeting and preferences. Attract your ideal fan bases - Instagram 2021";
    Layout = "~/Views/Shared/_Layout_LoggedInNewSP.cshtml";
}


<!-- Breadcrumb Area-->
    <div class="breadcrumb--area jarallax" style=" height:95px;background-color: transparent;">

    </div>
<!-- Register Area-->
<div class="register-area pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <!-- Register Card-->
            <div class="col-12 col-lg-6">
                <div class="card register-card bg-gray p-1 p-sm-4 mb-50">
                    <div class="card-body">
                        <h4>Welcome Back!</h4>
                        <p>Didn't have an account?<a class="ml-2" href="/Account/SignUp">Sign Up</a></p>
                        <!-- Register Form-->
                        <div class="register-form my-5">
                            @using (Html.BeginForm("", "", FormMethod.Post, new { id = "Form_Login" }))
                            {
                                <div class="form-group">
                                    <input class="form-control rounded-0" type="email" name="EmailAddress" placeholder="Email Address" required>
                                </div>
                                <div class="form-group">
                                    <label class="label-psswd" for="password"><span class="hide">HIDE</span><span class="show">SHOW</span></label>
                                    <input class="input-psswd form-control rounded-0" id="password" name="Password" type="password" placeholder="Password" psswd-shown="false" required>
                                </div>
                                <div class="form-group">
                                    <label class="error" id="login-error"></label>
                                </div>
                            }
                            <button class="btn radix-btn white-btn w-100 btn_formLogin" type="button"><i class="lni-unlock mr-2"></i>Login  &nbsp;  <span id="LoginSpiner" style="display:none"><i class="fa fa-spinner fa-spin"></i></span></button>

                            <div class="mt-3 text-right">
                                <a class="forgot-password mt-3" href="/Account/ForgotPassword">Forgot Password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Register Thumbnail-->
            <div class="float-right col-12 col-lg-6">
                <div class="register-thumbnail mb-50">
                     <img src="~/Content/Images/sign-in-sign-up.jpeg" style="height:519px;" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="border-top"></div>
</div>