<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="SocialGrowth2ConnectionString" connectionString="metadata=res://*/DB.SocialGrowth2EntityModel.csdl|res://*/DB.SocialGrowth2EntityModel.ssdl|res://*/DB.SocialGrowth2EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s14.winhost.com;initial catalog=DB_129180_socialgrowth;integrated security=False;persist security info=True;user id=DB_129180_socialgrowth_user;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="SocialGrowth2Connection" connectionString="metadata=res://*/DB.SocialGrowth2EntityModel.csdl|res://*/DB.SocialGrowth2EntityModel.ssdl|res://*/DB.SocialGrowth2EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s14.winhost.com;initial catalog=DB_129180_socialgrowth;integrated security=False;persist security info=True;user id=DB_129180_socialgrowth_user;password=$tudent#@!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SocialGrowth2Connection" connectionString="metadata=res://*/DB.SocialGrowth2EntityModel.csdl|res://*/DB.SocialGrowth2EntityModel.ssdl|res://*/DB.SocialGrowth2EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=sg_dev;integrated security=False;persist security info=True;user id=sa;password=Sh@rp2020;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
