<div class="mainIntro3">

    <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="zoom-out">
                <h1 class="growH1">
                    GROW YOUR SOCIAL MEDIA PRESENCE
                </h1>
                <h2 class="nowH2">NOW</h2>

                <p>
                    We will get you real followers, likes and comments with our in-house Target Marketing experts.
                    <span class="spanHide"><br /></span>
                    Target your audience, get new clients, sponsorships and more!
                </p>
            </div>

        </div>
        <br />
        <div class="row" id="manage">
            <div class="col-md-2 padding-zero" data-aos="zoom-out">
                <div class="sgIntroImg Socialimage">
                    <img class="instagramIMGWidth" src="https://cdn.bitrix24.com/b5940105/landing/029/029396478ab45e6faaf060f72ce045da/Insta.png" />
                </div>
                <div class="sgIntroDetail" id="sgIntroDetailmedia">
                    <h2>INNOVATIVE</h2>
                    <p>Machine learning and AI algorithms constantly being updated by real social media users</p>
                </div>
            </div>
            <div class="col-md-2  padding-zero" data-aos="zoom-out">
                <div class="sgIntroImg Socialimage">
                    <img class="instagramIMGWidth" src="https://cdn.bitrix24.com/b5940105/landing/ea3/ea3ad81f56736fa10f955ae018c53e35/YouTube_2x.png" />
                </div>
                <div class="sgIntroDetail" id="sgIntroDetailmedia">
                    <h2>EASY</h2>
                    <p>3 simple steps to configure your targeting, locations and destination channels.</p>
                </div>
            </div>
            <div class="col-md-2 padding-zero" data-aos="zoom-out">
                <div class="sgIntroImg Socialimage">
                    <img class="instagramIMGWidth" src="https://cdn.bitrix24.com/b5940105/landing/192/192a196302b14688d15b191f351b2836/LinkedIN.png" />
                </div>
                <div class="sgIntroDetail" id="sgIntroDetailmedia">
                    <h2>FAST</h2>
                    <p>We process all change requests to social media targeting ads every 5 minutes.  Tweak as often as you like and we will update your targeting in minutes.</p>
                </div>
            </div>
            <div class="col-md-2 padding-zero" data-aos="zoom-out">
                <div class="sgIntroImg Socialimage">

                    <img class="instagramIMGWidth" src="https://cdn.bitrix24.com/b5940105/landing/20f/20f3b821a9464f00f615e885173d9034/Twitter.png" />
                </div>
                <div class="sgIntroDetail" id="sgIntroDetailmedia">
                    <h2>SIMPLE</h2>
                    <p>No contract, no tie-in and upgrade/ downgrade or cancel your monthly plans at any time.</p>
                </div>
            </div>

            <div class="col-md-2 padding-zero" data-aos="zoom-out">
                <div class="sgIntroImg Socialimage">

                    <img class="instagramIMGWidth" src="https://cdn.bitrix24.com/b5940105/landing/54f/54ff235d5b2dc757f61ab1c02d6057c6/Facebook.png" />
                </div>
                <div class="sgIntroDetail" id="sgIntroDetailmedia">
                    <h2>SIMPLE</h2>
                    <p>No contract, no tie-in and upgrade/ downgrade or cancel your monthly plans at any time.</p>
                </div>
            </div>
            <div class="col-md-2 padding-zero" data-aos="zoom-out">
                <div class="sgIntroImg Socialimage">

                    <img class="instagramIMGWidth" src="https://cdn.bitrix24.com/b5940105/landing/a61/a61562e452ad7635b11244b158a5bd31/Pint.png" />
                </div>
                <div class="sgIntroDetail" id="sgIntroDetailmedia">
                    <h2>SIMPLE</h2>
                    <p>No contract, no tie-in and upgrade/ downgrade or cancel your monthly plans at any time.</p>
                </div>
            </div>
        </div>
    </div>
</div>