
<div class="mainIntro3">
    <div class="container">
        <div class="row">
            <div class="col-md-12"  id="headingleft">
                <br />
                <h1>
                    <b>OUR CUSTOMERS</b> LOVE US
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="customerBlock">
                    <h4>Mandy</h4>
                    <small>DIGITAL ENTREPRENUER</small><br />
                    <br />
                    <i class="faIcon fa fa-quote-right"></i>
                    <p>Incredible job on increasing our Instagram following with followers who truly align with our mission.  We've even received some leads and loyal customers.  Thanks for your hard work ;)</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="customerBlock">
                    <h4>Mandy</h4>
                    <small>DIGITAL ENTREPRENUER</small><br />
                    <br />
                    <i class="faIcon fa fa-quote-right"></i>
                    <p>Incredible job on increasing our Instagram following with followers who truly align with our mission.  We've even received some leads and loyal customers.  Thanks for your hard work ;)</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="customerBlock">
                    <h4>Mandy</h4>
                    <small>DIGITAL ENTREPRENUER</small><br />
                    <br />
                    <i class="faIcon fa fa-quote-right"></i>
                    <p>Incredible job on increasing our Instagram following with followers who truly align with our mission.  We've even received some leads and loyal customers.  Thanks for your hard work ;)</p>
                </div>
            </div>
        </div>
    </div>
</div>
