
<div class="container" id="firstSec">

    <div class="containerfluid">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="Sec_body" >

                    <h1 style="color:white;">GROW FASTER</h1>

                    <p>
                        Our service helps you grow your Instagram account, with powerful
                        Instagram growth, get real
                        <span class="hiddentext"><br></span>instagram followers & engagement.
                    </p>
                    <p>Real growth, real people.</p>

                    <a href="#" class="btn lnk_ShowSignupModal" id="startFree" style="color:white;">get start - free</a>
                </div>
            </div>

        </div>
    </div>

</div>

<!--

<div class="containerfuild" style="height:100%">
    <div class="row">

        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">

            <img src="https://cdn.bitrix24.com/b5940105/landing/6c2/6c2a6386e99041f124b3eeaabea0dc36/Sky_Social.png" alt="Section_1 image" class="img-responsive" style="height:80%;  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;width:80%;z-index:2;  background-color: rgba(0,0,0,0.5); ;height:100%;-webkit-filter: brightness(50%);filter: brightness(50%);
        opacity:0.6; min-width:100%; ">

            <div class="carousel-caption" style="color:red;text-align:center">
                <h1 style="color:red;">Example headline.</h1>
            </div>

        </div>

    </div>
</div>

-->
