
<div class="mainIntro2">
    <div class="container contaier_pd_bottom">
        <div class="row">
            <div class="col-md-5" id="hideOnMobile">
                <div class="intro1 intro1_pd_top" data-aos="fade-right">
                    <img src="~/Content/ThemeAssets/Images/Real_People.png" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="intro2 " data-aos="fade-left" id="floatleft">
                    <h1><b>REAL PEOPLE.</b> REAL CONNECTIONS</h1>
                    <p>Growing a social media following is a must these days, but unless you're an A-list celebrity it’s going to take a lot of work.</p>
                    <p>This is a social media growth service designed specifically for busy entrepreneurs who are looking to grow their brand and sales through Instagram, LinkedIn, Twitter, Facebook, and more.</p>
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2"><i class="faIcon fa fa-group"></i></div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h3>GROW YOUR FOLLOWERS</h3>
                            <p>Increase your Instagram audience with the most powerful Instagram growth service on the market using the most advanced social media technology available.</p>
                        </div>
                    </div>
             
                    <div class="row">
                        <div class="col-xs-2 col-md-2"><i class="faIcon fa fa-heart"></i></div>
                        <div class="col-xs-10 col-md-10">
                            <h3>LIKE EXCHANGE</h3>
                            <p>Our exclusive Like Exchange add-on will help you get up to 300 likes from real accounts to each new post.  300 likes in 30 minutes!   This will give you a HUGE increase in organic reach and boost your engagement further.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-md-2"><i class="faIcon fa fa-handshake-o"></i></div>
                        <div class="col-xs-10 col-md-10">
                            <h3>INFLUENCER MARKETPLACE - COMING SOON!</h3>
                            <p>We will be connecting brands with micro-influencers, helping brands find everyday people to celebrate them through beautiful content. Since you only pay for the posts you love, it costs nothing but a few minutes to cast the net and watch the submissions roll in.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5" id="showOnMobile">
                <div class="intro1 intro1_pd_top" data-aos="fade-right" id="floatright">
                    <img src="~/Content/ThemeAssets/Images/Real_People.png" />
                </div>
            </div>
        </div>
    </div>
</div>
