<div class="modal fade" id="Modal_ForgetPasswordPopup" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-4 padding-zero">
                        <div class="popupLeftSide">
                            <img src="~/Content/ThemeAssets/Images/19_W.png" />
                            <h4>Powerful social growth & engagement tools at your finger tips</h4>
                        </div>
                    </div>
                    <div class="col-md-8 padding-zero">
                        <div class="popupRigtSide">
                            <span class="dialog-close">
                                <a href="#" onclick="return false;" data-dismiss="modal">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </span>

                            <h1>Forget Password</h1>

                            <br />
                            <p>Please enter your email address</p>

                            <input id="UsersEmail"  type="Email" name="username" value="" placeholder="Email" />

                            <br />
                            <button id="btn_ForgetPassword" type="button" value="Send" class="btn btn-success">
                                Send &nbsp; <span id="ForgotPassSpiner" style="display:none"><i class="fa fa-spinner fa-spin"></i></span>
                            </button>

                            <br />
                            <p>check your inbox for instruction on how to reset your password.</p>

                            <br />
                            <div class="footer-logo text-center">
                                <img src="~/Content/ThemeAssets/Images/social-growth-footer-logo.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{

<script type="text/javascript">
    $("document").ready(function () {
        $(".btn_ForgetPassword").on("click", function (e) {            
            var UsersEmail = $("#UsersEmail").val();
            if (UsersEmail.toLowerCase() != "") {
                $.ajax({
                    type: "GET",
                    url: "/Account/forgetpassword",
                    dataType: "json",
                    success: function (Data) {
                        alert("hello");
                        if (!$.isEmptyObject(Data)) {
                            if (Data.ResultType == "Success") {
                                $("#Modal_DeleteUserAccountFinal").modal("hide");
                                $("#Modal_MessageBoxTitle").text("Success!");
                                $("#Modal_MessageBoxBody").text("Your account has been successfully deleted.");
                                $("#Modal_Messagebox").modal("show");
                            } else {
                                $("#Modal_DeleteUserAccountFinal").modal("hide");
                                $("#Modal_MessageBoxTitle").text("Error!");
                                $("#Modal_MessageBoxBody").text(data.message);
                                $("#Modal_Messagebox").modal("show");
                            }
                        }
                    },
                    failure: function (errMsg) {
                     
                    }
                });
            }
            else {
                $("#Modal_MessageBoxBody").text("Email Required.");
            }
        });
    });

</script>
}