<div class="modal fade" id="Modal_InstagramPlannerPopup" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-4 padding-zero">
                        <div class="popupLeftSide">
                            <img src="~/Content/ThemeAssets/Images/6_W.png" />
                            <h4>Free Step-by-step guide to being a socail star</h4>
                        </div>
                    </div>
                    <div class="col-md-8 padding-zero">
                        <div class="popupRigtSide">
                            <span class="dialog-close">
                                <a href="#" onclick="return false;" data-dismiss="modal">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </span>
                            <br />
                            <h1>Instagram Marketing Planner</h1>
                            <br />
                            <p>Please enter your email to get updates straight to your inbox.</p>

                            <input type="Email" name="username" value="" placeholder="Email" />
                            <input type="button" value="Send" class="btn btn-success" />

                            <br />
                            <br />
                            <p><a href="">No Thanks</a></p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

