<div class="mainIntro3">
    <div class="container" id="2coldiv">
        <div class="row">

            <div class="col-sm-6 col-md-6" id="floatleftIntro1_bg_img1">
                <!-- id="floatleftIntro1_bg_img"> -->
                <div class="floatrightIntro1" id="hideCol1">
                    <img src="~/Content/ThemeAssets/Images/img1.jpg" />
                </div>
                <div class="floatleftIntro1">
                    <h3>FOLLOWERS</h3>
                    <h4>HACK</h4>
                    <p class="followsPara" style="color:white;">7 TIPS TO GET REAL INSTAGRAM FOLLOWERS QUICKLY</p>
                    <a href="#" class="btn btn-primary lnk_ShowSignupModal newbtn">JOIN US</a>
                </div>
            </div>

            <div class="col-sm-6 col-md-6" id="floatleftIntro1_bg_img2">
                <div class="floatleftIntro2" id="hideCol2">
                    <img src="~/Content/ThemeAssets/Images/img2.jpg" />
                </div>
                <div class="floatrightIntro2">
                    <h3>GROWTH</h3>
                    <h4>TIPS</h4>
                    <p class="followsPara" style="color:white;">HOW TO GROW A SUCCESSFUL INSTAGRAM ACCOUNT</p>
                    <a href="#" class="btn btn-primary lnk_ShowSignupModal newbtn">JOIN US</a>
                </div>
            </div>

        </div>
    </div>
</div>
