<div class="modal fade" id="Modal_SignupWizardPopup" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="wizard_step">

                    <div class="wizard_step1">

                        <div class="row">
                            <div class="col-md-4 padding-zero">
                                <div class="popupLeftSide signupLeft">
                                    <img src="~/Content/ThemeAssets/Images/17_W.png" />
                                    <h4>Get real instagram followers & engagements</h4>
                                </div>
                            </div>
                            <div class="col-md-8 padding-zero">
                                <div class="popupRigtSide">
                                    <span class="wizard_circle">
                                        <i class="fa fa-circle active" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <a href="#" onclick="return false;" data-dismiss="modal" class="active" style="float:right">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </span>

                                    <h1>Let setup your targeting preferences</h1>
                                    <p>You can change this any time and as often as you like.</p>

                                    <label>Choose the hashtags you want to engage with:</label>
                                    <textarea rows="2"></textarea>

                                    <label>Choose the hashtags you DO NOT want to engage with(optional):</label>
                                    <textarea rows="2"></textarea>

                                    <input type="button" value="Get Started - Free" class="btn btn-default btn_PrefStep1" /> <br />

                                    <br />

                                    <small>By clicking this button, you agree to Social Growth <a href="#">Anti-spam Policy &Aacute; Terms of Use</a></small>

                                    <small>@@@DateTime.Now.Year All Rights Reserved Social Growth <a href="#">Privacy & Terms</a></small>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="wizard_step2 hide">

                        <div class="row">

                            <div class="col-md-4 padding-zero">
                                <div class="popupLeftSide signupLeft">
                                    <img src="~/Content/ThemeAssets/Images/7_W.png" />
                                    <h4>We can target geographically, by city, state or country.</h4>
                                    <h4>Or even your competitors | </h4>
                                </div>
                            </div>

                            <div class="col-md-8 padding-zero">
                                <div class="popupRigtSide">
                                    <span class="wizard_circle">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle active" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <a href="#" onclick="return false;" data-dismiss="modal" class="active" style="float:right">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </span>

                                    <h1>Where are your followers?</h1>

                                    <label>Choose up to 8 locations to focus on. Cities work best(optional):</label>
                                    <input type="text" placeholder="Cities, states, regions, countries" />

                                    <label>Choose up to 8 locations to skip (optional):</label>
                                    <input type="text" placeholder="Cities, states, regions, countries" />

                                    <label>What city do you mostly log in from?</label>
                                    <input type="text" placeholder="City, States, Country" />

                                    <input type="button" value="Get Started - Free" class="btn btn-default btn_PrefStep2" /> <br />

                                    <br />

                                    <small>@@@DateTime.Now.Year All Rights Reserved Social Growth <a href="#">Privacy & Terms</a></small>

                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="wizard_step3 hide">

                        <div class="row">

                            <div class="col-md-4 padding-zero">
                                <div class="popupLeftSide signupLeft">
                                    <img src="~/Content/ThemeAssets/Images/3_W.png" />
                                    <h4>No complicated dashboards !</h4>
                                    <h4>Just fill in your target preferences, and our personal growth expert will contact you.</h4>
                                </div>
                            </div>

                            <div class="col-md-8 padding-zero">
                                <div class="popupRigtSide">
                                    <span class="wizard_circle">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle active" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <a href="#" onclick="return false;" data-dismiss="modal" class="active" style="float:right">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </span>

                                    <h1>Follow, Unfollow &amp; Gender</h1>

                                    <p>A very effective growth strategy is to incorporate an amount of Follow &amp; Unfollow activates on target accounts.</p>

                                    <label>Do you permit this activity?</label>
                                    <label class="form-radio">
                                        Yes
                                        <input type="radio" value="1" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-radio">
                                        No
                                        <input type="radio" value="2" />
                                        <span class="checkmark"></span>
                                    </label>

                                    <label>Do you want to engage with:</label>
                                    <label class="form-radio">
                                        Males
                                        <input type="radio" value="1" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-radio">
                                        Females
                                        <input type="radio" value="2" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-radio">
                                        Both
                                        <input type="radio" value="3" />
                                        <span class="checkmark"></span>
                                    </label>

                                    <input type="button" value="Continue" class="btn btn-default btn_PrefStep3" /> <br />

                                    <br />

                                    <small>@@@DateTime.Now.Year All Rights Reserved Social Growth <a href="#">Privacy & Terms</a></small>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="wizard_step4 hide">

                        <div class="row">

                            <div class="col-md-4 padding-zero">
                                <div class="popupLeftSide signupLeft">
                                    <img src="~/Content/ThemeAssets/Images/11_W.png" />
                                    <h4>Our services helps you grow your instagram account, with powerful targeting intellect.</h4>
                                </div>
                            </div>

                            <div class="col-md-8 padding-zero">
                                <div class="popupRigtSide">
                                    <span class="wizard_circle">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle active" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <a href="#" onclick="return false;" data-dismiss="modal" class="active" style="float:right">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </span>

                                    <h1>Dive a little deeper</h1>

                                    <label>Targeted User Demographics (optional):</label>
                                    <input type="text" placeholder="Age, education, industry, lifestyle, etc." />

                                    <label>Direct competitors or similar accounts. Provide at least 10 accounts with a following of at least 2000 followers:</label>
                                    <input type="text" placeholder="Please provide actual instagram username for each target account." />

                                    <br />
                                    <input type="button" value="Almost done! One more step" class="btn btn-default btn_PrefStep4" /> <br />

                                    <br />

                                    <small>@@@DateTime.Now.Year All Rights Reserved Social Growth <a href="#">Privacy & Terms</a></small>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="wizard_step5 hide">

                        <div class="row">

                            <div class="col-md-4 padding-zero">
                                <div class="popupLeftSide signupLeft">
                                    <img src="~/Content/ThemeAssets/Images/20_W.png" />
                                    <h4>Increase you instagram audience with the most powerful instagram growth service on the market.</h4>
                                </div>
                            </div>

                            <div class="col-md-8 padding-zero">
                                <div class="popupRigtSide text-left">
                                    <span class="wizard_circle">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle active" aria-hidden="true"></i>
                                        <a href="#" onclick="return false;" data-dismiss="modal" class="active" style="float:right">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </span>

                                    <h1>We're ready to grow your followers base</h1>

                                    <h3 style="color:orangered">Limited time offer!</h3>
                                    <br />
                                    <h3 style="color:gray">Instagram GROWTH ENGINE <span style="color:orangered;text-decoration:line-through">$89</span></h3>
                                    <br />
                                    <h3 style="color:#2263e2">Only $39/pm</h3>

                                    <br />
                                    <input type="button" value="Sign me UP & Start today!" class="btn btn-default btn_PrefStep5" /> <br />
                                    <br />
                                    <p><a href="">Not right now but save my profile for later</a></p>
                                    <br />
                                    <small>@@@DateTime.Now.Year All Rights Reserved Social Growth <a href="#">Privacy & Trems</a></small>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="wizard_step6 hide">

                        <div class="row">
                            <div class="col-md-4 padding-zero">
                                <div class="popupLeftSide signupLeft text-center" style="min-height:565px">
                                    <br />
                                    <br />
                                    <img src="~/Content/ThemeAssets/Images/trustpilotlogo2.png" style="width:70%" />
                                    <br />
                                    <br />
                                    <h4>Get more followers and like on you instagram account</h4>

                                </div>
                            </div>
                            <div class="col-md-8 padding-zero">
                                <div class="popupRigtSide">
                                    <h1>Sign Up</h1>
                                    <h3>We're all set to grow your account</h3>
                                    <p>Create you account - free</p>
                                    <input type="text" name="" value="" placeholder="First Name" required />
                                    <input type="text" name="" value="" placeholder="Sur Name" required />
                                    <input type="text" name="" value="" placeholder="Email" required />
                                    <input type="password" name="" id="" value="" placeholder="Password" required />
                                    <input type="password" name="" value="" placeholder="Confirm Password" required />
                                    <label class="error" id="signup-error"></label>
                                    <input type="button" value="NEXT - Last Step to grow" class="btn btn-success btn_PrefStep6" />

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="wizard_step7 hide">

                        <div class="row">

                            <div class="col-md-4 padding-zero">
                                <div class="popupLeftSide signupLeft" style="text-align:center">
                                    <h4>Hi i'm Ryan</h4>
                                    <img src="~/Content/ThemeAssets/Images/Thumbs_Up.png" style="width:65%" />
                                    <h4>I'm going to be your personal account manager.</h4>
                                </div>
                            </div>

                            <div class="col-md-8 padding-zero">
                                <div class="popupRigtSide text-left">
                                    <p>Confirm &amp; pay</p>
                                    <h3 style="color:gray">Start your growth service today</h3>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mainMonthly" style="text-align:center">
                                                                                                
                                                <h4>Monthly Charge</h4>
                                                <h1 style="">$39</h1>
                                                <br />
                                                <br />
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="paymentCard">
                                                <p style="font-size: 2.5rem; color: #aaa;">
                                                    Monthly Charges
                                                    <span class="pull-right" style="color:black">$15</span>
                                                </p>
                                                <p>Autopay on @DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")</p>
                                                <hr />


                                                <div id="div_newCard" >
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label for="">Card Number</label>
                                                            <input type="text" name="" class="form-control" id="" placeholder="XXXX-XXXX-XXXX-XXXX">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="">CVC</label>
                                                            <input type="text" name="" class="form-control" id="" placeholder="000">
                                                        </div>
                                                        <div class="col-md-2"> </div>
                                                        <div class="col-md-3">
                                                            <label for="">Month</label>
                                                            <input type="text" name="" class="form-control" id="" aria-describedby="" placeholder="MM">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="">Year</label>
                                                            <input type="text" name="" class="form-control" id="" aria-describedby="" placeholder="YYYYY">
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr />
                                                <input type="button" class="btn btn-block btn-primary btn_PrefStep7" value="Confirm" />
                                                
                                            </div>
                                        </div>                                        
                                    </div>
                                    <br />
                                    <small>@@@DateTime.Now.Year All Rights Reserved Social Growth <a href="#">Privacy & Terms</a></small>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="wizard_step8 hide">

                        <div class="row">

                            <div class="col-md-4 padding-zero">
                                <div class="popupLeftSide signupLeft" style="text-align:center">
                                    <h4>Hi i'm Amy</h4>
                                    <img src="~/Content/ThemeAssets/Images/Real_People.png" style="width:65%" />
                                    <h4>I'm ready to start reviewing and tweaking your growth engine.</h4>
                                </div>
                            </div>

                            <div class="col-md-8 padding-zero">
                                <div class="popupRigtSide">
                                    <span class="wizard_circle">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle active" aria-hidden="true"></i>
                                        <a href="#" onclick="return false;" data-dismiss="modal" class="active" style="float:right">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </span>

                                    <h1>We need your permission to start your growth and targeting</h1>

                                    <label>Your Instagram Username:</label>
                                    <input type="text" placeholder="Your Instagram username" />
                                    <label>Your Instagram Password:</label>
                                    <p>Please make sure you provide the correct password to avoid delays in getting started</p>
                                    <p>(Your password is submitted over SSL 256Bit Encryption).</p>
                                    <p>To double check the correct password, log out and back into instagram via the app.</p>
                                    <input type="text" placeholder="Your Instagram password" />
                                    <br />
                                    <input type="button" value="Choose your plan" class="btn btn-default btn_PrefStep8" /> <br />

                                    <br />

                                    <small>@@@DateTime.Now.Year All Rights Reserved Social Growth <a href="#">Privacy & Terms</a></small>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<style type="text/css">

    .wizard_step div.popupLeftSide.signupLeft {
        padding: 90px 0;
    }

    .wizard_step .popupRigtSide input[type=text], input[type=password], input[type=email] {
        font-size: 1.4rem;
        margin-bottom: 15px;
        color: #999;
    }

    .wizard_step .popupRigtSide textarea {
        height: auto;
        margin-bottom: 10px;
        font-size: 1.5rem;
        margin-bottom: 20px
    }

    .wizard_step .popupRigtSide {
    }

        .wizard_step .popupRigtSide .wizard_circle {
            text-align: left
        }

            .wizard_step .popupRigtSide .wizard_circle i.active {
                color: #2263e2;
                font-size: 24px;
                position: relative;
                top: 4px;
            }

        .wizard_step .popupRigtSide label {
            display: block;
            margin: 8px 0;
            font-size: 1.4rem;
            text-align: left;
        }

        .wizard_step .popupRigtSide small {
            text-align: left
        }

    .wizard_step .wizard_step5 .popupRigtSide label {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .wizard_step .wizard_step5 .popupRigtSide p {
        text-align: left;
        margin: 7px 0;
        font-weight: 500;
        font-size: 1.2rem;
        color: #999;
    }

    .wizard_step3 .popupRigtSide label {
        display: block;
        text-align: left;
        margin: 15px 0;
    }

    .wizard_step7 .paymentCard {
        padding: 10px;
        margin: 0 10px;
        border: 1px solid #aaa;
        border-radius: 5px;
        box-shadow: 0px 0px 6px;
        background-color: white
    }

        .wizard_step7 .paymentCard img {
            width: 8%;
            position: relative;
            top: -6px;
        }

    .wizard_step7 .mainMonthly {
        background-color: #f7f7f7;
        padding: 10px;
        margin: 0 15px;
        border-radius: 5px;
        min-height: 270px;
    }

        .wizard_step7 .mainMonthly h2 {
            font-size: 3rem;
        }

    .wizard_step7 .from-control {
        margin-bottom: 10px !important
    }

    .bootstrap-tagsinput {
        width: 100%;
        padding: 0px 6px;
        height: 47px;
    }

        .bootstrap-tagsinput span {
            display: inline;
            padding: 5px;
            font-size: 1.6rem;
            background-color: #6ab8ee;
        }

        .bootstrap-tagsinput .tag {
            top: 0px;
            position: relative;
            font-weight:400;
        }

    #Modal_SignupWizardPopup2 .bootstrap-tagsinput input[type=text] {
        display: inline;
        margin: 3px 0;
        height: 40px;
    }
</style>
