<div class="modal fade" id="Modal_MarketGrowPopup" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-4 padding-zero">
                        <div class="popupLeftSide">
                            <h4>Check your inbox ;)</h4>
                            <img src="~/Content/ThemeAssets/Images/6_W.png" />
                            <h4>We've sent your Marketing Planner to 
                                <br />
                                omar.c@me.com
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-8 padding-zero">
                        <div class="popupRigtSide">
                            <span class="dialog-close">
                                <a href="#" onclick="return false;" data-dismiss="modal">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </span>

                            <h1>Ready to sell more with Instagram?</h1>
                            <br />
                            <p>Growing an active engaged audience is key to your seccess.</p>
                            <br />
                            <p>Our growth engine will grow your account with real, targeted folloers</p>
                            <br />
                            <button type="button" class="btn btn-success">
                                Yes! <br />
                                I want to grow my following on Istagram
                            </button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

