
<div class="mainIntro1">
    
        <div class="container pd_btm">
            <div class="row">
                <div class="col-md-6">
                    <div class="intro1 animated slideInLeft">
                        <h1>
                            GET MORE INSTAGRAM
                        </h1>
                        <h2>LIKES & FOLLOWERS</h2>
                        <p>Our service helps you grow your Instagram account, with powerful Instagram growth, get real instagram followers & engagement.</p>
                        <p>Real growth, real people.</p>
                        <a href="#" class="btn btn-default lnk_ShowSignupModal">Get Started For Free</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="intro2" id="mobileimg">
                        <img class="animated slideInUp" src="~/Content/ThemeAssets/Images/Handy_2x.png" />
                    </div>
                </div>
            </div>
        </div>

</div>
