
<div class="mainIntro1 padding-top-zero">
    <div class="container container_pd_top">
        <div class="row">
            <div class="col-md-6">
                <div class="intro3 intro3pd" data-aos="fade-up-right">
                    <h1 >       GETTING STARTED
                    </h1>
                    <h2>IS EASY</h2>
                    <p>Grow your accounts & your profits with our most popular services. </p>
                    <p>
                        No complicated forms or integrations.  Register for free and run thru the 5 Step Wizard to set up your targeting preferences.  The one of our Growth Experts with reach out to you and offer some helpful tips and advice.
                    </p>
                    <p>It's that simple.</p>
                    <div class="mg_left">
                        <a href="#" class="btn btn-default lnk_ShowSignupModal">Get Started For Free</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="intro2 img_mg_top" data-aos="fade-up-left">
                    <img src="~/Content/ThemeAssets/Images/Thumbs_Up.png" />
                </div>
            </div>
        </div>
    </div>
</div>