<div class="mainIntro3 mainIntro3BG">
    <div class="container null_pd_btm">
        <div class="row">
            <div class="col-md-12">
                <h1 id="relaxHeadingleft">
                    RELAX & <b>PROFIT</b>
                </h1>
                <br />
                <p class="relaxPara">
                    Sit back and watch your social profiles rise, <br />while getting real
                    interactions with real people without spam.
                </p>
                <br />
                <a href="#" class="btn btn-default lnk_ShowSignupModal">Get Started For Free</a>
            </div>

        </div>
        <br />
    </div>
</div>