<div class="mainIntro2" style="background-color:#f7f7f7">
    <div class="container pd_btm">
        <div class="row">
            <div class="col-md-5" id="hideOnMobile1">
                <div class="intro1" data-aos="zoom-in">
                    <img class="Growth_team_mt" src="~/Content/ThemeAssets/Images/Social_Growth_team1.png" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="intro2" data-aos="zoom-in-up" id="growthicon">
                    <h1><b>WE ARE YOUR</b> GROWTH EXPERTS</h1>
                    <p>Don't buy fake Instagram followers, when you can get real, targeted followers & engagements!</p>
                    <p>Grow your Instagram account now</p>
                    <div class="row">
                        <div class="col-xs-3 col-sm-2 col-md-2"><i class="faIcon fa fa-commenting"></i></div>
                        <div class="col-xs-9 col-sm-10 col-md-10">
                            <h3>GROWTH EXPERTS</h3>
                            <p>Each day we'll perform many tasks in order to organically grow your audience. All you have to do is continue to provide great content. We will do the rest.</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-3 col-md-2"><i class="faIcon fa fa-line-chart"></i></div>
                        <div class="col-xs-9 col-md-10">
                            <h3>ACTUAL TARGETING</h3>
                            <p>We target the individuals that matter to you, specific accounts, locations, tags, gender and community likely to buy through engagement.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-md-2"><i class="faIcon fa fa-life-bouy"></i></div>
                        <div class="col-xs-9 col-md-10">
                            <h3>SAFE TO USE</h3>
                            <p>Our experts use dedicated proxies, secure managed servers to deliver your growth engine minimizing the risk of any account bans, suspensions or restrictions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5" id="showOnMobile1">
                <div class="intro1" data-aos="zoom-in">
                    <img class="Growth_team_mt" src="~/Content/ThemeAssets/Images/Social_Growth_team1.png" />
                </div>
            </div>
        </div>
    </div>
</div>