<div class="mainIntro3">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="zoom-out">
                <h1 class="growH1">
                    <b>GROW YOUR</b> INSTAGRAM ACCOUNT
                </h1>
                <h2 class="nowH2">NOW</h2>

                <p>
                    We will get you real followers, likes and comments with our in-house Target Marketing experts.
                    <span class="spanHide"><br /></span>
                    Target your audience, get new clients, sponsorships and more!
                </p>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-3 padding-zero" data-aos="zoom-out">
                <div class="sgIntroImg">
                    <img class="instagramIMGWidth" src="~/Content/ThemeAssets/Images/Innovative_Growth_Social.png" />
                </div>
                <div class="sgIntroDetail">
                    <h2>INNOVATIVE</h2>
                    <p>Machine learning and AI algorithms constantly being updated by real social media users</p>
                </div>
            </div>
            <div class="col-md-3  padding-zero" data-aos="zoom-out">
                <div class="sgIntroImg">
                    <img class="instagramIMGWidth" src="~/Content/ThemeAssets/Images/Easy_Social_Growth.png" />
                </div>
                <div class="sgIntroDetail">
                    <h2>EASY</h2>
                    <p>3 simple steps to configure your targeting, locations and destination channels.</p>
                </div>
            </div>
            <div class="col-md-3 padding-zero" data-aos="zoom-out">
                <div class="sgIntroImg">
                    <img class="instagramIMGWidth" src="~/Content/ThemeAssets/Images/Fast_Social_Growth.png" />
                </div>
                <div class="sgIntroDetail">
                    <h2>FAST</h2>
                    <p>We process all change requests to social media targeting ads every 5 minutes.  Tweak as often as you like and we will update your targeting in minutes.</p>
                </div>
            </div>
            <div class="col-md-3 padding-zero" data-aos="zoom-out">
                <div class="sgIntroImg">

                    <img class="instagramIMGWidth" src="~/Content/ThemeAssets/Images/Simple_Social_Growth.png" />
                </div>
                <div class="sgIntroDetail">
                    <h2>SIMPLE</h2>
                    <p>No contract, no tie-in and upgrade/downgrade or cancel your monthly plans at any time.</p>
                </div>
            </div>
        </div>
       <br />
        <div class="row">
            <div class="col-sm-12" data-aos="zoom-out" >
                <p id="marketingpara_mb">Get your FREE Marketing Planner - No credit card required</p>
                <a href="#" class="btn btn-default lnk_ShowSignupModal">Get Started For Free</a>
            </div>
        </div>
    </div>
</div>