<div class="card p-4 rounded-plus bg-faded">


    <div class="text-center">
        <img src="~/Content/Images/wizz_logo.png" class="text-center" style="width:80px;" />
    </div>


    <div class="form-group row pt-4 text-center">
        <label class="col-xl-12 form-label mt-4" for="fname">You're on the 40-a-day Plan</label>
        <p class="p-2 text-center mb-2" style="color:gray">
            Here's your unique Username and PIN Code for the ConnectWizz APP
        </p>
        <div class="border rounded d-block w-100 p-2  " style="background-color:lightgray">
            <p class="col col-12" style="color:gray">
                Username
            </p>
            <label class="col-xl-12 form-label " style="font-size:25px;" for="fname">@Model.SocialProfile.SocialUsername</label>
            <p class="col col-12" style="color:gray">
                PIN Code
            </p>
            <label class="col-xl-12 form-label" style="font-size:25px;" for="fname">@Model.SocialProfile.PinCode</label>

            <a href="#" data-type="text" class="ml-2 DeviceBinLocation mb-3" data-title="Max chars 500" data-profileid="@Html.Raw(Model.SocialProfile.SocialProfileId)" name="DeviceBinLocation">@Html.Raw(Model.SocialProfile.DeviceBinLocation)</a>
        </div>
        <div class="col-md-12 mx-auto text-center justify-content-center">
            <button class="btn btn-block btn-danger btn-lg mt-3 ActivateAfilliate" style="background:#039cd6;border-color:#039cd6;box-shadow: 0 2px 6px 0 rgba(93, 156, 212,0.5);" data-planId="5" data-planname="Afilliate Plan" data-planprice="199">Upgrade to afilliate plan - Grow 10 accounts for $199/pm</button>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-12  mx-auto text-center justify-content-center" ">
            <button id="btnDeleteSubscription" class="btn btn-block btn-default btn-lg mt-3 ">Cancel & Delete my Plan forever</button>
        </div>
    </div>

</div>
