@model SG2.CORE.MODAL.ViewModals.Customers.ResendEmailViewModel
@using SG2.CORE.COMMON
@{
    ViewBag.Title = "VerifyEmail";
    Layout = "~/Views/Shared/_Layout_LoggedInNewSP.cshtml";
}
<style type="text/css">
    .intro2 {
        text-align: center;
        min-height: 425px;
        padding: 30px 0;
    }

    .row .intro2 h4 {
        font-weight: 400;
        padding-top: 70px;
        font-size: 1.5rem;
    }

    .row .intro2 .btn-primary:focus, .btn-primary:active {
        border-color: #008385 !important;
        background-color: #006a6c !important;
        color: #FFF !important;
    }

    .row .intro2 .btn-primary:hover {
        border-color: #009c9f !important;
        background-color: #00ced2 !important;
        color: #FFF !important;
    }

    .row .intro2  .btn-primary {
        border-color: #008385 !important;
        background-color: #00b5b8 !important;
        color: #FFFFFF;
    }
</style>

<div class="container">
    @if (!string.IsNullOrEmpty(ViewBag.Success) && ViewBag.Success == "Yes")
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-block alert-success">
                    <p>
                        <strong>
                            <i class="ace-icon fa fa-check"></i>
                            Success!
                        </strong>
                        @ViewBag.SuccessMessage
                    </p>
                </div>
            </div>
        </div>
    }

</div>
<div class="mainIntro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="intro2 center text-center " data-aos="fade-left">
                    <br />
                    <br />
                    <br />
                    <h4>Thank you. Your email and account is now verified and active.</h4>
                    <p></p>
                    <br />
                    <br />

                    <br />

                    @Html.HiddenFor(model => model.CustomerId)

                    <a href="~/Account/Login" class="btn btn-primary center" style="width:250px;" id="btn_SignIns" />Sign In</a>


                </div>
            </div>

        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        $("document").ready(function () {
            $("#btn_SignIn").on("click", function (e) {
                $("#Modal_LoginPopup").modal("show");
                e.preventDefault();
                e.stopPropagation();
                e.preventDefault();
                e.stopPropagation();
            });
        });
    </script>
}