
@{
    ViewBag.Title = "Home";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Best Instrgram growth tool 2020 - Powerful growth automation tools for digital marketing agencies, bloggers and influencers">
    <meta name="keywords" content="social growth, instagram growth, boost instagram, Social Planner Pro, social growth app, social growth api, instagram api, instagram automation">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>SocialPlannerPro - Unlimited Social growth on Instagram, TikTok and LinkedIn</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/Theme-CA/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="~/Content/Theme-CA/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="~/Content/Theme-CA/css/responsive.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3N5PN3D82"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H3N5PN3D82');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/">Pro.</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="~/">Business</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/influencer">Influencer</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/agency">Agency</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/how-it-works">How-it-Works</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/videos">Videos</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/download">Download</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/account/login">Login</a></li>

                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="/account/signup">Sign Up Free</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="/account/signup">Sign Up Free</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home" style="height:250px;">

        <!-- Welcome thumb -->

    </section>
    <!-- ***** Wellcome Area End ***** -->


    <section class="special-area bg-white ">
        <div class="container">

            <div class="row fullwidth-sm section-1">
                <div class=" col-sm-12">
                    <h2>Cookies Policy</h2>
                    <p>
                        Here is a list of cookies that we use. We&rsquo;ve listed them here so you that you can choose if you want to opt-out of cookies or not.
                    </p>
                    <p>
                        _session_id, unique token, sessional, Allows Shopify to store information about your session (referrer, landing page, etc).
                    </p>
                    <p>
                        _shopify_visit, no data held, Persistent for 30 minutes from the last visit, Used by
                    </p>
                    <p>
                        our website provider&rsquo;s internal stats tracker to record the number of visits
                    </p>
                    <p>
                        _shopify_uniq, no data held, expires midnight (relative to the visitor) of the next
                    </p>
                    <p>
                        day, Counts the number of visits to a store by a single customer.
                    </p>
                    <p>
                        cart, unique token, persistent for 2 weeks, Stores information about the contents of your cart.
                    </p>
                    <p>
                        _secure_session_id, unique token, sessional
                    </p>
                    <p>
                        storefront_digest, unique token, inde_inite If the shop has a password, this is used to determine if the current visitor has access.
                    </p>


                </div>
            </div>


            <style type="text/css">
                #section-2 {
                    background: none;
                    background-color: white;
                    padding-top: 8%;
                }
            </style>
        </div>
    </section>
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>Social Planner Pro</h2>
        </div>
        <!-- social icon-->
        <div class="footer-social-icon">
            @*<a href="https://www.facebook.com/Social-Planner-Pro-101614715056409/?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>*@

            <a href="https://www.instagram.com/pickytee_social_pro/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>

            <a href="https://www.youtube.com/channel/UCeOd1a_9B1quA5c_JEFMX-g"> <i class="fa fa-youtube" aria-hidden="true"></i></a>

            @*<a href="https://www.linkedin.com/company/social-planner-pro"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>*@
        </div>
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="/">Business</a></li>
                    <li><a href="/influencer">Influencer</a></li>
                    <li><a href="/agency">Agency</a></li>
                    <li><a href="/how-it-works">How-it-Works</a></li>
                    <li><a href="/faqs">FAQs</a></li>
                    <li><a href="/pages/TermsConditions">Terms &amp; Conditions</a></li>
                    <li><a href="/pages/PrivacyPolicy">Privacy Policy</a></li>
                    <li><a href="/pages/CookiesPolicy">Cookies Policy</a></li>
                    <li><a href="/download">Download</a></li>
                    <li><a href="/videos">Videos</a></li>
                    <li><a href="/index#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>Copyright ©2020 SocialPlannerPro</p>
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->
    <!-- Jquery-2.2.4 JS -->

    <script src="~/Content/Theme-CA/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/Theme-CA/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="~/Content/Theme-CA/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="~/Content/Theme-CA/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="~/Content/Theme-CA/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="~/Content/Theme-CA/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="~/Content/Theme-CA/js/active.js"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/sweetalert.min.js"></script>
    <script src="~/Content/app-assets/js/scripts/extensions/sweet-alerts.js"></script>
    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="~/pages/CookiesPolicy" target="_blank">Learn more</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            I agree
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    <script>

        $(function () {



            $("#contactform").submit(function (e) {
                // stop the regular form submission

                e.preventDefault();
                addData();
            });
        });

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }


        function addData() {
            $.ajax({
                type: "POST",
                url: "/contactform",
                data: JSON.stringify(getFormData($("#contactform"))),
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                dataType: "json",
                success: function (data, status, jqXHR) {

                    swal("Success!", "Thank you for contacting us. SocialPlannerPro will get back to you on the specified email!", "success")
                },

                error: function (jqXHR, status) {
                    // error handler
                    console.log(jqXHR);
                    alert('fail' + status.code);
                }
            });
        }
    </script>
    <script src="//code.tidio.co/vs2afulzirphvfvcttbry1xhkgstiimk.js" async></script>

</body>

</html>






















