
@{
    ViewBag.Title = "Home";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Best Instrgram growth tool 2020 - Powerful growth automation tools for digital marketing agencies, bloggers and influencers">
    <meta name="keywords" content="social growth, instagram growth, boost instagram, social growth engine, social growth app, social growth api, instagram api, instagram automation">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>SocialPlannerPro - Unlimited Social growth on Instagram, TikTok and LinkedIn</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/Theme-CA/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="~/Content/Theme-CA/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="~/Content/Theme-CA/css/responsive.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3N5PN3D82"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H3N5PN3D82');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-9">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="~/"><img src="~/Content/Theme-SPPro/img/core-img/SPProWhite.png" /></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="~/home/index">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/home/agency">Agency</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/home/get-started">Get Started Steps</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/home/videos">Videos</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/home/download">Download</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/home/index#contact">Contact</a></li>
                                    @*<li class="nav-item"><a class="nav-link" href="~/account/login">SIGN IN</a></li>*@

                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="~/account/login">Sign In</a>
                                </div>
                                <div class="sing-up-button d-lg-none">
                                    <a href="~/account/signup">Sign Up Free</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-3">
                    <div class="sing-up-button d-none d-lg-inline">
                        <a href="~/account/login">Sign In</a>
                    </div>
                    <div class="sing-up-button d-none d-lg-inline">
                        <a href="~/account/signup" style="background-color:#fb397d">Sign Up Free</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home" style="height:250px;">

        <!-- Welcome thumb -->

    </section>
    <!-- ***** Wellcome Area End ***** -->


    <section class="special-area bg-white ">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col-12">
                    <h1 class=Default style='margin-bottom:15.0pt;line-height:22.0pt'>

                        Privacy Policy


                    </h1>

                    <p>
                        PRIVACY STATEMENT
                    </p>
                    <p>
                        SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?
                    </p>
                    <p>
                        When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.
                    </p>
                    <p>
                        When you browse our website, platform or stores, we also automatically receive your computer&rsquo;s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system. Email marketing (if applicable): With your permission, we may send you emails about our platform, new services, new products and other updates.
                    </p>
                    <p>
                        SECTION 2 - CONSENT
                    </p>
                    <p>
                        How do you get my consent?
                    </p>
                    <p>
                        When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.
                    </p>
                    <p>
                        If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
                    </p>
                    <p>
                        How do I withdraw my consent?
                    </p>
                    <p>
                        If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at info@socialplannerpro.com or mailing us at: Social Planner Pro, 6910 Mariposa Circle Dublin, California, USA 94568
                    </p>
                    <p>
                        SECTION 3 - DISCLOSURE
                    </p>
                    <p>
                        We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
                    </p>
                    <p>
                        SECTION 4 - STRIPE
                    </p>
                    <p>
                        Our platform payments and subscriptions are managed by on Stripe Inc. They provide us with the online e-commerce payment gateways that allows us to charge our products and services to you.
                    </p>
                    <p>
                        Your data is stored through Stripe's data storage, databases and the general
                    </p>
                    <p>
                        Stripe application. They store your data on a secure server behind a firewall.
                    </p>
                    <p>
                        Payment:
                    </p>
                    <p>
                        If you choose a direct payment gateway to complete your purchase, then Stripe stores your credit card data. It is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS). Your purchase transaction data is stored only as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is deleted.
                    </p>
                    <p>
                        All direct payment gateways adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, Mastercard, American Express and Discover.
                    </p>
                    <p>
                        PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.
                    </p>
                    <p>
                        For more insight, you may also want to read Stripes Privacy &amp; Terms of Service
                        <a href="https://stripe.com/gb/privacy">
                            https://stripe.com/gb/privacy
                        </a>
                    </p>
                    <p>
                        SECTION 5 - THIRD-PARTY SERVICES
                    </p>
                    <p>
                        In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.
                    </p>
                    <p>
                        However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.
                    </p>
                    <p>
                        For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.
                    </p>
                    <p>
                        In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
                    </p>
                    <p>
                        As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.
                    </p>
                    <p>
                        Once you leave our store&rsquo;s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website&rsquo;s Terms of Service.
                    </p>
                    <p>
                        SECTION 6 - LINKS
                    </p>
                    <p>
                        When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.
                    </p>
                    <p>
                        SECTION 7 - SECURITY
                    </p>
                    <p>
                        To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
                    </p>
                    <p>
                        If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.
                    </p>
                    <p>
                        SECTION 8 - AGE OF CONSENT
                    </p>
                    <p>
                        By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
                    </p>
                    <p>
                        SECTION 9 - CHANGES TO THIS PRIVACY POLICY
                    </p>
                    <p>
                        We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
                    </p>
                    <p>
                        If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.
                    </p>
                    <p>
                        QUESTIONS AND CONTACT INFORMATION
                    </p>
                    <p>
                        If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at info@socialplannerpro.com or by mail at
                    </p>
                    <p>
                        SOCIAL PLANNER PRO
                    </p>
                    <p>
                        [Re: Privacy Compliance Officer]
                    </p>
                    <p>
                        Social Planner Pro, 6910 Mariposa Circle Dublin, California, USA 94568
                    </p>



                </div>

            </div>
        </div>
    </section>
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>Social Planner Pro</h2>
        </div>
        <!-- social icon-->
        <div class="footer-social-icon">
            @*<a href="https://www.facebook.com/Social-Planner-Pro-101614715056409/?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>*@

            <a href="https://www.instagram.com/pickytee/?hl=en"> <i class="fa fa-instagram" aria-hidden="true"></i></a>

            <a href="https://www.youtube.com/channel/UCeOd1a_9B1quA5c_JEFMX-g"> <i class="fa fa-youtube" aria-hidden="true"></i></a>

            @*<a href="https://www.linkedin.com/company/social-planner-pro"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>*@
        </div>
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="/home/agency">Agency</a></li>
                    <li><a href="/pages/TermsConditions">Terms &amp; Conditions</a></li>
                    <li><a href="/pages/PrivacyPolicy">Privacy Policy</a></li>
                    <li><a href="/pages/CookiesPolicy">Cookies Policy</a></li>
                    <li><a href="/home/index#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>Copyright ©2020 SocialPlannerPro</p>
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->
    <!-- Jquery-2.2.4 JS -->

    <script src="~/Content/Theme-CA/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/Theme-CA/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="~/Content/Theme-CA/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="~/Content/Theme-CA/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="~/Content/Theme-CA/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="~/Content/Theme-CA/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="~/Content/Theme-CA/js/active.js"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/sweetalert.min.js"></script>
    <script src="~/Content/app-assets/js/scripts/extensions/sweet-alerts.js"></script>
    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="~/pages/CookiesPolicy" target="_blank">Learn more</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            I agree
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    <script>

        $(function () {



            $("#contactform").submit(function (e) {
                // stop the regular form submission

                e.preventDefault();
                addData();
            });
        });

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }


        function addData() {
            $.ajax({
                type: "POST",
                url: "/home/contactform",
                data: JSON.stringify(getFormData($("#contactform"))),
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                dataType: "json",
                success: function (data, status, jqXHR) {

                    swal("Success!", "Thank you for contacting us. SocialPlannerPro will get back to you on the specified email!", "success")
                },

                error: function (jqXHR, status) {
                    // error handler
                    console.log(jqXHR);
                    alert('fail' + status.code);
                }
            });
        }
    </script>
    <script src="//code.tidio.co/vs2afulzirphvfvcttbry1xhkgstiimk.js" async></script>

</body>

</html>






















