
@{
    ViewBag.Title = "Home";
    Layout = "";
}
<!DOCTYPE html>
<html xml:lang="en" lang="en" class="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terms of Use - Connect Wizz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/bitrix/js/main/core/css/core.min.css?14290239272854" type="text/css" rel="stylesheet" />

    <style type="text/css">
        :root {
            --theme-color-primary: #6ab8ee;
            --theme-color-primary-darken-1: hsl(204.55, 80%, 65%);
            --theme-color-primary-darken-2: hsl(204.55, 80%, 62%);
            --theme-color-primary-darken-3: hsl(204.55, 80%, 57%);
            --theme-color-primary-lighten-1: hsl(204.55, 80%, 77%);
            --theme-color-primary-opacity-0_1: rgba(106, 184, 238, 0.1);
            --theme-color-primary-opacity-0_2: rgba(106, 184, 238, 0.2);
            --theme-color-primary-opacity-0_3: rgba(106, 184, 238, 0.3);
            --theme-color-primary-opacity-0_4: rgba(106, 184, 238, 0.4);
            --theme-color-primary-opacity-0_6: rgba(106, 184, 238, 0.6);
            --theme-color-primary-opacity-0_8: rgba(106, 184, 238, 0.8);
            --theme-color-primary-opacity-0_9: rgba(106, 184, 238, 0.9);
            --theme-color-main: #12222d;
            --theme-color-secondary: #fafbfc;
            --theme-color-title: #12222d;
        }
    </style>
    <script type="text/javascript" data-skip-moving="true">(function (w, d, n) { var cl = "bx-core"; var ht = d.documentElement; var htc = ht ? ht.className : undefined; if (htc === undefined || htc.indexOf(cl) !== -1) { return; } var ua = n.userAgent; if (/(iPad;)|(iPhone;)/i.test(ua)) { cl += " bx-ios"; } else if (/Android/i.test(ua)) { cl += " bx-android"; } cl += (/(ipad|iphone|android|mobile|touch)/i.test(ua) ? " bx-touch" : " bx-no-touch"); cl += w.devicePixelRatio && w.devicePixelRatio >= 2 ? " bx-retina" : " bx-no-retina"; var ieVersion = -1; if (/AppleWebKit/.test(ua)) { cl += " bx-chrome"; } else if ((ieVersion = getIeVersion()) > 0) { cl += " bx-ie bx-ie" + ieVersion; if (ieVersion > 7 && ieVersion < 10 && !isDoctype()) { cl += " bx-quirks"; } } else if (/Opera/.test(ua)) { cl += " bx-opera"; } else if (/Gecko/.test(ua)) { cl += " bx-firefox"; } if (/Macintosh/i.test(ua)) { cl += " bx-mac"; } ht.className = htc ? htc + " " + cl : cl; function isDoctype() { if (d.compatMode) { return d.compatMode == "CSS1Compat"; } return d.documentElement && d.documentElement.clientHeight; } function getIeVersion() { if (/Opera/i.test(ua) || /Webkit/i.test(ua) || /Firefox/i.test(ua) || /Chrome/i.test(ua)) { return -1; } var rv = -1; if (!!(w.MSStream) && !(w.ActiveXObject) && ("ActiveXObject" in w)) { rv = 11; } else if (!!d.documentMode && d.documentMode >= 10) { rv = 10; } else if (!!d.documentMode && d.documentMode >= 9) { rv = 9; } else if (d.attachEvent && !/Opera/.test(ua)) { rv = 8; } if (rv == -1 || rv == 8) { var re; if (n.appName == "Microsoft Internet Explorer") { re = new RegExp("MSIE ([0-9]+[\.0-9]*)"); if (re.exec(ua) != null) { rv = parseFloat(RegExp.$1); } } else if (n.appName == "Netscape") { rv = 11; re = new RegExp("Trident/.*rv:([0-9]+[\.0-9]*)"); if (re.exec(ua) != null) { rv = parseFloat(RegExp.$1); } } } return rv; } })(window, document, navigator);</script>


    <link href="/bitrix/js/intranet/intranet-common.min.css?156700641462422" type="text/css" rel="stylesheet" />
    <link href="/bitrix/js/main/sidepanel/css/sidepanel.min.css?16044092096434" type="text/css" rel="stylesheet" />
    <link href="/bitrix/js/landing/css/landing_public.min.css?1567508327250" type="text/css" rel="stylesheet" />
    <link href="/bitrix/components/bitrix/landing.pub/templates/.default/style.min.css?160165017637243" type="text/css" rel="stylesheet" />
    <link href="/bitrix/templates/landing24/assets/vendor/bootstrap/bootstrap.min.css?1567508327154948" type="text/css" data-template-style="true" rel="stylesheet" />
    <link href="/bitrix/templates/landing24/theme.min.css?1608555882628499" type="text/css" data-template-style="true" rel="stylesheet" />
    <link href="/bitrix/templates/landing24/assets/css/custom-grid.min.css?156933840138" type="text/css" data-template-style="true" rel="stylesheet" />
    <link href="/bitrix/templates/landing24/template_styles.min.css?1583933130781" type="text/css" data-template-style="true" rel="stylesheet" />







    <meta name="robots" content="noindex" />
    <link rel="preload"
          as="style"
          onload="this.removeAttribute('onload');this.rel='stylesheet'"
          data-font="g-font-open-sans"
          data-protected="true"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic">
    <noscript>
        <link rel="stylesheet"
              data-font="g-font-open-sans"
              data-protected="true"
              href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic">
    </noscript>
    <style>
        body {
            font-weight: 400;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            line-height: 1.6;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -moz-font-feature-settings: "liga", "kern";
            text-rendering: optimizelegibility;
        }
    </style>
    <style>
        h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
        }
    </style>
    <style>
        html {
            font-size: 14px;
        }

        body {
            font-size: 1.14286rem;
        }

        .g-font-size-default {
            font-size: 1.14286rem;
        }
    </style>


    <meta property="og:title" content="Terms of Use - Lead Generation For Professionals" />
    <meta property="og:description" content="Automate your LinkedIn outreach faster by targeting people by Keywords, Job Titles, Industry Sectors and much more - Get Started For FREE" />
    <meta property="og:type" content="website" />
    <meta property="twitter:title" content="Terms of Use - Lead Generation For Professionals" />
    <meta property="twitter:description" content="Automate your LinkedIn outreach faster by targeting people by Keywords, Job Titles, Industry Sectors and much more - Get Started For FREE" />
    <meta property="twitter:type" content="website" />
    <meta property="og:image" content="https://connectwizz.co/termsprivacycookiepolicy/Terms_of_Use/preview.jpg" />
    <meta property="twitter:image" content="https://connectwizz.co/termsprivacycookiepolicy/Terms_of_Use/preview.jpg" />
    <meta name="og:url" content="https://connectwizz.co/termsprivacycookiepolicy/Terms_of_Use/" />
    <link rel="canonical" href="https://connectwizz.co/termsprivacycookiepolicy/Terms_of_Use/" />
    <link rel="icon" type="image/png" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/047e4a127947eff3c7d861cc2f113186/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="16x16">
    <link rel="icon" type="image/png" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/45fd33a620da2e44653e6a92c96d9446/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="32x32">
    <link rel="icon" type="image/png" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/c8042d925d6656dd077f15192d13bb8f/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="96x96">
    <link rel="apple-touch-icon" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/eb45a9f96698d396483d7a1236fe0380/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="120x120">
    <link rel="apple-touch-icon" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/a03d95df41ccb7c2ab8a9e9ebcd4cf8a/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="180x180">
    <link rel="apple-touch-icon" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/8245e211b4cc1aeef31861f9c55143e5/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="152x152">
    <link rel="apple-touch-icon" href="https://dcnt5qvi2hv76.cloudfront.net/b5940105/resize_cache/13864/26c9f99963f016735739c7de412de1e1/landing/b7d/b7dff39e66696f45a42567c75a17a2e6/CW_Fav.png?h=myprintcloudliveriz.bitrix24.com" sizes="167x167">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond" data-font="g-font-eb-garamond" as="style"></noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=EB+Garamond" data-font="g-font-eb-garamond" as="style" onload="this.removeAttribute('onload');this.rel='stylesheet'">
    <style data-id="g-font-eb-garamond">
        .g-font-eb-garamond {
            font-family: "EB Garamond", serif;
        }
    </style>
    <link rel="preload"
          as="style"
          onload="this.removeAttribute('onload');this.rel='stylesheet'"
          data-font="g-font-open-sans"
          data-protected="true"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic">
    <noscript>
        <link rel="stylesheet"
              data-font="g-font-open-sans"
              data-protected="true"
              href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic">
    </noscript>
</head>
<body class="">
    <main class="w-100 landing-public-mode">
        <div id="b26710" class="block-wrapper block-27-one-col-fix-title-and-text-2">
            <section class="landing-block g-pt-40 g-bg-secondary js-animation animation-none animated">

                <div class="landing-block-node-text-container container g-max-width-800">
                    <div class="text-center">
                        <h2 class="landing-block-node-title g-font-weight-400 g-text-transform-none g-font-size-45 g-font-helvetica g-color-primary g-font-eb-garamond"><span style="color: rgb(33, 33, 33);">Terms of Use</span></h2>
                        <div class="landing-block-node-text g-text-transform-none g-color-black-opacity-0_7 g-font-helvetica g-font-size-17 g-font-open-sans">
                            <p style="text-align: left;"><span style="">Welcome to </span>Connect WIZZ, &quot;The Company&quot;<span style="font-size: 1.21429rem;">, an eCommerce </span><span style="font-size: 1.21429rem;">platform designed especially for small businesses to manage lead generation. These Terms of Use are intended to explain our obligations as a service provider and Your obligations as a customer. Please read them carefully.</span></p><p style="text-align: left;">
                                <span style="">These Terms are binding on any use of the Service and apply to You from the time that </span>The Company <span style="">
                                    provides You with access to the Service.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style=""> Service will evolve over time based on user feedback. These Terms are not intended to answer every question or address every issue raised by the use of </span>The Company<span style=""> Service. </span>The Company<span style=""> reserves the right to change these terms at any time, effective upon the posting of modified terms and </span>The Company<span style="">
                                    will make every effort to communicate these changes to You via email or notification via the Website. It is likely the terms of use will change over time. It is Your obligation to ensure that You have read, understood and agree to the most recent terms available on the Website.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    By registering to use the Service you acknowledge that You have read and understood these Terms and have the authority to act on behalf of any person for whom You are using the Service. You are deemed to have agreed to these Terms on behalf of any entity for whom you use the Service.<br /><br />
                                </span>
                            </p><p style="text-align: left;">
                            </p><p style="text-align: left;">
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    1. Definitions
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    &quot;Agreement&quot;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    means these Terms of Use.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    &quot;Access Fee&quot;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    means the monthly fee (excluding any taxes and duties) payable by You in accordance with the Fee Schedule.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    &quot;Confidential Information&quot;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    includes all information exchanged between the parties to this Agreement, whether in writing, electronically or orally, including the Service but does not include information which is, or becomes, publicly available other than through unauthorised disclosure by the other party.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    &quot;Data&quot;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    means any data inputted by You or with Your authority into the Website.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    &quot;Fee Schedule&quot;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">means the information relating to subscriptions and billing set out on </span>The Company<span style=""> subscriptions and billing pages on the Website, or any other page(s) on the Website notified by </span>The Company<span style="">, which may be updated or amended by </span>The Company<span style="">
                                    from time to time.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    &quot;Intellectual Property Right&quot;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    means any patent, trade mark, service mark, copyright, moral right, right in a design, know-how and any other intellectual or industrial property rights, anywhere in the world whether or not registered.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    &quot;Service&quot;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">means the online printing ecommerce  services made available (as may be changed or updated from time to time by </span>The Company)<span style="">
                                    via the Website.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    &quot;Website&quot;
                                </span>
                            </p><p style="text-align: left;"><span style="">means the Internet site at the domain www.</span>ConnectWIZZ.net<span style="font-size: 1.21429rem;"> or any other site operated by </span>The Company<span style="font-size: 1.21429rem;">.</span></p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    &quot;The Company&quot;
                                </span>
                            </p><p style="text-align: left;"><span style="">means </span>Connect WIZZ<span style=""> and all current and future global subsidiaries of </span>Connect WIZZ<span style="">.</span></p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    &quot;Invited User&quot;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    means any person or entity, other than the Subscriber, that uses the Service with the authorisation of the Subscriber from time to time.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    &quot;Subscriber&quot;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    means the person who registers to use the Service, and, where the context permits, includes any entity on whose behalf that person registers to use the Service.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    &quot;You&quot;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    means the Subscriber, and where the context permits, an Invited User. &quot;Your&quot; has a corresponding meaning.<br /><br />
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    2. Use of Software
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style="">
                                    grants You the right to access and use the Service via the Website with the particular user roles available to You according to Your subscription type. This right is non-exclusive, non-transferable, and limited by and subject to this Agreement. You acknowledge and agree that, subject to any applicable written agreement between the Subscriber and the Invited Users, or any other applicable laws:
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">2.1</span>. the Subscriber determines who is an Invited User and what level of user role access to the relevant organization and Service that Invited User has;
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">2.2</span>. the Subscriber is responsible for all Invited Users’ use of the Service;
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">2.3</span>. the Subscriber controls each Invited User’s level of access to the relevant organization and Service at all times and can revoke or change an Invited User’s access, or level of access, at any time and for any reason, in which case that person or entity will cease to be an Invited User or shall have that different level of access, as the case may be;
                            </p><p style="text-align: left;">
                                <span style="">
                                    <span style="font-weight: bold;">2.4</span>. if there is any dispute between a Subscriber and an Invited User regarding access to any organization or Service, the Subscriber shall decide what access or level of access to the relevant Data or Service that Invited User shall have, if any.<br /><br />
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    3. Your Obligations
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">3.1. </span>Payment obligations:
                            </p><p style="text-align: left;">
                                <span style="">An invoice for the Access Fee will be issued each month in accordance with the details set out in the Fee Schedule. </span>The Company<span style="">
                                    will continue invoicing You in accordance with the Fee Schedule until this Agreement is terminated in accordance with clause 8.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">All </span>The Company<span style="">
                                    invoices will be sent to You, or to a Billing Contact whose details are provided by You, by email. Payment of all amounts specified in an invoice must be paid in accordance with the Fee Schedule. You are responsible for payment of all taxes and duties in addition to the Access Fee.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">3.2. </span>Preferential pricing or discounts:
                            </p><p style="text-align: left;">
                                <span style="">You may from time to time be offered preferential pricing or discounts for the Access Fees as a result of the number of organizations that You have added to the Service or that have been added with Your authority or as a result of Your use of the Service (&#039;Organizations&#039;). Eligibility for such preferential pricing or discounts is conditional upon Your acceptance of responsibility for payment of any Access Fees in relation to all of Your Organizations. Without prejudice to any other rights that </span>The Company<span style=""> may have under these Terms or at law, </span>The Company<span style="">
                                    reserves the right to render invoices for the full (non-discounted) Access Fees due or suspend or terminate Your use of the Service in respect of any or all of Your Organizations in the event that any invoices for those Access Fees are not paid in full in accordance with the requirements set out in the Fee Schedule.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">3.3. </span>General obligations:
                            </p><p style="text-align: left;">
                                <span style="">You must only use the Service and Website for Your own lawful internal business purposes, in accordance with these Terms and any notice sent by </span>The Company<span style="">
                                    or condition posted on the Website. You may use the Service and Website on behalf of others or in order to provide services to others but if You do so you must ensure that You are authorized to do so and that all persons for whom or to whom services are provided comply with and accept all terms of this Agreement that apply to You.<br />
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">3.4. </span>Access conditions:
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">3.4.a.</span> You must ensure that all usernames and passwords required to access the Service are kept secure and confidential. You must immediately notify The Company of any unauthorized use of Your passwords or any other breach of security and The Company will reset Your password and You must take all other actions that The Company reasonably deems necessary to maintain or enhance the security of The Company&#039;s computing systems and networks and Your access to the Services.
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">3.4.b.</span> As a condition of these Terms, when accessing and using the Services, You must:
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">     i.</span> not attempt to undermine the security or integrity of The Company&#039;s computing systems or networks or, where the Services are hosted by <br />     a third party, that third party&#039;s computing systems and networks;
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">     ii.</span> not use, or misuse, the Services in any way which may impair the functionality of the Services or Website, or other systems used to deliver the Services or impair the ability of any other user to use the Services or Website;
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">     iii.</span> not attempt to gain unauthorized access to any materials other than those to which You have been given express permission to access or to the computer system on which the Services are hosted;
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">     iv</span>. not transmit, or input into the Website, any: files that may damage any other person&#039;s computing devices or software, content that may be offensive, or material or Data in violation of any law (including Data or other material protected by copyright or trade secrets which You do not have the right to use); and
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">     v</span>. not attempt to modify, copy, adapt, reproduce, disassemble, or reverse engineer any computer programs used to deliver the Services or to operate the Website except as is strictly necessary to use either of them for normal operation<br />
                            </p><p style="text-align: left;">
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">3.5. </span>Usage Limitations:
                            </p><p style="text-align: left;">
                                <span style="">Use of the Service may be subject to limitations, including but not limited to monthly transaction volumes and the number of calls You are permitted to make against </span>The Company<span style="">
                                    s application programming interface. Any such limitations will be advised.<br />
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">3.6. </span>Communication Conditions:
                            </p><p style="text-align: left;">
                                <span style="">
                                    As a condition of these Terms, if You use any communication tools available through the Website (such as any forum, web chat, chat room or message center), You agree only to use such communication tools for lawful and legitimate purposes. You must not use any such communication tool for posting or disseminating any material unrelated to the use of the Services, including (but not limited to): offers of goods or services for sale, unsolicited commercial e-mail, files that may damage any other person&#039;s computing devices or software, content that may be offensive to any other users of the Services or the Website, or material in violation of any law (including material that is protected by copyright or trade secrets which You do not have the right to use).
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">When You make any communication on the Website, You represent that You are permitted to make such communication. </span>The Company<span style=""> is under no obligation to ensure that the communications on the Website are legitimate or that they are related only to the use of the Services. As with any other web-based forum, You must exercise caution when using the communication tools available on the Website. However, </span>The Company<span style="">
                                    does reserve the right to remove any communication at any time in its sole discretion.<br />
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">3.7.</span> Indemnity:
                            </p><p style="text-align: left;">
                                <span style="">You indemnify </span>The Company<span style=""> against: all claims, costs, damage and loss arising from Your breach of any of these Terms or any obligation You may have to </span>The Company<span style="">
                                    including (but not limited to) any costs relating to the recovery of any Access Fees that are due but have not been paid by You.<br /><br />
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    4. Confidentiality and Privacy
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">4.1. </span>Confidentiality:
                            </p><p style="text-align: left;">
                                <span style="">
                                    Unless the relevant party has the prior written consent of the other or unless required to do so by law:
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">4.1.a.</span> Each party will preserve the confidentiality of all Confidential Information of the other obtained in connection with these Terms. Neither party will, without the prior written consent of the other, disclose or make any Confidential Information available to any person, or use the same for its own benefit, other than as contemplated by these Terms.
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">4.1.b</span>. Each party&#039;s obligations under this clause will survive termination of these Terms.
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">4.1.c.</span> The provisions of clauses 4.1.1 and 4.1.2 shall not apply to any information which:
                            </p><p style="text-align: left;">
                                <span style="">
                                    i. is or becomes public knowledge other than by a breach of this clause;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    ii. is received from a third party who lawfully acquired it and who is under no obligation restricting its disclosure;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    iii. is in the possession of the receiving party without restriction in relation to disclosure before the date of receipt from the disclosing party; or
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    iv. is independently developed without access to the Confidential Information.<br />
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">4.2. </span>Privacy:
                            </p><p style="text-align: left;"></p><p style="text-align: left;"><span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style="font-size: 1.21429rem;"> maintains a privacy policy that sets out the parties’ obligations in respect of personal information. You should read the </span>privacy<span style="font-size: 1.21429rem;"> policy online of </span><span style="font-size: 1.21429rem;">The Company&#039;s website</span><span style="font-size: 1.21429rem;"> and You will be taken to have accepted that policy when You accept these Terms.</span></p><span style="">
                                <br />
                            </span><p></p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    5. Intellectual Property
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">5.1.</span> General:
                            </p><p style="text-align: left;">
                                <span style="">Title to, and all Intellectual Property Rights in the Services, the Website and any documentation relating to the Services remain the property of </span>The Company<span style="">
                                    (or its licensors).
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">5.2.</span> Ownership of Data:
                            </p><p style="text-align: left;">
                                <span style="">Title to, and all Intellectual Property Rights in, the Data remain Your property. However, Your access to the Data is contingent on full payment of the </span>The Company<span style=""> Access Fee when due. You grant </span>The Company<span style="">
                                    a licence to use, copy, transmit, store, and back-up Your information and Data for the purposes of enabling You to access and use the Services and for any other purpose related to provision of services to You.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">5.3.</span> Backup of Data:
                            </p><p style="text-align: left;">
                                <span style="">You must maintain copies of all Data inputted into the Service. </span>The Company<span style=""> adheres to its best practice policies and procedures to prevent data loss, including a daily system data back-up regime, but does not make any guarantees that there will be no loss of Data. </span>The Company<span style="">
                                    expressly excludes liability for any loss of Data no matter how caused.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">5.4.</span> Third-party applications and your Data.
                            </p><p style="text-align: left;"><span style="">If You enable third-party applications for use in conjunction with the Services, You acknowledge that </span>The Company<span style=""> may allow the providers of those third-party applications to access Your Data as required for the interoperation of such third-party applications with the Services. </span>The Company<span style=""> shall not be responsible for any disclosure, modification or deletion of Your Data resulting from any such access by third-party application providers.</span></p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    <br />6. Warranties and Acknowledgements
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">6.1. </span>Authority:
                            </p><p style="text-align: left;">
                                <span style="">
                                    You warrant that where You have registered to use the Service on behalf of another person, You have the authority to agree to these Terms on behalf of that person and agree that by registering to use the Service You bind the person on whose behalf You act to the performance of any and all obligations that You become subject to by virtue of these Terms, without limiting Your own personal obligations under these Terms.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">6.2. </span>Acknowledgement:
                            </p><p style="text-align: left;">
                                <span style="">
                                    You acknowledge that:
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">6.2.a</span>. You are authorized to use the Services and the Website and to access the information and Data that You input into the Website, including any information or Data input into the Website by any person you have authorized to use the Service. You are also authorized to access the processed information and Data that is made available to You through Your use of the Website and the Services (whether that information and Data is Your own or that of anyone else).
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">6.2.b</span> The Company has no responsibility to any person other than You and nothing in this Agreement confers, or purports to confer, a benefit on any person other than You. If You use the Services or access the Website on behalf of or for the benefit of anyone other than yourself (whether a body corporate or otherwise) you agree that:
                            </p><p style="text-align: left;">
                                <span style="">
                                    i. You are responsible for ensuring that You have the right to do so;
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">    ii. You are responsible for authorizing any person who is given access to information or Data, and you agree that </span>The Company<span style="">
                                    has no obligation to provide any person access to such information or Data without Your authorization and may refer any requests for information to You to address; and
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">    iii. You will indemnify </span>The Company<span style="">
                                    against any claims or loss relating to:
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">          i. </span>The Companys&#039;<span style="">
                                    refusal to provide any person access to Your information or Data in accordance with these Terms,
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">          ii. </span>The Companys&#039;<span style="">
                                    making available information or Data to any person with Your authorization.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">6.2.d</span>. The provision of, access to, and use of, the Services is on an &quot;as is &quot; basis and at Your own risk.
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">6.2.e</span>. The Company does not warrant that the use of the Service will be uninterrupted or error free. Among other things, the operation and availability of the systems used for accessing the Service, including public telephone services, computer networks and the Internet, can be unpredictable and may from time to time interfere with or prevent access to the Services. The Company is not in any way responsible for any such interference or prevention of Your access or use of the Services.
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">6.2.f. </span>The Company is not Your accountant and use of the Services does not constitute the receipt of accounting advice. If You have any accounting questions, please contact an accountant.
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">6.2.g.</span> It is Your sole responsibility to determine that the Services meet the needs of Your business and are suitable for the purposes for which they are used.
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">6.2.h.</span> You remain solely responsible for complying with all applicable accounting, tax and other laws. It is Your responsibility to check that storage of and access to your Data via the Software and the Website will comply with laws applicable to you (including any laws requiring you to retain records).
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">6.3. </span>No warranties:
                            </p><p style="text-align: left;">
                                <span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style=""> gives no warranty about the Services. Without limiting the foregoing, </span>The Company<span style="">
                                    does not warrant that the Services will meet Your requirements or that it will be suitable for any particular purpose. To avoid doubt, all implied conditions or warranties are excluded in so far as is permitted by law, including (without limitation) warranties of merchantability, fitness for purpose, title and non-infringement.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">6.4. </span>Consumer guarantees:
                            </p><p style="text-align: left;">
                                <span style="">
                                    You warrant and represent that You are acquiring the right to access and use the Services for the purposes of a business and that, to the maximum extent permitted by law, any statutory consumer guarantees or legislation intended to protect non-business consumers in any jurisdiction does not apply to the supply of the Services, the Website or these Terms.<br /><br />
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    7. Limitation of Liability
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">7.1.</span> To the maximum extent permitted by law, The Company excludes all liability and responsibility to You (or any other person) in contract, tort (including negligence), or otherwise, for any loss (including loss of information, Data, profits and savings) or damage resulting, directly or indirectly, from any use of, or reliance on, the Service or Website.
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">7.2.</span> If You suffer loss or damage as a result of The Company&#039;s negligence or failure to comply with these Terms, any claim by You against The Company arising from The Company&#039;s negligence or failure will be limited in respect of any one incident, or series of connected incidents, to the Access Fees paid by You in the previous 12 months.
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">7.3.</span> If You are not satisfied with the Service, Your sole and exclusive remedy is to terminate these Terms in accordance with Clause 8.<br /><br />
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    8. Termination
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.1.</span> Trial policy
                            </p><p style="text-align: left;">
                                <span style="">
                                    When You first sign up for access to the Services You can evaluate the Services under the defined trial usage conditions, with no obligation to continue to use the Services. If You choose to continue using the Services thereafter, You will be billed when You first add Your billing details into the Services, as set out in more detail in the Fee Schedule. If You choose not to continue using the Services, You may delete Your account in the &#039;My Profile&#039; section of the Services.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.2. </span>Prepaid Subscriptions
                            </p><p style="text-align: left;">
                                <span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style="">
                                    will not provide any refund for any remaining prepaid period for a prepaid Access Fee subscription.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.3. </span>No-fault termination:
                            </p><p style="text-align: left;">
                                <span style="">
                                    These Terms will continue for the period covered by the Access Fee paid or payable under clause 3.1. At the end of each billing period these Terms will automatically continue for another period of the same duration as that period, provided You continue to pay the prescribed Access Fee in accordance with the Fee Schedule, unless either party terminates these Terms by giving at least one month’s advance written notice. If You elect to terminate these Terms by providing one month&#039;s’ advance written notice, You shall be liable to pay all relevant Access Fees up to and including the day of termination of these Terms.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.4.</span> Breach:
                            </p><p style="text-align: left;">
                                <span style="">
                                    If You:
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.4.a. </span>breach any of these Terms and do not remedy the breach within 14 days after receiving notice of the breach if the breach is capable of being remedied;
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.4.b.</span> breach any of these Terms and the breach is not capable of being remedied (which includes (without limitation) any breach of clause 3.4 or any payment of Access Fees that are not paid in full in accordance with the requirements set out in the Fee Schedule); or
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.4.c.</span> You or Your business become insolvent or Your business goes into liquidation or has a receiver or manager appointed of any of its assets or if You become insolvent, or make any arrangement with Your creditors, or become subject to any similar insolvency event in any jurisdiction,
                            </p><p style="text-align: left;">
                                <span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style="">
                                    may take any or all of the following actions, at its sole discretion:
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.4.d.</span> Terminate this Agreement and Your use of the Services and the Website;
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.4.e. </span>Suspend for any definite or indefinite period of time, Your use of the Services and the Website;
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.4.f.</span> Suspend or terminate access to all or any Data.
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.4.g.</span> Take either of the actions in sub-clauses (d), (e) and (f) of this clause 8(4) in respect of any or all other persons whom You have authorized to have access to Your information or Data.
                            </p><p style="text-align: left;">
                                <span style="">For the avoidance of doubt, if payment of any invoice for Access Fees due in relation to any of Your Billing Contacts, Billing Plans or any of Your Organizations (as defined at clause 3) is not made in accordance with the requirements set out in the Fee Schedule, </span>The Company<span style="">
                                    may: suspend or terminate Your use of the Service, the authority for all or any of Your Organizations to use the Service, or Your rights of access to all or any Data.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.5. </span>Accrued Rights:
                            </p><p style="text-align: left;">
                                <span style="">
                                    Termination of these Terms is without prejudice to any rights and obligations of the parties accrued up to and including the date of termination. On termination of this Agreement You will:
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.5.a.</span> remain liable for any accrued charges and amounts which become due for payment before or after termination; and
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">8.5.b. </span>immediately cease to use the Services and the Website.
                            </p><p style="text-align: left;">
                                <span style="">
                                    6. Expiry or termination:
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    Clauses 3.1, 3.7, 4, 5, 6, 7, 8 and 10 survive the expiry or termination of these Terms.<br /><br />
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    9. Help Desk
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">9.1.</span> Technical Problems:
                            </p><p style="text-align: left;"><span style="">In the case of technical problems You must make all reasonable efforts to investigate and diagnose problems before contacting </span>The Company<span style=""> If You still need technical help, please check the support provided online by </span>The Company<span style=""> on the Website or failing that email us at support@</span>ConnectWIZZ<span style="">.net.</span></p><p style="text-align: left;">
                                <span style="font-weight: bold;">9.2.</span> Service availability:
                            </p><p style="text-align: left;">
                                <span style="">Whilst </span>The Company<span style="">
                                    intends that the Services should be available 24 hours a day, seven days a week, it is possible that on occasions the Services or Website may be unavailable to permit maintenance or other development activity to take place.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">If for any reason </span>The Company<span style=""> has to interrupt the Services for longer periods than </span>The Company<span style=""> would normally expect, </span>The Company<span style="">
                                    will use reasonable endeavors to publish in advance details of such activity on the Website.<br /><br />
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    10. General
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">10.1. </span>Entire agreement:
                            </p><p style="text-align: left;"><span style="">These Terms, together with </span><span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style="font-size: 1.21429rem;"> Privacy Policy and the terms of any other notices or instructions given to You under these Terms of Use, supersede and extinguish all prior agreements, representations (whether oral or written), and understandings and constitute the entire agreement between You and </span>The Company<span style="font-size: 1.21429rem;"> relating to the Services and the other matters dealt with in these Terms.</span></p><p style="text-align: left;">
                                <span style="font-weight: bold;">10.2. </span>Waiver:
                            </p><p style="text-align: left;">
                                <span style="">
                                    If either party waives any breach of these Terms, this will not constitute a waiver of any other breach. No waiver will be effective unless made in writing.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">10.3.</span> Delays:
                            </p><p style="text-align: left;">
                                <span style="">
                                    Neither party will be liable for any delay or failure in performance of its obligations under these Terms if the delay or failure is due to any cause outside its reasonable control. This clause does not apply to any obligation to pay money.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">10.4. </span>No Assignment:
                            </p><p style="text-align: left;">
                                <span style="">You may not assign or transfer any rights to any other person without </span>The Company<span style="">
                                    &#039;s prior written consent.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">10.5. </span>Governing law and jurisdiction:
                            </p><p style="text-align: left;">
                                <span style="">If You are a  resident of the United States of America or the information or Data You are accessing using the Services and the Website is solely that of a person who is a resident in the United States of America at the time that You accept these terms then the laws of the State of California, U.S.A govern this Agreement and </span>The Company<span style="">
                                    and You agree that the U.S. Dispute Resolution Process described below applies for all disputes arising out of or in connection with this Agreement or in any way relating to the Service – PLEASE READ THE U.S. DISPUTE RESOLUTION PROCESS CAREFULLY AS IT REQUIRES THE USE OF ARBITRATION ON AN INDIVIDUAL BASIS TO RESOLVE DISPUTES, RATHER THAN JURY TRIALS OR CLASS ACTIONS, AND ALSO LIMITS THE REMEDIES AVAILABLE TO YOU IN THE EVENT OF A DISPUTE. If the information or Data You are accessing using the Services and the Website is solely that of a person who is a resident in Australia at the time that You accept these terms then Australian law governs this Agreement and You submit to the exclusive jurisdiction of the courts of Australia for all disputes arising out of or in connection with this Agreement. In all other situations this Agreement is governed by the laws of England and Wales and You hereby submit to the exclusive jurisdiction of the courts of England and Wales for all disputes arising out of or in connection with this Agreement.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    10.6. Severability:
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">
                                    If any part or provision of these Terms is invalid, unenforceable or in conflict with the law, that part or provision is replaced with a provision which, as far as possible, accomplishes the original purpose of that part or provision. The remainder of this Agreement will be binding on the parties.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    10.7. Notices:
                                </span>
                            </p><p style="text-align: left;">
                                <span style="">Any notice given under these Terms by either party to the other must be in writing by email and will be deemed to have been given on transmission. Notices to </span>The Company<span style=""> must be sent to info@</span>ConnectWIZZ<span style="">.net or to any other email address notified by email to You by </span>The Company<span style="">
                                    Notices to You will be sent to the email address which You provided when setting up Your access to the Service.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    10.8. Rights of Third Parties:
                                </span>
                            </p><p style="text-align: left;"><span style="">A person who is not a party to these Terms has no right to benefit under or to enforce any term of these Terms.<br /><br /><span style="font-weight: bold;">11. Users - Uploading of images / Videos / Text and any other Content</span></span></p><p style="text-align: left;"><span style="">By uploading an image or video you guarantee that you have read these Terms and Conditions for uploading images, photos and videos (Image/s) to the </span>The Company<span style="font-size: 1.21429rem;"> websites and that you agree to abide by all clauses within these Terms and Conditions. You also understand and agree that nothing in this agreement obligates </span>The Company<span style="font-size: 1.21429rem;"> to display or use your Images.</span></p><p style="text-align: left;"><span style="font-weight: bold;">11.1.</span> Copyright Ownership</p><p style="text-align: left;"><span style="">By uploading an Image to </span><span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style="font-size: 1.21429rem;"> websites you guarantee that you are the legal owner of the copyright of that Image, or have been awarded full and unrestricted rights from the copyright owner to upload and utilise the Image for the purposes of </span>The Company<span style="font-size: 1.21429rem;"> Guides or any other distribution channels including, but not limited to </span>The Company<span style="font-size: 1.21429rem;"> websites, selected 3rd party websites. Images that are considered to infringe the copyright or trademarks of other individuals, organisations or companies will be deleted.</span></p><p style="text-align: left;"><span style="font-weight: bold;">11.2.</span> Third Party Rights</p><p style="text-align: left;">
                                <span style="">By uploading an Image you guarantee that such use of the Image in </span>The Company<span style="">
                                    does not violate the rights of any other party, does not result in a breach of contract between you and another party and that you accept responsibility for any royalties or fees due to any other party from the use of the uploaded Image.
                                </span>
                            </p><p style="text-align: left;"><span style="font-weight: bold;">11.3. </span>People seen in images</p><p style="text-align: left;">
                                <span style="">
                                    By uploading an Image you guarantee that any people which are clearly identifiable have consented to have their likeness printed or displayed, or that you have full rights to use the Image in this manner and accept full responsibility for such use.
                                </span>
                            </p><p style="text-align: left;"><span style="font-weight: bold;">11.4.</span> Accepting and rejecting images</p><p style="text-align: left;">
                                <span style="">All Images uploaded to </span>The Company<span style=""> websites will be assessed by </span>The Company<span style="">. </span>The Company<span style=""> reserve the right to either reject or accept any image. Images that are rejected will be deleted from </span>The Company<span style=""> websites, with no copies remaining.. The decisions of </span>The Company<span style=""> websites are irrevocable. </span>The Company<span style="">
                                    reserves the right to reject and remove any uploaded Image from display on its website, for any reason, at any time, without prior notice.
                                </span>
                            </p><p style="text-align: left;"><span style="font-weight: bold;">11.5.</span> Responsibility of content</p><p style="text-align: left;">
                                <span style="">When uploading an Image you are solely responsible for its content and for any offence, claims or damages that arise from the content of that Image. The approval and publication of Images in </span>The Company<span style=""> websites in no way alters or diminishes your responsibility. Nor does it transfer any responsibility for the content of the Image to </span>The Company<span style="">
                                    or the Editor who approves the Image for publication.
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">11.6.</span> Rights granted to The Company
                            </p><p style="text-align: left;"><span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style=""> does not claim any copyright or any kind of ownership rights to the Images you upload to </span>The Company<span style=""> websites. However, by uploading an Image to </span><span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style="font-size: 1.21429rem;"> websites you thereby grant to </span>The Company<span style="font-size: 1.21429rem;"> and its licensees a royalty-free, non-exclusive, worldwide right to copy, crop, reproduce, edit, publish, display, distribute or otherwise use the image or video </span>publicly<span style="font-size: 1.21429rem;"> in all languages and all media, whether now known or hereinafter devised, including without limitation including in the Guides in perpetuity.</span></p><p style="text-align: left;"><span style="font-weight: bold;">11.7. </span>No derivative Works of User images</p><p style="text-align: left;">
                                <span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style="">
                                    guarantees that it will not create any derivative work from your Images nor modify the content without your consent, though it reserves the right to crop images or videos or to make adjustments to the brightness, exposure, colours or general appearance of any Image that it believes warrants such adjustment for the purpose of better display.
                                </span>
                            </p><p style="text-align: left;"><span style="font-weight: bold;">11.8. </span>Selected images for promotions</p><p style="text-align: left;">
                                <span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style=""> may select certain Images that you upload to </span>The Company<span style=""> websites for promotional activities of </span>The Company<span style=""> business, including but not limited to: use in </span>The Company<span style="">
                                    s own promotional materials either on-line or in printed form.
                                </span>
                            </p><p style="text-align: left;"><span style="font-weight: bold;">11.9.</span>  Image content</p><p style="text-align: left;">
                                <span style="">You should only upload Images that are relevant and appropriate to your stores. You must not upload photographs that contain objectionable content, including but not limited to nudity, violence, and other offensive, illegal or inappropriate images or videos. The content of some Images - particularly nudity - might be offensive to persons from cultures whose values differ from yours. Thus </span>The Company<span style="">
                                    reserves the right to delete Images its Editors consider potentially offensive to some as &#039;sensitive.&#039;
                                </span>
                            </p><p style="text-align: left;"><span style="font-weight: bold;">11.10.</span> Indemnity from claims</p><p style="text-align: left;">
                                <span style="">You agree to indemnify and hold </span>The Company<span style=""> and its subsidiaries, affiliates, officers, employees and representatives free from any claim or demand made by any third party due to or arising out of your uploading to </span>The Company<span style="">
                                    of any Images or from any violation of any other party&#039;s rights caused by the use of or the content within the Images you upload.
                                </span>
                            </p><p style="text-align: left;"><span style="font-weight: bold;">11.11.</span> Updating these terms and conditions</p><p style="text-align: left;"><span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style=""> reserves the right in its sole and absolute discretion to alter these terms at any time for any reason without prior notice. You are responsible for keeping yourself updated on any such changes herein that might affect you.<br /><br /><br /></span><span style="font-weight: bold; font-size: 1.21429rem;">12. Additional terms for United States of America</span><span style=""><br /></span></p><p style="text-align: left;">
                                <span style="">
                                    If You are a tax resident of the United States of America or the information or Data You are accessing using the Services and the Website is solely that of a person who is a tax resident in the United States of America, the following additional terms apply:
                                </span>
                            </p><p style="text-align: left;">
                            </p><p style="text-align: left;">
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    Consumers
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-size: 1.21429rem; text-align: center;">The Company</span><span style="">
                                    is not intended for consumer use (i.e., use for personal, family or household purposes).
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">
                                    U.S. Dispute Resolution Process
                                </span>
                            </p><p style="text-align: left;">
                                PLEASE READ THIS CAREFULLY – IT AFFECTS YOUR RIGHTS.
                            </p><p style="text-align: left;">
                                <span style="">The following U.S. Dispute Resolution Process applies to residents in the United States of America, or if the information or Data You are accessing using the Services and the Website is that of a person who is a resident in the United States of America at the time that You accept these terms or if you otherwise seek to resolve a dispute in the U.S.  If You are a resident in the United States of America or the information or Data You are accessing using the Services and the Website is that of a person who is a resident in the United States of America at the time that You accept these terms, You agree with </span>The Company<span style="">
                                    as follows:
                                </span>
                            </p><p style="text-align: left;">
                                <span style="font-weight: bold;">12.1.</span>     Summary:
                            </p><p style="text-align: left;"><span style="">Most customer concerns can be resolved quickly and to the customer&#039;s satisfaction by emailing our customer experience team at info@</span>ConnectWIZZ.net<span style="">. IN THE UNLIKELY EVENT THAT OUR CUSTOMER EXPERIENCE TEAM IS UNABLE TO RESOLVE A COMPLAINT YOU MAY HAVE TO YOUR SATISFACTION (OR IF WE HAVE NOT BEEN ABLE TO RESOLVE A DISPUTE WE HAVE WITH YOU AFTER ATTEMPTING TO DO SO INFORMALLY), WE EACH AGREE TO RESOLVE THOSE DISPUTES THROUGH BINDING ARBITRATION OR SMALL CLAIMS COURT INSTEAD OF IN COURTS OF GENERAL JURISDICTION. Arbitration is more informal than a lawsuit in court. Arbitration uses a neutral arbitrator instead of a judge or jury, allows for more limited discovery than in court, and is subject to very limited review by courts. Arbitrators can award the same damages and relief that a court can award. ANY ARBITRATION UNDER THIS AGREEMENT WILL TAKE PLACE ON AN INDIVIDUAL BASIS; YOU AGREE  WITH </span>THE COMPANY<span style=""> THAT CLASS ARBITRATIONS AND CLASS ACTIONS ARE NOT PERMITTED. For any non-frivolous claim that does not exceed $10,000, </span>The Company<span style="font-size: 1.21429rem;"> will pay AAA filing, administrative and arbitrator costs. Moreover, in arbitration You are entitled to recover attorneys&#039; fees from </span>The Company<span style="font-size: 1.21429rem;"> to at least the same extent as You would be in court.</span></p><p style="text-align: left;">
                                <span style="font-weight: bold;">12.2.</span> U.S. Dispute Resolution Process.
                            </p><p style="text-align: left;">
                                <span style="">ANY DISPUTE OR CLAIM RELATING IN ANY WAY TO THE SERVICE OR THIS AGREEMENT WILL BE RESOLVED BY BINDING ARBITRATION, RATHER THAN IN COURT, except that You may assert claims in small claims court if Your claims qualify.  The Federal Arbitration Act governs the interpretation and enforcement of this provision; the arbitrator shall apply California law to all other matters.  Notwithstanding anything to the contrary, any party to the arbitration may at any time seek injunctions or other forms of equitable relief from any court of competent jurisdiction. WE EACH AGREE THAT ANY AND ALL DISPUTES MUST BE BROUGHT IN THE PARTIES&#039; INDIVIDUAL CAPACITY AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING.  BY ENTERING INTO THIS AGREEMENT AND AGREEING TO ARBITRATION, YOU AGREE WITH </span>THE COMPANY<span style=""> THAT YOU AND </span>THE COMPANY<span style=""> ARE EACH WAIVING THE RIGHT TO FILE A LAWSUIT AND THE RIGHT TO A TRIAL BY JURY.  IN ADDITION, YOU AGREE WITH </span>THE COMPANY<span style=""> TO WAIVE THE RIGHT TO PARTICIPATE IN A CLASS ACTION OR LITIGATE ON A CLASS-WIDE BASIS.  YOU AGREE WITH </span>THE COMPANY<span style="">
                                    THAT YOU HAVE EXPRESSLY AND KNOWINGLY WAIVED THESE RIGHTS.
                                </span>
                            </p><p style="text-align: left;"><span style="">To begin an arbitration proceeding, send a letter requesting arbitration and describing Your claim to </span>Connect WIZZ,<span style=""> 354 Mari Circle, Dublin, California United Sates of America </span><span style="font-size: 1.21429rem; text-align: center;">94568</span><span style="font-size: 1.21429rem;">.</span></p><p style="text-align: left;">
                                <span style="">Arbitration will be conducted by the American Arbitration Association (AAA) before a single AAA arbitrator under the AAA’s rules, which are available at www.adr.org or by calling 1-800-778-7879.  Payment of all filing, administration and arbitrator fees and costs will be governed by the AAA&#039;s rules.  In addition, </span>The Company<span style=""> will reimburse those fees and costs for claims totaling less than $10,000 unless the arbitrator determines the claims are frivolous.  Likewise, </span>The Company<span style=""> will not seek its attorneys’ fees or costs in arbitration unless the arbitrator determines Your claims or defenses are frivolous.  You agree with </span>The Company<span style=""> that You or </span>The Company<span style=""> may choose to have the arbitration conducted by telephone or based on written submissions.  You agree with </span>The Company<span style=""> that in person arbitration will be conducted in the county in which You reside or at another mutually agreeable location.  You agree with </span>The Company<span style=""> that the decision of the arbitrator shall be final and not appeal-able, and judgment on the arbitration award may be entered in any court having jurisdiction thereof.  You agree with </span>The Company<span style="">
                                    that the U.S. Dispute Resolution Process shall survive expiration, termination or rescission of this Agreement.
                                </span>
                            </p><p style="text-align: left;">
                            </p><p style="text-align: left;"><br /></p>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </main>


    <script type="text/javascript">if (!window.BX) window.BX = {}; if (!window.BX.message) window.BX.message = function (mess) { if (typeof mess === 'object') { for (let i in mess) { BX.message[i] = mess[i]; } return true; } };</script>
    <script type="text/javascript">(window.BX || top.BX).message({ 'JS_CORE_LOADING': 'Loading...', 'JS_CORE_WINDOW_CLOSE': 'Close', 'JS_CORE_WINDOW_EXPAND': 'Expand', 'JS_CORE_WINDOW_NARROW': 'Restore', 'JS_CORE_WINDOW_SAVE': 'Save', 'JS_CORE_WINDOW_CANCEL': 'Cancel', 'JS_CORE_H': 'h', 'JS_CORE_M': 'm', 'JS_CORE_S': 's', 'JS_CORE_NO_DATA': '- No data -', 'JSADM_AI_HIDE_EXTRA': 'Hide extra items', 'JSADM_AI_ALL_NOTIF': 'All notifications', 'JSADM_AUTH_REQ': 'Authentication is required!', 'JS_CORE_WINDOW_AUTH': 'Log In', 'JS_CORE_IMAGE_FULL': 'Full size', 'JS_CORE_WINDOW_CONTINUE': 'Continue' });</script>
    <script type="text/javascript" src="/bitrix/js/main/core/core.min.js?1610634022252123"></script>
    <script>
    BX.setJSList(['/bitrix/js/main/core/core_ajax.js', '/bitrix/js/main/core/core_promise.js', '/bitrix/js/main/polyfill/promise/js/promise.js', '/bitrix/js/main/loadext/loadext.js', '/bitrix/js/main/loadext/extension.js', '/bitrix/js/main/polyfill/promise/js/promise.js', '/bitrix/js/main/polyfill/find/js/find.js', '/bitrix/js/main/polyfill/includes/js/includes.js', '/bitrix/js/main/polyfill/matches/js/matches.js', '/bitrix/js/ui/polyfill/closest/js/closest.js', '/bitrix/js/main/polyfill/fill/main.polyfill.fill.js', '/bitrix/js/main/polyfill/find/js/find.js', '/bitrix/js/main/polyfill/matches/js/matches.js', '/bitrix/js/main/polyfill/core/dist/polyfill.bundle.js', '/bitrix/js/main/core/core.js', '/bitrix/js/main/polyfill/intersectionobserver/js/intersectionobserver.js', '/bitrix/js/main/lazyload/dist/lazyload.bundle.js', '/bitrix/js/main/polyfill/core/dist/polyfill.bundle.js', '/bitrix/js/main/parambag/dist/parambag.bundle.js']);
        BX.setCSSList(['/bitrix/js/main/core/css/core.css', '/bitrix/js/main/lazyload/dist/lazyload.bundle.css', '/bitrix/js/main/parambag/dist/parambag.bundle.css']);</script>
    <script type="text/javascript">(window.BX || top.BX).message({ 'MAIN_SIDEPANEL_CLOSE': 'Close', 'MAIN_SIDEPANEL_PRINT': 'Print' });</script>
    <script type="text/javascript">(window.BX || top.BX).message({ 'LANGUAGE_ID': 'en', 'FORMAT_DATE': 'DD.MM.YYYY', 'FORMAT_DATETIME': 'DD.MM.YYYY HH:MI:SS', 'COOKIE_PREFIX': 'BITRIX_SM', 'SERVER_TZ_OFFSET': '10800', 'SITE_ID': 's1', 'SITE_DIR': '/', 'USER_ID': '', 'SERVER_TIME': '1611565069', 'USER_TZ_OFFSET': '0', 'USER_TZ_AUTO': 'Y', 'bitrix_sessid': 'af3932282a21c6c8dc3e11ffd534d354' });</script>
    <script type="text/javascript" src="/bitrix/js/main/polyfill/customevent/main.polyfill.customevent.min.js?1544619813556"></script>
    <script type="text/javascript" src="/bitrix/js/ui/dexie/dist/dexie.bitrix.bundle.min.js?159049177860291"></script>
    <script type="text/javascript" src="/bitrix/js/main/core/core_ls.min.js?14328944187365"></script>
    <script type="text/javascript" src="/bitrix/js/main/core/core_fx.min.js?14909536449768"></script>
    <script type="text/javascript" src="/bitrix/js/main/core/core_frame_cache.min.js?159765985710532"></script>
    <script type="text/javascript" src="/bitrix/js/landing/metrika/dist/metrika.bundle.min.js?16085558822654"></script>
    <script type="text/javascript" src="/bitrix/js/main/pageobject/pageobject.min.js?1584117434570"></script>
    <script type="text/javascript" src="/bitrix/js/main/sidepanel/manager.min.js?160440920919287"></script>
    <script type="text/javascript" src="/bitrix/js/main/sidepanel/slider.min.js?160440918227255"></script>
    <script type="text/javascript">var bxDate = new Date(); document.cookie = "BITRIX_SM_TIME_ZONE=" + bxDate.getTimezoneOffset() + "; path=/; expires=Sat, 01 Jan 2022 00:00:00 +0300"</script>
    <script>
        (function (w, d, u) {
            var s = d.createElement('script'); s.async = true; s.src = u + '?' + (Date.now() / 60000 | 0);
            var h = d.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s, h);
        })(window, document, 'https://cdn.bitrix24.com/b5940105/landing/assets/assets_webpack_8f618e5f98_1611565069.js');
    </script>



    <script type="text/javascript" src="/bitrix/templates/landing24/assets/js/helpers/lazyload.min.js?15994906851713"></script>
    <script type="text/javascript" src="/bitrix/components/bitrix/landing.pub/templates/.default/script.min.js?16085558823456"></script>
    <script>
        (function () {
            new BX.Landing.Metrika();
        })();
    </script>

    <script>
        (function (w, d, u) {
            var s = d.createElement('script'); s.async = true; s.src = u + '?' + (Date.now() / 60000 | 0);
            var h = d.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s, h);
        })(window, document, 'https://cdn.bitrix24.com/b5940105/crm/tag/call.tracker.js');
    </script>
</body>
</html>