@using SG2.CORE.MODAL.DTO.Customers
@{

    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout_LoggedInStack.cshtml";

    var currentUser = (CustomerDTO)ViewBag.CurrentUser;
    var socailProfiles = (List<CustomerSocialProfileDTO>)ViewBag.SocailProfiles;

    List<SelectListItem> profiles = new List<SelectListItem>();
    foreach (var item in socailProfiles)
    {
        profiles.Add(new SelectListItem { Text = item.ProfileName, Value = item.SocialProfileId.ToString() });
    }

}

<!-- BEGIN: Content-->
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Select a growth engine you want to tweak and boost</h3>
               
            </div>
            <div class="content-header-right col-md-6 col-12">
                <div class="media width-250 float-right">
                    <div class="media-right text-right">
                        <div id="sp-bar-total-sales"></div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Extra large table start -->
            <div class="row match-height">
                <div class="col-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Social media profiles (CRM)</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-blue"><i class="fa fa-plus"></i> Social Media Profile</button>


                                </div>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <p class="card-text">Max 5 social profiles permitted.<br />Upgrade to afilliate and manage more profiles with greater features and discounts.</p>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-xl mb-0">

                                    <tbody>
                                        @foreach (var item in socailProfiles)
                                        {
                                            <tr>
                                                <th scope="row">
                                                    @if (item.SocialProfileTypeId == 30)
                                                    {
                                                        <img src="~/Content/ThemeAssets/Images/InstagramLogoTransparent.png" width="49" class="float-left" />
                                                    }
                                                    <a href="/Profile/Basic?socialProfileId=@item.SocialProfileId"><h4>@item.SocialUsername</h4></a>
                                                </th>
                                                <td>
                                                    <div class="badge badge-primary label-square">
                                                        <i class="fa fa-paperclip font-medium-2"></i>
                                                        <span>Active</span>
                                                    </div>
                                                </td>

                                                <td>
                                                    @if (@socailProfiles.FirstOrDefault().SubscriptionName != null)
                                                    {
                                                        <div class="badge badge-success label-square">Plan: @item.SubscriptionName</div>
                                                    }
                                                    else
                                                    {
                                                        <b>Free Plan</b>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-content">
                            <img class="card-img-top img-fluid" src="~/Content/app-assets/images/carousel/06.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Become an Afilliate</h4>
                                <p class="card-text">
                                    Select a growth engine you want to tweak and boost
                                    .
                                </p>
                                <a href="#" class="btn btn-success">GBecome an Afilliate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Extra large table end -->
        </div>
    </div>
</div>
<!-- END: Content-->




















