@using SG2.CORE.MODAL.DTO.Customers
@{

    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout_LoggedIn.cshtml";

    var currentUser = (CustomerDTO)ViewBag.CurrentUser;
    var socailProfiles = (List<CustomerSocialProfileDTO>)ViewBag.SocailProfiles;

    List<SelectListItem> profiles = new List<SelectListItem>();
    foreach (var item in socailProfiles)
    {
        profiles.Add(new SelectListItem { Text = item.ProfileName, Value = item.SocialProfileId.ToString() });
    }

}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Select which growth engine you want to tweak and boost.</h6>
            </div>
            <div class="col-4 text-right">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-plus"></i> Become an Afilliate
                </button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <h4>Social Media Profiles</h4>
            </div>
            <div class="col-4 text-right">

                <button type="button" class="btn btn-primary">

                    <i class="fa fa-plus"></i> Social Media Profile
                </button>


            </div>
        </div>
        <div class="row mt-3">
            <div class="table-responsive">
                <table class="table table-hover">

                    @foreach (var item in socailProfiles)
                    {
                        <tr>
                            <td class="align-middle">
                                @if (item.SocialProfileTypeId == 30)
                                {
                                    <img src="~/Content/ThemeAssets/Images/InstagramLogoTransparent.png" width="49" class="float-left" />
                                }
                                <a href="/Profile/Basic?socialProfileId=@item.SocialProfileId"><h4>@item.SocialUsername</h4></a>
                            </td>
                            <td class="text-right align-middle">
                                @if (@socailProfiles.FirstOrDefault().SubscriptionName != null)
                                {
                                    <h4>Plan: @item.SubscriptionName</h4>
                                }
                                else
                                {
                                    <b>Free Plan</b>
                                }
                            </td>

                        </tr>
                    }
                </table>
            </div>
            <div class="col-xs-12">
                &nbsp;
            </div>

        </div>
    </div>
</div>
@section footer
{

    <span class="text-muted">Max 5 social profiles permitted.</span><br />
    <span class="text-muted">Upgrade to afilliate and manage more profiles with greater features and discounts.</span>

}




<style type="text/css">
    .btn-height47 {
        height: 47px;
        font-weight: 400;
    }

    .btn-height64 {
        height: 64px;
        font-weight: 400;
        font-size: 3rem;
    }

    .btn-white {
        background-color: white;
        color: darkgray;
    }

        .btn-white:hover {
            background-color: white;
            color: darkgray;
        }

    .main .container hr {
        border-bottom: 2px solid #ccc
    }
</style>

