input.bold-product__quantity-val{
	padding: 10px 15px;
}
.bold-ro__choice-header{
  margin-right: 2em;
}


.bold-ro__products-list{
	width:100% !important;
  	margin:0 auto% !important;
  	text-align:center !important;
}

@media only screen and (min-width: 499px){
  .bold-grid__column.bold-grid__column--quarter{
    display:inline-block !important;
    float:none;
  }
}

.ro_widget{
  width: 70%;
}

.product_rp_cart_div{
  display: inline-block;
}

a[class*="_custom_button"], button[class*="bold-ro__custombutton"]{
  width: 100%;
}

span.ro-translation.ro-translation-skip_shipment_button_text {
    display: none;
}